<md-dialog aria-label="Cambiar Colegio" class="modal_colegios modal_close">
  <form ng-cloak class="editar-empresa">
    <md-dialog-content>
      <span id="topColegio" ng-init="loadTemplate()"></span>
      <div class="modal_title ">
        <h2 class="">Cambiar de Empresa</h2>
        <i class="material-icons" ng-click="cancel()">close</i>
      </div>
      <div class="md-dialog-content">
        <div class="col-md-12 container_create-emp no-padding">
          <div class="line-input_emp">
            <md-input-container class="md-block" flex-gt-sm>
              <label>Buscar</label>
              <input ng-model="searchText" ng-change="resetPage()" md-autofocus>
            </md-input-container>
            <md-list-item class="md-3-line" ng-repeat="colegio in getData()  | startFrom:currentPage*pageSize | limitTo:pageSize" ng-click="pickColegio(colegio)">
              <div class="md-list-item-text" layout="column" >
                <h4>{{ colegio.razon_social }} {{ colegio.cuit }}</h4> 
              </div>
            </md-list-item>
          </div>         
          <center> 
          <md-button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
            <i class="fa fa-angle-double-left" aria-hidden="true"></i>

          </md-button>
          <span class="page-number">
          {{currentPage+1}}/{{numberOfPages()}}
          </span>
          <md-button ng-disabled="currentPage >= getData().length/pageSize - 1" ng-click="currentPage=currentPage+1">
             <i class="fa fa-angle-double-right" aria-hidden="true"></i>

          </md-button>
        </center>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button ng-click="cancel()">
          CANCELAR
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>