<form ng-submit="save()">
	<div class="col-xs-12 col-md-12 wrap-empresas ">
		<div class="container empresas list">
			<div class="col-md-12 no-padding ">
				<div class="col-md-12 no-padding box-edit-empresa">
					<div class="col-md-12 no-padding ">
						<div class="col-md-12 container_create-emp">
							<div class="line-input_emp">
								<md-input-container class="md-block input_sia">
									<label>Persona</label>
									<md-autocomplete style='box-shadow: none!important;' required md-no-cache="true" md-selected-item="legajo.persona" md-selected-item-change="selectItemChange(persona)"
									 md-items="persona in searchPersona(searchText)" md-search-text="searchText" md-item-text="persona.nombre">
										<md-item-template>
											<span md-highlight-text="searchText">{{persona.nombre}} - {{persona.dni}}</span>
										</md-item-template>
									</md-autocomplete>
								</md-input-container>
							</div>
							<div class="line-input_emp">
								<md-input-container class="md-block input_sia-min">
									<label>Subempresa</label>
									<md-select ng-model="legajo.subempresa" required ng-change="getCargos()">
										<md-option
											ng-repeat="subempresa in subempresas" 
											ng-selected="legajo.subempresa._id == subempresa.subempresa_id || legajo.subempresa._id == subempresa._id" 
											ng-value="subempresa"
										>
											{{subempresa.descripcion}}
										</md-option>
									</md-select>
								</md-input-container>
								<md-input-container class="md-block input_sia-min" flex-gt-sm>
									<md-autocomplete 
										required
										md-selected-item="legajo.cargo"
										md-search-text="searchTextCargo"
										md-items="cargo in filtrarCargos(legajo.subempresa) | filter:searchTextCargo"
										md-item-text="cargo.nombre"
										md-min-length="0"
										md-no-cache="true"
										placeholder="Ingresar cargo"
									>
									<md-item-template>
										<span md-highlight-text="ctrl.searchTextCargo" md-highlight-flags="^i">{{cargo.nomenclatura}} - {{cargo.nombre}}</span>
									</md-item-template>
							</md-input-container>
							<md-input-container class="md-block input_sia-min" flex-gt-sm>
								<label>Cargo editable</label>
								<input ng-model="legajo.cargo_editable" type="text">
							</md-input-container>
						</div>
						<div class="line-input_emp">
								<md-input-container class="md-block input_sia-min" flex-gt-sm>
									<label>Numero de Legajo</label>
									<input ng-model="legajo.numero_legajo" type="number">
								</md-input-container>
								<md-input-container class="md-block input_sia-min" flex-gt-sm>
									<label>Ordenador</label>
									<input ng-model="legajo.ordenador" type="text">
								</md-input-container>
								<md-input-container class="md-block input_sia-min">
									<label>Caracter</label>
									<md-select ng-model="legajo.caracter">
										<md-option value="T">T</md-option>
										<md-option value="S">S</md-option>
										<md-option value="C">C</md-option>
										<md-option value="A">A</md-option>
										<md-option value="F">F</md-option>
										<md-option value="V">V</md-option>
										<md-option value="M">M</md-option>
										<md-option value="H">H</md-option>
										<md-option value="P">P</md-option>
										<md-option value="Z">Z</md-option>
									</md-select>
								</md-input-container>
								<md-input-container class="md-block input_sia-min">
									<label>Provincia</label>
									<md-select ng-model="legajo.provincia">
										<md-option selected value="CAPITAL FEDERAL">CAPITAL FEDERAL</md-option>
										<md-option value="PROVINCIA BS. AS.">PROVINCIA BS. AS.</md-option>
										<md-option value="OTROS">OTROS</md-option>
									</md-select>
								</md-input-container>
							</div>
							<div class="line-input_emp">
								<md-input-container class="md-block input_sia-min" flex-gt-sm>
									<label>Años</label>
									<input ng-model="legajo.antiguedad.anios" type="number" min="0">
								</md-input-container>
								<md-input-container class="md-block input_sia-min" flex-gt-sm>
									<label>Meses</label>
									<input ng-model="legajo.antiguedad.meses" type="number" min="0" max="11">
								</md-input-container>
								<md-input-container class="md-block input_sia-min" flex-gt-sm>
									<label>Horas</label>
									<input ng-model="legajo.horas" step="0.01" min="0" type="number">
								</md-input-container>
								<md-input-container class="md-block input_sia-min">
									<label>Estado de Legajo</label>
									<md-select ng-model="legajo.estado">
										<md-option selected value="normal">Normal</md-option>
										<md-option value="licencia">Licencia</md-option>
										<md-option value="baja">Baja</md-option>
									</md-select>
								</md-input-container>
							</div>
							<div class="line-input_emp">
								<md-input-container class="md-block input_sia-min">
									<label>Fecha Alta</label>
									<md-datepicker ng-model='legajo.fecha_alta'></md-datepicker>
								</md-input-container>
								<md-input-container class="md-block input_sia-min">
									<label>Fecha Baja</label>
									<md-datepicker ng-model='legajo.fecha_baja'></md-datepicker>
								</md-input-container>
								<md-input-container class="md-block input_sia-min">
									<md-checkbox ng-model='legajo.suvencion'>Suvencion</md-checkbox>
								</md-input-container>
							</div>
							<div class="line-input_emp">
								<md-input-container class="md-block input_sia" flex-gt-sm>
									<label>Observaciones</label>
									<input ng-model="legajo.observaciones" type="text">
								</md-input-container>
							</div>
							<div class="line-input_emp">
								<h5>Licencias</h5>
							</div>
							<div ng-repeat="lic in legajo.licencias" class="line-input_emp">
								<md-input-container class="md-block input_sia-min" flex-gt-sm>
									<label>Artículo</label>
									<input ng-model="legajo.licencias[$index].articulo">
								</md-input-container>
								<md-input-container class="md-block input_sia-min">
									<label>Fecha Inicio Lic.</label>
									<md-datepicker ng-model='legajo.licencias[$index].fecha_inicio'></md-datepicker>
								</md-input-container>
								<md-input-container class="md-block input_sia-min">
									<label>Fecha Fin Lic.</label>
									<md-datepicker ng-model='legajo.licencias[$index].fecha_fin'></md-datepicker>
								</md-input-container>
								<md-input-container class="md-block input_sia-min">
									<md-checkbox ng-model='legajo.licencias[$index].goce_sueldo'>
										Goce de sueldo
									</md-checkbox>
								</md-input-container>
								<md-input-container class="md-block input_sia-min">
									<md-button class="icon_borrar-empresa" ng-click='borrarLicencia($index)'>
										<i class="material-icons">delete</i>
									</md-button>
								</md-input-container>
							</div>
							<div class="line-input_emp">
								<md-input-container class="md-block input_sia-min">
									<md-button ng-click="agregarLicencia()">Agregar Licencia</md-button>
								</md-input-container>
							</div>
							<div class="line-input_emp">
								<h5>Suplencias</h5>
							</div>
							<div ng-repeat="sup in legajo.suplencias">
								<div class="line-input_emp">
									<md-input-container class="md-block input_sia-min">
										<label>Suplea</label>
										<md-autocomplete style='box-shadow: none!important;' md-no-cache="true" md-selected-item-change="selectSupleaChange(sup, legajoTitular)"
										 md-items="legajoTitular in searchSuplea(searchTextSuplea)" md-search-text="searchTextSuplea" md-item-text="legajoTitular.numero_legajo" md-selected-item="sup.legajo">
											<md-item-template>
												<span md-highlight-text="searchTextSuplea">{{legajoTitular.persona.nombre}} - {{legajoTitular.numero_legajo}}</span>
											</md-item-template>
										</md-autocomplete>
									</md-input-container>
									<md-input-container class="md-block input_sia-min">
										<label>Fecha Desde Sup.</label>
										<md-datepicker ng-model='sup.fecha_desde' ng-change="countDays(sup);"></md-datepicker>
									</md-input-container>
									<md-input-container class="md-block input_sia-min">
										<label>Fecha Hasta Sup.</label>
										<md-datepicker ng-model='sup.fecha_hasta' ng-change="countDays(sup);"></md-datepicker>
									</md-input-container>
									<md-input-container class="md-block input_sia-min">
										<md-button class="icon_borrar-empresa" ng-click='borrarSuplencia($index)'>
											<i class="material-icons">delete</i>
										</md-button>
									</md-input-container>
								</div>
								<div class="line-input_emp">
									<md-input-container class="md-block input_sia-min">
										<label>Titular</label>
										<input ng-model='sup.titular' disabled>
									</md-input-container>
									<md-input-container class="md-block input_sia-min">
										<label>Motivo</label>
										<input ng-model='sup.motivo'>
									</md-input-container>
									<md-input-container class="md-block input_sia-min">
										<label>Dias</label>
										<input ng-model='sup.dias' type="number" disabled>
									</md-input-container>
								</div>
							</div>
							<div class="line-input_emp">
									<md-input-container class="md-block input_sia-min">
										<md-button ng-click="agregarSuplencia()">Agregar Suplencia</md-button>
									</md-input-container>
								</div>
							<div class="line-input_emp">
								<h5>Importes</h5>
								<md-input-container class="md-block input_sia-min">
									<label>Importe 1</label>
									<input ng-model='legajo.importe1' type="number" step="0.01">
								</md-input-container>
								<md-input-container class="md-block input_sia-min">
									<label>Importe 2</label>
									<input ng-model='legajo.importe2' type="number" step="0.01">
								</md-input-container>
								<md-input-container class="md-block input_sia-min">
									<label>Importe 3</label>
									<input ng-model='legajo.importe3' type="number" step="0.01">
								</md-input-container>
								<md-input-container class="md-block input_sia-min">
									<label>Subsidio</label>
									<input ng-model='legajo.subsidio' type="number" step="0.01" max="100" >
								</md-input-container>
							</div>
							<div>
							</div>
							<div class="line-input_emp">
								<md-dialog-actions layout="row">
									<span flex></span>
									<!--ng-click="guardarCategorias = !guardarCategorias"-->
									<md-button type="submit" class="md-primary rellono-blue">
										GUARDAR
									</md-button>
									<md-button class="md-primary rellono-white" ui-sref="liquidacion">
										CANCELAR
									</md-button>
								</md-dialog-actions>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</form>
