<div class="col-xs-12 col-md-12 wrap-liquidacion ">
	<div class="container liquidacion">
		<h2 class="">
			<span>{{ colegio.razon_social }} -
				<span class="" href="" uib-tooltip="Cambiar periodo">{{ periodo.descripcion }}</span>
			</span>
			<i  ng-show="Date.now() < periodo.fecha_fin"
				class="fa fa-exclamation-circle" 
				aria-hidden="true" 
				uib-tooltip="ESTE PERIODO NO ES DEL MES VIGENTE"
			>				
			</i>
			<a ng-click="cambioPeriodo($event)">Cambiar Período</a>
			<a ng-click="cambioColegio($event)" style='margin-right: 20px;'>Cambiar Empresa</a>
		</h2>

		<div ng-cloak>
			<md-content>
				<md-tabs md-dynamic-height md-border-bottom>
					<md-tab label="Legajos" md-active='estado == "legajo"'>
						<ng-include 
							src="'core/main/liquidacion/tabs/legajos-tab.tpl.html'"  
							ng-controller="legajoTabController">
						</ng-include>
					</md-tab>
					<!-- Sub Empresas -->
					<md-tab label="Sub Empresas" md-active='estado == "subempresa"'>
						<ng-include 
							src="'core/main/liquidacion/tabs/subEmpresas-tab.tpl.html'"
							ng-controller="subempresasTabController">
						</ng-include>
					</md-tab>
					<!-- Conceptos -->
					<md-tab label="Conceptos" md-active='estado == "concepto"'>
						<ng-include 
							src="'core/main/liquidacion/tabs/conceptos-tab.tpl.html'"
							ng-controller="ConceptoTabController">
						</ng-include>
					</md-tab>
					<!--Ganancias -->
					<md-tab label="Ganancias" md-active='estado == "ganancias"'>
						<ng-include 
							src="'core/main/liquidacion/tabs/ganancias-tab.tpl.html'"
							ng-controller="gananciasTabController"></ng-include>
					</md-tab>
					<!-- periodos -->
					<md-tab label="Periodos" md-active='estado == "periodo"'>
						<ng-include 
							src="'core/main/liquidacion/tabs/periodos-tab.tpl.html'"
							ng-controller="periodosTabController"></ng-include>
					</md-tab>
					<!-- personas -->
					<md-tab label="Padrón" md-active='estado == "personas"'>
						<ng-include 
							src="'core/main/liquidacion/tabs/personas-tab.tpl.html'"
							ng-controller="personasTabController"></ng-include>
					</md-tab>
					<!-- antiguedad -->
					<md-tab label="Antigüedad" md-active='estado == "antiguedad"'>
						<ng-include 
							src="'core/main/liquidacion/tabs/antiguedad-tab.tpl.html'"
							ng-controller="antiguedadTabController">
						</ng-include>
					</md-tab>
					<md-tab label="Reportes" md-active='estado == "reportes"'>
						<ng-include 
							src="'core/main/liquidacion/tabs/reportes-tab.tpl.html'"
							ng-controller="reportesTabController">
						</ng-include>
					</md-tab>
					<md-tab label="Variables" md-active='estado == "variables"'>
						<ng-include 
							src="'core/main/liquidacion/tabs/variables-tab.tpl.html'"
							ng-controller="ValoresTabController">
						</ng-include>
					</md-tab>
				</md-tabs>
			</md-content>
		</div>
	</div>
</div>
