<md-dialog aria-label="Agregar Concepto" class="modal_colegios modal_close">
  <form >
    <md-dialog-content>
      <span id="topColegio" ng-init="loadTemplate()"></span>
      <div class="modal_title ">
        <h2 class="">Memo</h2>
        <i class="material-icons" ng-click="cancel()">close</i>
      </div>
      <div class="md-dialog-content">
        <div class="col-md-12 container_create-emp no-padding">
          <md-input-container class="md-block">
            <label>Ingrese el texto</label>
            <textarea ng-model="memo" md-maxlength="200" rows="5" md-select-on-focus></textarea>
          </md-input-container>
        </md-dialog-content>
        <md-dialog-actions layout="row">
          <md-button type="submit" ng-click="save()" class="md-primary rellono-blue">
            GUARDAR
          </md-button>
          <md-button ng-click="cancel()">
            CANCELAR
          </md-button>
        </md-dialog-actions>
      </form>
    </md-dialog>
