<div class="col-xs-12 col-md-12 wrap-empresas ">
    <div class="container empresas list">
        <div class="col-md-12 no-padding">
            <div class="col-md-12 title-seccion-container">
                <h1 class="sub-seccion-h1">{{banco.banco.nombre}}</h1>
            </div>
            <div class="table-responsive col-md-12">
                HEAD
                <md-button ng-click="agregarColumna('head')" class="pull-right">Agregar</md-button>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Columna</th>
                            <th>Ancho</th>
                            <th>Alinea</th>
                            <th>Relleno</th>
                            <th>Literal</th>
                            <th>Formula</th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="item in banco.head">
                        <tr>
                            <td ng-bind="item.columna"></td>
                            <td ng-bind="item.ancho"></td>
                            <td ng-bind="item.alinea"></td>
                            <td ng-bind="item.relleno"></td>
                            <td ng-bind="item.literal"></td>
                            <td ng-bind="item.formula"></td>
                            <td class="text-right">
                                <a class="icon_borrar-empresa" ng-click="editarColumna('head', $index)">
                                    <i class="material-icons">create</i>
                                </a>
                                <a href="#" class="icon_borrar-empresa">
                                    <i ng-click="eliminarColumna('head', $index)" class="material-icons">delete</i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <paging page="currentPage" page-size="pageSize" total="total" show-prev-next="true" show-first-last="true" paging-action="paging(page)">
                </paging>
            </div>

            <div class="table-responsive col-md-12">
                BODY
                <md-button ng-click="agregarColumna('body')" class="pull-right">Agregar</md-button>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Columna</th>
                            <th>Ancho</th>
                            <th>Alinea</th>
                            <th>Relleno</th>
                            <th>Literal</th>
                            <th>Formula</th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="item in banco.body">
                        <tr>
                            <td ng-bind="item.columna"></td>
                            <td ng-bind="item.ancho"></td>
                            <td ng-bind="item.alinea"></td>
                            <td ng-bind="item.relleno"></td>
                            <td ng-bind="item.literal"></td>
                            <td ng-bind="item.formula"></td>
                            <td class="text-right">
                                <a class="icon_borrar-empresa" ng-click="editarColumna('body', $index)">
                                    <i class="material-icons">create</i>
                                </a>
                                <a href="#" class="icon_borrar-empresa">
                                    <i ng-click="eliminarColumna('body', $index)" class="material-icons">delete</i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <paging page="currentPage" page-size="pageSize" total="total" show-prev-next="true" show-first-last="true" paging-action="paging(page)">
                </paging>
            </div>

            <div class="table-responsive col-md-12">
                FOOTER
                <md-button ng-click="agregarColumna('footer')" class="pull-right">Agregar</md-button>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Columna</th>
                            <th>Ancho</th>
                            <th>Alinea</th>
                            <th>Relleno</th>
                            <th>Literal</th>
                            <th>Formula</th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="item in banco.footer">
                        <tr>
                            <td ng-bind="item.columna"></td>
                            <td ng-bind="item.ancho"></td>
                            <td ng-bind="item.alinea"></td>
                            <td ng-bind="item.relleno"></td>
                            <td ng-bind="item.literal"></td>
                            <td ng-bind="item.formula"></td>
                            <td class="text-right">
                                <a class="icon_borrar-empresa" ng-click="editarColumna('footer', $index)">
                                    <i class="material-icons">create</i>
                                </a>
                                <a href="#" class="icon_borrar-empresa">
                                    <i ng-click="eliminarColumna('footer', $index)" class="material-icons">delete</i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <paging page="currentPage" page-size="pageSize" total="total" show-prev-next="true" show-first-last="true" paging-action="paging(page)">
                </paging>
            </div>
        </div>
    </div>