<md-dialog aria-label="Cambiar Colegio" class="modal_colegios modal_close">
    <form ng-cloak class="editar-empresa">
        <md-dialog-content>
            <span id="topColegio" ng-init="loadTemplate()"></span>
            <div class="modal_title">
                <h2 class="">Adherentes</h2>
                <i class="material-icons" ng-click="cancel()">close</i>
            </div>
            <div class="md-dialog-content">
                <div class="line-input_emp margin-top_check">
                    <md-input-container class="md-block input_sia-min" flex-gt-sm>
                        <label>Columna</label>
                        <input ng-model="columna.columna" type="number">
                    </md-input-container>
                    <md-input-container class="md-block input_sia-min" flex-gt-sm>
                        <label>Ancho</label>
                        <input ng-model="columna.ancho" type="number">
                    </md-input-container>
                    <md-input-container class="md-block input_sia-min" flex-gt-sm>
                        <label>Alineación</label>
                        <md-select required ng-model="columna.alinea">
                            <md-option value="DER">Derecha</md-option>
                            <md-option value="IZQ">Izquierda</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="md-block input_sia-min" flex-gt-sm>
                        <label>Relleno</label>
                        <input ng-model="columna.relleno">
                    </md-input-container>
                    <md-input-container class="md-block input_sia-min" flex-gt-sm>
                        <label>Literar</label>
                        <input ng-model="columna.literal">
                    </md-input-container>
                    <md-input-container class="md-block input_sia-min" flex-gt-sm>
                        <label>Formula</label>
                        <input ng-model="columna.formula">
                    </md-input-container>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button ng-click="save()">
                GUARDAR
            </md-button>
            <md-button ng-click="cancel()">
                CANCELAR
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>