<md-dialog aria-label="Crear Empresa" class="modal_bancos modal_close" style="width: 40%;">
  <form ng-cloak class="editar-empresa">
    <md-dialog-content>
      <div class="modal_title ">
        <h2 class=""></h2>
        <i class="material-icons" ng-click="cancel()">close</i>
      </div>
      <div class="line-input_emp margin-top_check">
        <md-input-container class="md-block" flex-gt-sm>
          <label>Banco</label>
          <md-select required ng-model="banco">
            <md-option ng-value="banco" ng-repeat="banco in bancos">{{banco.nombre}}</md-option>
          </md-select>
        </md-input-container>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button ng-click="save()" class="md-primary">
        ACEPTAR
      </md-button>
      <md-button ng-click="cancel()">
        CANCELAR
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>