
<!DOCTYPE html>
<html>

<head>
	<title>Tabla</title>
</head>
<style>
	table {
		width: 530px;
		border: none;
		font-family: 'Open Sans';
		margin-bottom: 5px;
	}

	.mitad-servicio.first {
		margin-left: 15px;
	}

	.firma_empleado p {
		font-family: 'Arial';
		font-size: 9px;
		width: 150px;
		text-align: center;
		border-top: 1px dashed black;
		padding-top: 5px;
		margin-top: 35px;
		float: right;
	}

	.mitad-servicio {
		float: left;
		margin-right: 10px;
		width: 535px;
	}

	.mitad-servicio>p {
		margin-bottom: 10px;
		font-size: 9px;
		font-family: 'Arial';
		margin-top: 10px;
	}

	.header_tabla {
		/* padding: 1px 10px; */
		/*border: 1px solid black;*/
	}

	tbody {
		/* border: 1px solid black !important; */
		border-collapse: collapse;
		border: none !important;
		margin: 0px;
	}

	.mitad-servicio.second .firma_empleado p {
		margin-top: 70px;
	}

	tr.valor_tabla td {
		font-size: 11px;
		text-align: center;
		font-weight: 500;
		border-right: 1px solid #bcbcbc;
		border-top: 1px solid black;
		padding: 5px;
		border-collapse: collapse;
		padding-top: 2px;
		padding-bottom: 0px;
	}

	tr.clave_tabla th {
		font-size: 9px;
		font-weight: 500;
		border-right: 1px solid #bcbcbc;
		border-bottom: 1px solid black;
		color: #9c9c9c;
		padding: 5px;
		padding-bottom: 2px;
		padding-top: 2px;
	}

	tr.valor_tabla td:nth-last-child(1),
	tr.clave_tabla th:nth-last-child(1) {
		border-right: 1px solid black;
	}

	tr.valor_tabla td:nth-of-type(1) {
		border-left: 1px solid black;
	}

	tr.clave_tabla th:nth-of-type(1) {
		border-left: 1px solid black;
	}

	tr.valor_tabla.table-bigger:nth-last-child(1) td {
		border-bottom: 1px solid black;
	}

	tr.valor_tabla.table-bigger td {
		border-top: 0px;
	}

	.header_tabla:nth-of-type(5) tr.clave_tabla th {
		border-top: 1px solid black;
	}

	table.typed-table {
		border: 1px solid black;
		border-top: 0px;
	}

	.back-conceptos {
		background-repeat: repeat;
	}

	table.typed-table td {
		font-size: 9px;
		padding: 2px 10px;
	}
	
</style>

<body>
	<div class="mitad-servicio first">
		<p class="recibo-numero">N° Recibo: {{nro_recibo}}</p>
		<table border="1" cellspacing="0">
			<tr>
				<th style="margin: 0px; border: 1px solid black; background: #e8e8e8; text-align: left; padding: 5px 10px ">
					<p style="margin: 0px; font-size: 18px; line-height: 18px;">{{empresa}}</p>
					<p style="margin: 0px; font-size: 11px; font-weight: 400; line-height: 13px;">C.U.I.T {{cuit_empresa}}</p>
					<p style="margin: 0px; font-size: 11px; font-weight: 400; line-height: 13px;">{{direccion}} - {{localidad}}</p>
				</th>
			</tr>
		</table>
		<table cellspacing="0">
			<tr style="padding: 5px 10px;">
				<td style="padding: 1px 10px; border: 1px solid black;">
					<p style="text-align: left; padding: 0; float: left; padding: 0px; margin: 0px; font-size: 11px; font-weight: 500;">{{persona}}</p>
					<p style="text-align: left; padding: 0; float: right; padding: 0px; margin: 0px; font-size: 11px; font-weight: 500;">Antigüedad: {{antiguedad.anios}}/{{antiguedad.meses}}</p>
				</td>
			</tr>
		</table>
		<table class="header_tabla" cellspacing="0">
			<tr class="valor_tabla">
				<td>{{numero_legajo}}</td>
				<td>{{periodo}}</td>
				<td>{{categoria}}</td>
				<td>{{cargo}}</td>
				<td>{{fecha_alta}}</td>
				<td>{{fecha_alta_instituto}}</td>
				<td>{{cuit_persona}}</td>
			</tr>
			<tr class="clave_tabla">
				<th>LEGAJO</th>
				<th>PERIODO</th>
				<th>CATEG.</th>
				<th>CARGO</th>
				<th>ALTA</th>
				<th>ALTA INSTITUTO</th>
				<th>CUIL</th>
			</tr>
		</table>
		<table class="header_tabla" cellspacing="0">
			<tr class="valor_tabla">
				<td>{{subempresa}}</td>
				<td>{{categoria_nombre}}</td>
				<td>{{subvencion}}</td>
				<td>{{titular}}</td>
			</tr>
			<tr class="clave_tabla " style="color: white;">
				<th style="color: white;">LEGAJO</th>
				<th style="color: white;">PERIODO</th>
				<th style="color: white;">CATEG.</th>
				<th style="color: white;">CARGO</th>
			</tr>
		</table>
		{{#imagen}}
		<table class="header_tabla back-image back-conceptos" cellspacing="0" style="margin-bottom: 0px; background-image: url('http://{{path}}/img/SIA_patron.png');" >
		{{/imagen}}
		{{^imagen}}
		<table class="header_tabla back-image" cellspacing="0" style="margin-bottom: 0px;" >
		{{/imagen}}
			<tr class="clave_tabla">
				<th style="border-bottom: none; padding-bottom: 15px; width: 60px;">CANT. HORAS</th>
				<th style="border-bottom: none; padding-bottom: 15px;">CONCEPTO DESCRIPCIÓN</th>
				<th style="border-bottom: none; padding-bottom: 15px; width: 80px;">REMUN.</th>
				<th style="border-bottom: none; padding-bottom: 15px;">NO REM.</th>
				<th style="border-bottom: none; padding-bottom: 15px;">DEDUCCI.</th>
			</tr>
			{{#conceptos}}
			<tr class="valor_tabla table-bigger">
				<td style="text-align: right; padding-right: 25px;">{{cantidad}}</td>
				<td style="text-align: left; padding-left: 15px;">{{descripcion}}</td>
				<td style="text-align: right; padding-right: 15px;">{{remunerativo}}</td>
				<td style="text-align: right; padding-right: 15px;">{{no_remunerativo}}</td>
				<td style="text-align: right; padding-right: 15px;">{{deducciones}}</td>
			</tr>
			{{/conceptos}} {{#relleno}}
			<tr class="valor_tabla table-bigger">
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			{{/relleno}}
		</table>
		<table class="typed-table">
			<tr>
				<td>{{neto_string}}</td>
			</tr>
		</table>
		<table class="header_tabla final-table" cellspacing="0" style="background: #e8e8e8;">
			<tbody>
				<tr class="valor_tabla">
					<td>{{lugar_pago}}</td>
					<td>{{fecha_pago}}</td>
					<td>{{fecha_deposito}}</td>
					<td>{{neto}}</td>
					<td>{{total_remu}}</td>
					<td>{{total_no_remu}}</td>
					<td>{{total_deduccion}}</td>
				</tr>
				<tr class="clave_tabla">
					<th>LUGARDEPAGO</th>
					<th>FECHADEPAGO</th>
					<th>DEPOSITO</th>
					<th>NETOARECIBIR</th>
					<th>TOTAL REM</th>
					<th>TOTAL NOREM</th>
					<th>TOTAL DEDUC</th>
				</tr>
			</tbody>
		</table>
		<p class="">Recibí el importe neto consignado en el presente recibo en concepto de haberes correspondientes al mes y año arriba indicados,
			uedando en mi poder un duplicado del presente recibo debidamente suscripto por el empleador.</p>
		<div class="firma_empleado">
			<p>Firma del empleado</p>
		</div>
	</div>
	<div class="mitad-servicio second">
		<p class="recibo-numero">N° Recibo: {{nro_recibo}}</p>
		<table border="1" cellspacing="0">
			<tr>
				<th style="margin: 0px; border: 1px solid black; background: #e8e8e8; text-align: left; padding: 5px 10px ">
					<p style="margin: 0px; font-size: 18px; line-height: 18px;">{{empresa}}</p>
					<p style="margin: 0px; font-size: 11px; font-weight: 400; line-height: 13px;">C.U.I.T {{cuit_empresa}}</p>
					<p style="margin: 0px; font-size: 11px; font-weight: 400; line-height: 13px;">{{direccion}} - {{localidad}}</p>
				</th>
			</tr>
		</table>
		<table cellspacing="0">
			<tr style="padding: 5px 10px;">
				<td style="padding: 1px 10px; border: 1px solid black;">
					<p style="text-align: left; padding: 0; float: left; padding: 0px; margin: 0px; font-size: 11px; font-weight: 500;">{{persona}}</p>
					<p style="text-align: left; padding: 0; float: right; padding: 0px; margin: 0px; font-size: 11px; font-weight: 500;">Antigüedad: {{antiguedad.anios}}/{{antiguedad.meses}}</p>
				</td>
			</tr>
		</table>
		<table class="header_tabla" cellspacing="0">
			<tr class="valor_tabla">
				<td>{{numero_legajo}}</td>
				<td>{{periodo}}</td>
				<td>{{categoria}}</td>
				<td>{{cargo}}</td>
				<td>{{fecha_alta}}</td>
				<td>{{fecha_alta_instituto}}</td>
				<td>{{cuit_persona}}</td>
			</tr>
			<tr class="clave_tabla">
				<th>LEGAJO</th>
				<th>PERIODO</th>
				<th>CATEG.</th>
				<th>CARGO</th>
				<th>ALTA</th>
				<th>ALTA INSTITUTO</th>
				<th>CUIL</th>
			</tr>
		</table>
		<table class="header_tabla" cellspacing="0">
			<tr class="valor_tabla">
				<td>{{subempresa}}</td>
				<td>{{categoria_nombre}}</td>
				<td>{{subvencion}}</td>
				<td>{{titular}}</td>
			</tr>
			<tr class="clave_tabla " style="color: white;">
				<th style="color: white;">LEGAJO</th>
				<th style="color: white;">PERIODO</th>
				<th style="color: white;">CATEG.</th>
				<th style="color: white;">CARGO</th>
			</tr>
		</table>
		{{#imagen}}
		<table class="header_tabla back-image back-conceptos" cellspacing="0" style="margin-bottom: 0px; background-image: url('http://{{path}}/img/SIA_patron.png');" >
		{{/imagen}}
		{{^imagen}}
		<table class="header_tabla back-image" cellspacing="0" style="margin-bottom: 0px;" >
		{{/imagen}}
			<tr class="clave_tabla">
				<th style="border-bottom: none; padding-bottom: 15px; width: 60px;">CANT. HORAS</th>
				<th style="border-bottom: none; padding-bottom: 15px;">CONCEPTO DESCRIPCIÓN</th>
				<th style="border-bottom: none; padding-bottom: 15px; width: 80px;">REMUN.</th>
				<th style="border-bottom: none; padding-bottom: 15px;">NO REM.</th>
				<th style="border-bottom: none; padding-bottom: 15px;">DEDUCCI.</th>
			</tr>
			{{#conceptos}}
			<tr class="valor_tabla table-bigger">
				<td style="text-align: right; padding-right: 25px;">{{cantidad}}</td>
				<td style="text-align: left; padding-left: 15px;">{{descripcion}}</td>
				<td style="text-align: right; padding-right: 15px;">{{remunerativo}}</td>
				<td>{{no_remunerativo}}</td>
				<td>{{deducciones}}</td>
			</tr>
			{{/conceptos}} {{#relleno}}
			<tr class="valor_tabla table-bigger">
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			{{/relleno}}
		</table>
		<table class="typed-table">
			<tr>
				<td>{{neto_string}}</td>
			</tr>
		</table>
		<table class="header_tabla final-table" cellspacing="0" style="background: #e8e8e8;">
			<tbody>
				<tr class="valor_tabla">
					<td>{{lugar_pago}}</td>
					<td>{{fecha_pago}}</td>
					<td>{{fecha_deposito}}</td>
					<td>{{neto}}</td>
					<td>{{total_remu}}</td>
					<td>{{total_no_remu}}</td>
					<td>{{total_deduccion}}</td>
				</tr>
				<tr class="clave_tabla">
					<th>LUGARDEPAGO</th>
					<th>FECHADEPAGO</th>
					<th>DEPOSITO</th>
					<th>NETOARECIBIR</th>
					<th>TOTAL REM</th>
					<th>TOTAL NOREM</th>
					<th>TOTAL DEDUC</th>
				</tr>
			</tbody>
		</table>
		<!-- <p class="">Recibí el importe neto consignado en el presente recibo en concepto de haberes correspondientes al mes y año arriba indicados, -->
			<!-- uedando en mi poder un duplicado del presente recibo debidamente suscripto por el empleador.</p> -->
		<div class="firma_empleado">
			<p>Firma del empleador</p>
		</div>
	</div>
	<br><div style="page-break-after:always;"></div>
</body>

</html>