<!DOCTYPE html>
<html>

<head>
	<title>Tabla</title>
</head>
<style>
	* {
		font-family: 'Arial';
		font-size: 7px;
	}

	.mitad-servicio th {
		border: 1px solid black;
		padding: 15px;
	}

	.mitad-servicio:before {
		content: "";
		position: absolute;
		width: calc(100% - 10px);
		height: calc(100% - 10px);
		left: 4px;
		border: 1px solid black;
		top: 4px;
	}

	.mitad-servicio {
		width: 1215px;
		height: 700px;
		border: 2px solid black;
		padding: 17px;
		position: relative;
		margin-top: 15px;
	}

	.mitad-servicio td {
		border: 1px solid black;
		padding: 5px 3px;
		text-align: center;
		border-top: none;
		border-left: none;
	}

	.mitad-servicio th:nth-of-type(1) {
		border-left: 1px solid black;
	}

	.mitad-servicio th {
		border: 1px solid black;
		padding: 5px 3px;
		text-align: center;
		border-left: none;
	}

	.bigger-last {
		width: 85px;
	}

	p.footer {
		float: left;
		margin-top: 18px;
		margin-left: 25px;
		position: absolute;
		bottom: 30px;
		left: 30px;
	}

	.tr-no-border td {
		border-left: none;
		border-right: none;
		text-align: right;
		white-space: nowrap;
		/* text-overflow: ellipsis; */
		/* overflow: hidden; */
	}

	tr.tr-no-border.border-bottom-none td {
		border-bottom: none;
	}

	.col-3 {
		float: left;
		width: 33.33%;
	}

	.col-3:nth-of-type(1) p:nth-of-type(1) {
		letter-spacing: 2px;
		font-size: 8px;
		margin-bottom: 0px;
	}

	.col-3:nth-of-type(1) p:nth-of-type(2) {
		margin-top: 3px;
		font-size: 8px;
	}

	.col-3:nth-of-type(1) p:nth-of-type(3) {
		margin-top: 3px;
		font-size: 7px;
		margin-right: 5px;
		margin-bottom: 10px;
		float: left;
	}

	.col-3:nth-of-type(1) span {
		/* float: left; */
		margin-left: 9px;
		font-size: 8px;
		/* margin-bottom: 31px; */
	}

	.col-3:nth-of-type(2) p,
	.col-3:nth-of-type(3) p {
		margin-top: 3px;
		margin-bottom: 0;
		line-height: 7px;
	}

	.col-3:nth-of-type(2) p:nth-of-type(1) {
		margin-bottom: 6px;
	}

	.col-3:nth-of-type(2) p span,
	.col-3:nth-of-type(3) p span {
		margin-left: 25px;
		font-size: 9px;
	}

	.container-header {
		float: left;
		width: 100%;
		margin-bottom: 5px;
	}

	.firma_1 {
		float: left;
		/* margin-top: 28%; */
		/* margin-left: 23%; */
		padding-top: 0px;
		border-top: 1px dashed black;
		line-height: 0;
		padding-left: 15px;
		padding-right: 15px;
		position: absolute;
		bottom: 70px;
		left: 50%;
	}

	.firma_2 {
		float: left;
		/* margin-top: 27%; */
		/* margin-top: 28%; */
		/* margin-left: 227px; */
		padding-top: 0px;
		border-top: 1px dashed black;
		line-height: 0;
		padding-left: 15px;
		padding-right: 15px;
		position: absolute;
		bottom: 70px;
		left: 20%;
	}
</style>
{{#subempresas}}
<body>
	<div class="mitad-servicio">
		<div class="container-header">
			<div class="col-3">
				<p>GOBIERNO DE LA CIUDAD DE BUENOS AIRES</p>
				<p>DIRECCION GENERAL DE EDUCACION DE GESTION PRIVADA</p>
				<p>NIVEL
					<span>{{subempresa}}</span>
				</p>
			</div>
			<div class="col-3">
				<p>PLANTILLA DE LIQUIDACIÓN DE HABERES DEL PERSONAL</p>
				<p>DOCENTE POR EL MES DE
					<span class="bigger-span">{{periodo}}</span>
				</p>
				<p>APORTE ESTATAL
					<span class="bigger-span">0.00 %</span>
				</p>
				<p>VALOR INDICE
					<span class="bigger-span">1 = {{valor}}</span>
				</p>
			</div>
			<div class="col-3">
				<p>Establecimiento:
					<span class="bigger-span">{{empresa}}</span>
				</p>
				<p>Registro:
					<span class="bigger-span">--</span>
				</p>
				<p>Domicilio:
					<span class="bigger-span">{{direccion}}</span>
				</p>
				<p>Localidad:
					<span>{{localidad}}</span>
				</p>
				<p>Telefono:
					<span>{{telefono}}</span>
				</p>
			</div>
		</div>
		<table style="width: 100%;" cellspacing="0">
			<tr>
				<th rowspan="2">NÚMERO DE LEGAJO</th>
				<th rowspan="2" class="bigger-last">APELLIDO Y NOMBRE</th>
				<th colspan="4">SITUACIÓN DE REVISTA</th>
				<th colspan="8">SUMAS REMUNERATIVAS</th>
				<th rowspan="2">SUBTOT. REMUNE RATIVO</th>
				<th colspan="4">RETENCIONES</th>
				<th rowspan="2">TOTAL RETENC.</th>
				<th colspan="2">SUMAS NO REM.</th>
				<th rowspan="2">DESC. NO REMUN.</th>
				<th rowspan="2">TOTAL NO REMUN.</th>
				<th rowspan="2">LIQUIDO A PAGAR</th>
				<th rowspan="2" class="bigger-last">FIRMA EMPLEADO</th>
			</tr>
			<tr class="border-bottom">
				<td>CODIGO</td>
				<td>INDICES</td>
				<td>CARGO HORAS</td>
				<td>ANTI A/M</td>
				<td>SUELDO BASICO</td>
				<td>DEC 243/08 ART .2</td>
				<td>BONIF. POR ANTIG.</td>
				<td>ADICIÓN ESTIM ART 4</td>
				<td>ART. 128 COMPL ART12</td>
				<td>DEC. 243/08 ART .3</td>
				<td>OTRAS SUMAS REMUN.</td>
				<td>DESC. POR AJUSTE</td>
				<td>JUBILAC.</td>
				<td>OBRA SOCIAL</td>
				<td>CAJA COMPL.</td>
				<td>OTRAS</td>
				<td>SARIO FAMI LIAR</td>
				<td>OTRAS</td>
			</tr>
			<tr class="tr-no-border border-bottom-none">
				<td>&nbsp;</td>
			</tr>
			{{#legajos_titulares}}
			<tr class="tr-no-border">
				<td>{{numero_legajo}}</td>
				<td style="text-align: left;">{{persona}}</td>
				<td>0</td>
				<td>0.00</td>
				<td>{{cargo_hrs}}</td>
				<td>{{antiguedad.anios}}/{{antiguedad.meses}}</td>
				<td>{{col_1}}</td>
				<td>{{col_2}}</td>
				<td>{{col_3}}</td>
				<td>{{col_4}}</td>
				<td>{{col_5}}</td>
				<td>{{col_6}}</td>
				<td>{{col_7}}</td>
				<td>{{col_8}}</td>
				<td>{{subtotal_remunerativo}}</td>
				<td>{{col_10}}</td>
				<td>{{col_11}}</td>
				<td>{{col_12}}</td>
				<td>{{col_13}}</td>
				<td>{{subtotal_deducciones}}</td>
				<td>{{col_15}}</td>
				<td>{{col_16}}</td>
				<td>{{subtotal_descuentos}}</td>
				<td>{{subtotal_no_remunerativo}}</td>
				<td>{{total_neto}}</td>
				<td>1</td>
			</tr>
			{{/legajos_titulares}}

			{{#linea_subtotal_titulares}}
			<tr class="tr-no-border border-bottom-none" style="font-weight: 600;">
				<td colspan="2" style="text-align: left;">SUBTOTAL TITULARES</td>
				<td>0</td>
				<td>0.00</td>
				<td>{{subtotal_titulares.cargo_horas}}</td>
				<td></td>
				<td>{{subtotal_titulares.col_1}}</td>
				<td>{{subtotal_titulares.col_2}}</td>
				<td>{{subtotal_titulares.col_3}}</td>
				<td>{{subtotal_titulares.col_4}}</td>
				<td>{{subtotal_titulares.col_5}}</td>
				<td>{{subtotal_titulares.col_6}}</td>
				<td>{{subtotal_titulares.col_7}}</td>
				<td>{{subtotal_titulares.col_8}}</td>
				<td>{{subtotal_titulares.remunerativo}}</td>
				<td>{{subtotal_titulares.col_10}}</td>
				<td>{{subtotal_titulares.col_11}}</td>
				<td>{{subtotal_titulares.col_12}}</td>
				<td>{{subtotal_titulares.col_13}}</td>
				<td>{{subtotal_titulares.deducciones}}</td>
				<td>{{subtotal_titulares.col_15}}</td>
				<td>{{subtotal_titulares.col_16}}</td>
				<td>0.00</td>
				<td>{{subtotal_titulares.no_remunerativo}}</td>
				<td>{{subtotal_titulares.total_neto}}</td>
				<td></td>
			</tr>
			{{/linea_subtotal_titulares}}
			<tr style="height:10px"></tr>

			<!-- aca mataría un espacio grande -->

			{{#legajos_suplentes}}
			<tr class="tr-no-border">
				<td>{{numero_legajo}}</td>
				<td style="text-align: left;">{{persona}}</td>
				<td>0</td>
				<td>0.00</td>
				<td>{{cargo_hrs}}</td>
				<td>{{antiguedad.anios}}/{{antiguedad.meses}}</td>
				<td>{{col_1}}</td>
				<td>{{col_2}}</td>
				<td>{{col_3}}</td>
				<td>{{col_4}}</td>
				<td>{{col_5}}</td>
				<td>{{col_6}}</td>
				<td>{{col_7}}</td>
				<td>{{col_8}}</td>
				<td>{{subtotal_remunerativo}}</td>
				<td>{{col_10}}</td>
				<td>{{col_11}}</td>
				<td>{{col_12}}</td>
				<td>{{col_13}}</td>
				<td>{{subtotal_deducciones}}</td>
				<td>{{col_15}}</td>
				<td>{{col_16}}</td>
				<td>{{subtotal_descuentos}}</td>
				<td>{{subtotal_no_remunerativo}}</td>
				<td>{{total_neto}}</td>
				<td>1</td>
			</tr>
			{{/legajos_suplentes}}

			{{#linea_subtotal_suplentes}}
			<tr class="tr-no-border border-bottom-none" style="font-weight: 600;">
				<td colspan="2" style="text-align: left;">SUBTOTAL SUPLENTES</td>
				<td>0</td>
				<td>0.00</td>
				<td>{{subtotal_suplentes.cargo_horas}}</td>
				<td></td>
				<td>{{subtotal_suplentes.col_1}}</td>
				<td>{{subtotal_suplentes.col_2}}</td>
				<td>{{subtotal_suplentes.col_3}}</td>
				<td>{{subtotal_suplentes.col_4}}</td>
				<td>{{subtotal_suplentes.col_5}}</td>
				<td>{{subtotal_suplentes.col_6}}</td>
				<td>{{subtotal_suplentes.col_7}}</td>
				<td>{{subtotal_suplentes.col_8}}</td>
				<td>{{subtotal_suplentes.remunerativo}}</td>
				<td>{{subtotal_suplentes.col_10}}</td>
				<td>{{subtotal_suplentes.col_11}}</td>
				<td>{{subtotal_suplentes.col_12}}</td>
				<td>{{subtotal_suplentes.col_13}}</td>
				<td>{{subtotal_suplentes.deducciones}}</td>
				<td>{{subtotal_suplentes.col_15}}</td>
				<td>{{subtotal_suplentes.col_16}}</td>
				<td>0.00</td>
				<td>{{subtotal_suplentes.no_remunerativo}}</td>
				<td>{{subtotal_suplentes.total_neto}}</td>
				<td></td>
			</tr>
			{{/linea_subtotal_suplentes}}
			<tr class="tr-no-border border-bottom-none">
				<td>&nbsp;</td>
			</tr>
			{{#linea_subtotal_titulares}}
			<tr class="tr-no-border">
				<td colspan="2" style="text-align: left;">SUBTOTAL TITULARES</td>
				<td>0</td>
				<td>0.00</td>
				<td>{{subtotal_titulares.cargo_horas}}</td>
				<td></td>
				<td>{{subtotal_titulares.col_1}}</td>
				<td>{{subtotal_titulares.col_2}}</td>
				<td>{{subtotal_titulares.col_3}}</td>
				<td>{{subtotal_titulares.col_4}}</td>
				<td>{{subtotal_titulares.col_5}}</td>
				<td>{{subtotal_titulares.col_6}}</td>
				<td>{{subtotal_titulares.col_7}}</td>
				<td>{{subtotal_titulares.col_8}}</td>
				<td>{{subtotal_titulares.remunerativo}}</td>
				<td>{{subtotal_titulares.col_10}}</td>
				<td>{{subtotal_titulares.col_11}}</td>
				<td>{{subtotal_titulares.col_12}}</td>
				<td>{{subtotal_titulares.col_13}}</td>
				<td>{{subtotal_titulares.deducciones}}</td>
				<td>{{subtotal_titulares.col_15}}</td>
				<td>{{subtotal_titulares.col_16}}</td>
				<td>0.00</td>
				<td>{{subtotal_titulares.no_remunerativo}}</td>
				<td>{{subtotal_titulares.total_neto}}</td>
				<td></td>
			</tr>
			{{/linea_subtotal_titulares}}
			{{#linea_subtotal_suplentes}}
			<tr class="tr-no-border">
				<td colspan="2" style="text-align: left;">SUBTOTAL SUPLENTES</td>
				<td>0</td>
				<td>0.00</td>
				<td>{{subtotal_suplentes.cargo_horas}}</td>
				<td></td>
				<td>{{subtotal_suplentes.col_1}}</td>
				<td>{{subtotal_suplentes.col_2}}</td>
				<td>{{subtotal_suplentes.col_3}}</td>
				<td>{{subtotal_suplentes.col_4}}</td>
				<td>{{subtotal_suplentes.col_5}}</td>
				<td>{{subtotal_suplentes.col_6}}</td>
				<td>{{subtotal_suplentes.col_7}}</td>
				<td>{{subtotal_suplentes.col_8}}</td>
				<td>{{subtotal_suplentes.remunerativo}}</td>
				<td>{{subtotal_suplentes.col_10}}</td>
				<td>{{subtotal_suplentes.col_11}}</td>
				<td>{{subtotal_suplentes.col_12}}</td>
				<td>{{subtotal_suplentes.col_13}}</td>
				<td>{{subtotal_suplentes.deducciones}}</td>
				<td>{{subtotal_suplentes.col_15}}</td>
				<td>{{subtotal_suplentes.col_16}}</td>
				<td>0.00</td>
				<td>{{subtotal_suplentes.no_remunerativo}}</td>
				<td>{{subtotal_suplentes.total_neto}}</td>
				<td></td>
			</tr>
			{{/linea_subtotal_suplentes}}

			<tr class="tr-no-border border-bottom-none" style="font-weight: 600;">
				<td colspan="2" style="text-align: left;">TOTAL GENERAL</td>
				<td>0</td>
				<td>0.00</td>
				<td>{{total_general.horas}}</td>
				<td></td>
				<td>{{total_general.col_1}}</td>
				<td>{{total_general.col_2}}</td>
				<td>{{total_general.col_3}}</td>
				<td>{{total_general.col_4}}</td>
				<td>{{total_general.col_5}}</td>
				<td>{{total_general.col_6}}</td>
				<td>{{total_general.col_7}}</td>
				<td>{{total_general.col_8}}</td>
				<td>{{total_general.remunerativo}}</td>
				<td>{{total_general.col_10}}</td>
				<td>{{total_general.col_11}}</td>
				<td>{{total_general.col_12}}</td>
				<td>{{total_general.col_13}}</td>
				<td>{{total_general.deducciones}}</td>
				<td>{{total_general.col_15}}</td>
				<td>{{total_general.col_16}}</td>
				<td>0.00</td>
				<td>{{total_general.no_remunerativo}}</td>
				<td>{{total_general.total_neto}}</td>
				<td>&nbsp;</td>
			</tr>
		</table>
		<div class="firma_1">
			<p>Firma del Rector/Director</p>
		</div>
		<div class="firma_2">
			<p>Firma Propietarioo Rep. Legal</p>
		</div>
		<p class="footer">
			CERTIFICO que el personal consignado en la presente ha prestado servicios en el periodo liquidado, fue designado conforme
			a la las reglamentaciones vigentes en los cargos y horas autorizados, y su liquidación de haberes se adecua a lo establecido.
		</p>
	</div>
	<div style="page-break-after:always;"></div>
</body>
{{/subempresas}}

</html>