body{
    font-family: RobotoRegular;
    background: #FAFAFA;
    color: #484848;
}
html{
    background-color: #FAFAFA;
    height: auto;
}

.nav-img{
    margin-left: 15px;
    margin-top: 5px;
}
#nav{
	background-color:#fff;
}

.login-content {
    height: 300px;
    background-color: #fff;
    border-width: 1px;
    width: 501px;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    border-radius: 2px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
}
.btn-small-arrow {
    height: auto;
    padding: 0 5px;
}
