/*Estilos agregados*/
/*Checkbox*/
.checkboxdemoBasicUsage div.flex-xs {
  min-height: 40px; }

.title-edit .tooltip_atras {
    cursor: pointer;
    margin-left: 25px;
}
.checkboxdemoBasicUsage .checkboxDemo1 div {
  clear: both; }

.checkboxdemoBasicUsage p {
  padding-left: 8px; }

.checkboxdemoBasicUsage fieldset.standard {
  border-style: solid;
  border-width: 1px; }

.checkboxdemoBasicUsage legend {
  color: #3F51B5; }

.checkboxdemoBasicUsage legend code {
  color: #3F51B5;
  font-weight: normal; }
md-checkbox.md-checked .md-icon:after {
    left: 5.96667px !important;
}
.container-bancos-sec {
    float: left;
    width: 100%;
    margin-top: 70px;
}
h2.title-banc {
    margin-top: 0px;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 30px;
    font-family: 'Lato';
}
.checkboxdemoBasicUsage .ipsum {
  color: saddlebrown; }
/*Fin Checkbox*/
.line-input_emp .input_sia-min.guardar_input > label {
    float: left;
    width: 100%;
    font-size: 13px;
    margin-bottom: 2px;
    color: #3f51b5;
}
.md-block.input_sia-min.guardar_input {
    margin-bottom: 35px;
}
.md-block.input_sia-min.guardar_input i {
    float: left;
    margin-right: 10px;
    color: #BBBDBF;
    font-size: 20px;
}
.col-md-12.container_create-emp .md-block.input_sia-min.guardar_input span {
    width: auto;
    float: left;
}
.col-md-12.container_create-emp .md-block.input_sia-min.guardar_input.conceptos span {
    float: initial;
}
.line-input_emp .input_sia-min.guardar_input > span {
    float: left;
    width: 100%;
    font-size: 13px;
    margin-bottom: 0px;
    color: #4F5051;
}
md-select-value span {
    color: #4F5051;
}
md-input-container .md-errors-spacer {
    /* float: right; */
    /* min-height: 24px; */
    /* min-width: 1px; */
    display: none;
}
.body_sidebar ul a {
    float: left;
    width: 100%;
}
.modal_close i.material-icons {
    color: white;
    float: right;
    font-size: 15px;
}
.modal_close p {
    font-size: 14px;
    font-family: 'Lato';
    width: 100%;
    text-align: center;
    color: #4F5051;
    margin-bottom: 30px;
    margin-top: 30px;
}
form.editar-empresa div.line-input_emp div.md-icon {
    border-color: #BBBDBF !important;
}
a.pull-right.md-raised.agregar.btn-orange.md-button.md-ink-ripple {
    color: white;
    font-size: 13px;
    font-family: 'Lato';
}
.modal_close .modal_title {
    background: #495BA5;
}
.modal_close .modal_title h2 {
    color: white;
    font-size: 13px;
    text-transform: uppercase;
}
md-backdrop.md-opaque.md-default-theme, md-backdrop.md-opaque {
    background-color: #c5c5c5 !important;
}
.line-input_emp .md-label {
    color: #808184;
    font-size: 12px;
    font-family: 'Lato';
    font-weight: 400;
}
.container.empresas.list h1 {
    padding-left: 0;
    margin-bottom: 35px;
}
.modal_empresa {
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 2px;
}
.editar-empresa h2.title-emp {
    font-family: 'Lato';
    font-size: 22px;
    color: #3E53AD;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 70px;
}
div#accordion .panel-title {
    font-size: 12px;
    text-transform: uppercase;
    font-family: 'Lato';
    color: #F6921E;
    text-decoration: none !important;
}
md-input-container.md-block.input_sia.col-md-12 {
    width: 100%;
}
.editar-empresa div#accordion div.panel-heading {
    border-radius: 2px !important;
    background: #f7f7f7;
    padding-left: 30px;
    padding-right: 30px;
}
.panel-body.container_create-emp {
    padding: 20px 35px;
}
div#accordion {
    margin-top: 30px;
}
.input_sia > input {
    /*border-bottom: 3px solid #BBBDBF;*/
}
table.table.table-hover tbody {
    /* border-bottom: none !important; */
    border: none;
}
.line-input_emp {
    float: left;
    width: 100%;
}
.md-input-focused.input_sia > label {
    margin-bottom: 5px;
}
.container {
    width: 100% !important;
    padding: 0px 60px !important;
}
.impresion-sector {
    float: left;
    margin-top: 30px;
    margin-bottom: 20px;
}
.impresion-sector h2 {
    font-size: 20px;
    color: #404041;
    margin-top: 0;
    margin-bottom: 20px;
}
.bancos-sector {
    float: left;
    margin-top: 30px;
    margin-bottom: 20px;
}
.bancos-sector h2 {
    font-size: 20px;
    color: #404041;
    margin-top: 0;
    margin-bottom: 20px;
}
.input_sia-min.flex-gt-sm-50 {
    margin-bottom: 3%;
}
.bancos-sector .material-icons {
    color: #3f51b5;
    float: left;
    font-size: 16px;
    margin-right: 5px;
}
a.banco-add {
    color: #3f51b5;
    font-family: 'Lato';
    font-size: 12px;
    font-weight: bold;
    margin-top: 8px;
    float: right;
}
.input_sia > label {
    font-family: 'lato';
    font-weight: 400;
    color: #4F5051;
}
.input_sia-min > label {
    font-family: 'lato';
    font-weight: 400;
    color: #4F5051;
}
.line-input_emp .rellono-blue {
    color: white;
    background: rgb(63,81,181);
}
.line-input_emp .rellono-blue:hover {
    background: #3b4aa0;
}
.modal_bancos.modal_close {
    width: 400px;
}
.modal_close .md-button {
    margin-bottom: 15px;
    margin-top: 0;
}
.modal_close .col-md-12.container_create-emp {
    padding-bottom: 0px;
}
.modal_bancos {
    max-width: 602px;
    width: 600px;
}
.md-dialog-content .line-input_emp:nth-last-child(1) .md-block.input_sia-min.guardar_input {
    margin-bottom: 0;
}
.modal_title img {
    float: right;
    width: 28px;
    height: auto;
}
md-dialog.modal_empresa._md.md-transition-in {
    max-width: 1180px;
    width: 1160px;
}
.container_create-emp .input_sia {
    width: 48.5%;
    float: left;
    margin-right: 3%;
    margin-top: 18px;
    margin-bottom: 18px;
}
.margin-top_check {
    margin-top: 40px;
}
.container_create-emp .input_sia:nth-last-child(1) {
    margin-right: 0%;
}
button.md-raised.md-button.md-ink-ripple.btn-empresa {
    margin: 0;
    font-size: 12px;
    box-shadow: none;
    color: #495ba5;
    min-height: 33px !important;
    height: 32px;
    font-weight: bold;
    padding: 0;
    background-color: #f4f4f4;
    float: right;
}
/*Fin de estilos agregados*/
body{
    font-family: Lato;
    background-color: white;
    margin-bottom: 50px;
    color: #404041;
}
header {
    /* height: 90px; */
    padding-top: 0px;
    padding-bottom: 0px;
    border-bottom: 4px solid #495BA5;
    background-color: #FFF;
    box-shadow: 0px 2px 5px #d8d8d8;
}
.body_sidebar ul li.active {
    border-color: white;
    background: #4F5051;
}
i.material-icons.flechita {
    position: absolute;
    top: 14px;
    left: 10px;
    font-size: 20px;
    color: white;
    outline:none;
}
.title_sidebar p {
    margin: 0px;
    color: white;
    font-family: 'Lato';
    font-size: 12px;
}
.body_sidebar ul {
    padding: 0;
    margin: 0px;
}
.body_sidebar ul li.active:hover {
    border-color: white;
}
.body_sidebar ul li:hover {
    background: #4F5051;
    border-color: #4F5051;
    transition: all 0.1s ease-in;
}
.body_sidebar ul li {
    float: left;
    width: 100%;
    cursor: pointer;
    padding: 15px;
    font-size: 13px;
    padding-left: 45px;
    border-left: 5px solid #6d6e70;
    font-family: 'Lato-bold';
    color: white;
    transition: all 0.1s ease-in;
}
.title_sidebar {
    float: left;
    width: 100%;
    padding: 15px;
    padding-left: 50px;
    background: #495BA5;
}
.body_sidebar {
    float: left;
    width: 100%;
    height: 100%;
    background: #6D6E70;
}
.sidebar_style {
    height: 100%;
    position: relative;
    box-shadow: 0px 2px 10px #ababab;
    -webkit-transition: all .25s cubic-bezier(0.4,0.0,0.2,1),visibility 0s linear .25s;
    transition: all .25s cubic-bezier(0.4,0.0,0.2,1),visibility 0s linear .25s;
}
.close_sidebar .title_sidebar {
    padding-left: 0;
    padding-right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.close_sidebar .body_sidebar ul {
    opacity: 0;
}
.close_sidebar .body_sidebar ul li {
    display: none;
}
.close_sidebar .ruedita {
    display: block;
    color: white;
    font-size: 20px;
    cursor: pointer;
}
.ruedita {
    display:none;
    outline: none;
}
.close_sidebar .material-icons.flechita {
    display: none;

}
.close_sidebar p {
    display: none;
}
.close_sidebar {
    width: 3%;
    height: 100%;
    overflow: hidden;
    position: relative;
    -webkit-transition: all .25s cubic-bezier(0.4,0.0,0.2,1),visibility 0s linear .25s;
    transition: all .25s cubic-bezier(0.4,0.0,0.2,1),visibility 0s linear .25s;
}
header img.logo {
    width: 65px;
    position: relative;
    /* left: -85px; */
}
.line-input_emp .input_sia-min:nth-last-child(1) {
    margin-right: 0;
}
.line-input_emp .input_sia-min {
    float: left;
    width: 22.75%;
    margin-right: 3%;
}
.title-edit {
    background: #f4f4f4;
    padding: 20px 25px;
    position: relative;
}
md-dialog.modal_empresa._md.md-transition-in {
    padding: 0;
}
.modal_title h2 {
    font-size: 26px;
    color: #3E53AD;
    font-family: 'Lato';
    margin-bottom: 0;
    margin-top: 0;
    float: left;
}
.modal_title img:focus {
    outline: none;
}
.modal_title {
    float: left;
    width: 100%;
    padding: 20px 25px;
    background: #f4f4f4;
}
.container_create-emp {
    padding: 20px 25px;
}
.box-edit-empresa {
    border: 1px solid #E8E8E8;
    box-shadow: 2px 2px 5px #e8e8e8;
}
.tooltip_atras img {
    margin: 0px !important;
    cursor: pointer;
}
.box-edit-empresa .title-edit h2 {
    font-size: 26px;
    margin: 0px;
    float: left;
    color: #3E53AD;
    font-family: 'Lato';
    width: calc(100% - 160px);
}
.title-edit img {
    width: 23px;
    float: right;
    cursor: pointer;
    margin-left: 25px;
}
.tooltip_atras {
    position: relative;
    float: right;
}
.wrap-empresas .empresas.list .table-hover>tbody>tr:hover {
    background-color: #f4f4f4;
}
.container.empresas.list table.table.table-hover th {
    color: #808184;
    font-family: 'Lato';
    font-weight: 400;
    border: none;
}
header .menu {
    margin-top: 25px;
}

header .menu a {
    color: #253d8f;
    font-family: Lato-Bold;
    margin-left: 30px;
}

a {
    text-decoration: none;
}
.menu span.user.dropdown
 a {
    color: #000;
}

.menu span.user.dropdown
 a i {
    padding-right: 10px;
    font-size: 17px;
}
.no-padding{
    padding-left: 0;
    padding-right: 0;
}
.sub-seccion-h1 {
    font-size: 32px;
}
.login-content {
    padding: 20px;
    height: 300px;
    background-color: #fff;
    border-width: 1px;
    width: 501px;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
}
.empresas.list {
    /* background-color: #FFF; */
    margin-top: 20px;
    margin-bottom: 20px;
}
.col-md-12.title-seccion-container {
    padding-bottom: 20px;
    padding-top: 10px;
}
.wrap-empresas .container.empresas.list .title-seccion-container .btn-orange {
    background-color: #F6921E;
}
.container div.title-seccion-container h1.sub-seccion-h1 {
    float: left;
    margin-bottom: 0px;
    margin-top: 0;
}
.wrap-empresas h1 {
    color: #F6921E;
    font-size: 32px;
    padding: 0 60px;
    margin-bottom: 20px;
}
form.busqueda input {
    border: 1px solid #F1F1F2;
    box-shadow: 2px 2px 5px #f1f1f2;
    border-radius: 3px;
    outline: 0;
    color: #495BA5;
    height: auto;
    padding: 13px;
    font-size: 13px;
    text-indent: 25px;
}
.busqueda button.btn.btn-default {
    margin-left: 20px;
    font-family: lato-Bold;
    color: #FFF;
    background-color: #495BA5;
    text-transform: uppercase;
    font-weight: normal;
    outline: 0;
    border: 1px solid #495BA5;
    padding: 6px 22px;
    border-radius: 3px;
    height: 40px;
}
form.busqueda input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #495BA5;
}
form.busqueda input::-moz-placeholder { /* Firefox 19+ */
  color: #495BA5;
}
form.busqueda input:-ms-input-placeholder { /* IE 10+ */
  color: #495BA5;
}
form.busqueda input:-moz-placeholder { /* Firefox 18- */
  color: #495BA5;
}
.btn-busqueda-av {
    font-family: 'Lato';
    font-size: 13px;
    color: #f6921e;
    text-decoration: underline;
    float: left;
    margin-left: 20px;
    cursor: pointer;
    background: none;
    margin-top: 11px;
    border: none;
    outline: none;
}
paging.ng-isolate-scope {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
li.ng-scope.active a:before {
    content: "";
    position: absolute;
    width: 50%;
    height: 1px;
    background: #003399;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
paging.ng-isolate-scope li.ng-scope a.ng-binding {
    border: none;
    background: white;
    color: #8792B2;
    font-size: 13px;
    position: relative;
}
li.ng-scope.active a {
    color: #003399 !important;
    /* border-bottom: 0px solid red; */
}
form.busqueda input:focus {
    outline: none;
    box-shadow: 2px 2px 10px #d4d4d4;
    border-color: 1px solid #F1F1F2;
    border: 1px solid #F1F1F2;
}

form.busqueda {
    margin-bottom: 35px;
    position: relative;
}
.empresas.list table thead tr th {
    color: #231F20;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 12px;
    font-family: lato-bold;
    border-bottom: 1px solid #DDD;
}
.wrap-empresas ul.pagination.paginador {
    padding-top: 30px;
}
.wrap-empresas .empresas.list .table-hover>tbody>tr:hover a.icon_borrar-empresa {
    opacity: 1;
}
a.icon_borrar-empresa {
    opacity: 0;
}
.empresas.list table tbody tr td {
    color: #4F5051;
    font-size: 13px;
    padding: 10px 8px;
    border: 0;
    font-family: 'Lato';
}
table.table.table-hover tbody tr td:nth-of-type(1) {
    padding-left: 20px;
}
table.table.table-hover thead tr th:nth-of-type(1) {
    padding-left: 20px;
}
.wrap-empresas .empresas.list .table-hover>tbody>tr {
    cursor: pointer;
}
.wrap-empresas .empresas.list .table-hover>tbody>tr:hover td {
    color: #3E53AD;
}
.container.empresas.list .table-responsive {
    padding-left: 25px;
    padding-right: 25px;
}
.container.empresas.list a.icon_borrar-empresa:nth-of-type(1) {
    margin-right: 10px;
}
.container.empresas.list a.icon_borrar-empresa:nth-last-child(1) {
    margin-left: 0px;
}
.container.empresas.list a.icon_borrar-empresa{
    float: right;
    margin-left: 20px;
}
a.icon_borrar-empresa i.material-icons {
    font-size: 20px;
}
.empresas.list table tbody tr td a.editar {
    color: #3E53AD;
    background-color: #F4F4F4;
    padding: 8px 14px;
    text-transform: uppercase;
    font-family: lato-bold;
    /* margin-right: 10px; */
}

a:hover {
    text-decoration: none;
}

.empresas.list table tbody tr td a.editar:hover {
    background-color: #d9d9d9;
}
ul.pagination.paginador li.active a {
    background-color: rgba(255, 0, 0, 0);
    color: #495BA5;
    /* font-size: 13px; */
    font-family: lato-bold;
    border-bottom: 1px solid #495BA5;
}

ul.pagination.paginador li a {
    border: 0;
    border-radius: 0;
    padding-bottom: 4px;
    padding-left: 2px;
    padding-right: 3px;
    /* padding: 0; */
    margin: 0 10px;
    font-size: 13px;
    color: #8792B2;
}

ul.pagination.paginador li a:hover {
    background-color: rgba(255, 255, 255, 0);
}
ul.pagination.paginador {
    margin-top: 0;
}
.empresas.list table tbody tr td:last-child {
    width: 123px;
}

.empresas.list table tbody tr td:last-child a {
    margin-left: 7px;
}
form.busqueda i.fa.fa-search {
    position: absolute;
    left: 13px;
    top: 13px;
    font-size: 20px;
    color: #495BA5;
}
.wrap-liquidacion .liquidacion {
    padding: 30px 60px;
    position: relative;
}
.wrap-liquidacion .liquidacion h2 {
    background-color: #F6921E;
    font-size: 16px;
    color: #FFF;
    padding: 8px;
    border-radius: 0;
    padding-left: 15px;
    position: fixed;
    left: 0;
    z-index: 5;
    margin: 0 auto;
    top: 69px;
    padding-left: 110px;
    padding-right: 110px;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
}
md-tabs-content-wrapper._md {
    margin-top: 50px;
}
md-tabs-wrapper {
    position: fixed;
    top: 103px;
    width: calc(100% - 211px);
    z-index: 9;
    left: 50%;
    transform: translateX(-50%);
    background: white !important;
}

.liquidacion md-content {
    background-color: white;
    overflow:  hidden;
}
.wrap-liquidacion .liquidacion h2 a {
    position: relative;
    color: #FFFFFF;
    float: right;
    border-bottom: 2px solid #FFF;
    font-size: 12px;
    font-family: lato-light;
    margin-top: -1px;
    padding-bottom: 4px;
    overflow: hidden;
    cursor: pointer;
}
md-tabs md-ink-bar {
    background-color: #3E53AD;
    color: #3E53AD;
    height: 4px;
}
button.agregar.md-button {
    background-color: #495BA5;
    color: #FFF;
    font-family: lato-bold;
    font-weight: normal;
    padding: 0px 8px;
    font-size: 12px;
}

button.agregar.md-button.md-raised:hover, button.agregar.md-button.md-raised:focus {
    background-color: #374890;
}
md-tab-item.md-tab {
    font-size: 12px;
}
.sidebar .head {
    background-color: #F7F7F7;
    width: 100%;
    float: left;
    padding: 7px 5px;
    padding-left: 5px;
    border-bottom: 1px solid #ddd;
    border-radius: 4px;
}

.sidebar .head span {
    font-size: 14px;
    color: #808184;
}
.sidebar.no-padding.col-md-2 .head .col-md-2:nth-of-type(1) {
    width: 30%;
    transition: all 0.3s ease;
}
.sidebar.no-padding.col-md-2 .head .col-md-2:nth-of-type(2) {
    width: 70%;
    transition: all 0.3s ease;
}
.sidebar.no-padding.col-md-2 .head .col-md-2:nth-of-type(4) {
    display: none;
}
.sidebar.no-padding.col-md-2 .head .col-md-1 {
    display: none;
}
.sidebar.no-padding.col-md-2 .head .col-md-3 {
    display: none;
}
.sidebar.col-md-2 .col-md-12.view-row > .no-padding:nth-of-type(2) {
    width: 70%;
    display: initial;
}
.sidebar.col-md-2 .col-md-12.view-row > .no-padding:nth-of-type(1) {
    display: initial;
    width: 30%;
}
.sidebar.col-md-2 .col-md-12.view-row > .no-padding {
    display: none;
}
.sidebar {
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: all 0.6s ease;
}
.sidebar .body .view-row {
    padding: 3px;
    border-bottom: 1px solid #ddd;
    outline: none;
}
.color-active {
    background: rgb(226, 226, 226);
}
.search-min {
    transition: all 0.6s ease;
}
.liquidacion .datos table.table tbody tr td {
    padding-top: 3px;
    padding-bottom: 3px;
}
.liquidacion td a img {
    width: 15px;
}
.datos.hidden-datos.col-md-2 {
    opacity: 0;
}
.hidden-datos {
    transition: opacity 0.35s, width 0.6s;
}
.liquidacion a.icon_borrar-empresa i.material-icons {
    font-size: 15px;
}
.sidebar .body .no-padding:hover .icon_borrar-empresa {
    opacity: 1;
}
.sidebar .body a.icon_borrar-empresa {
    float: right;
    margin-right: 4px;
}
.body.tabla_liquidacion .normal {
    border-left: 3px solid #009345;
}
.body.tabla_liquidacion .licencia {
    border-left: 3px solid #e2dd3b;
}
.body.tabla_liquidacion .baja {
    border-left: 3px solid #BE1E2D;
    color: #BE1E2D;
}
.data_liquidacion {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 0px;
    font-size: 14px;
}
.body.tabla_liquidacion .view-row:hover {
    background: #f5f5f5;
}
.sidebar .body .view-row:last-child {
    border-bottom: 0;
}
.sidebar .body .view-row .estado {
    background-color: black;
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 10px;
}
.sidebar .body .view-row .estado.green {
    background-color: #009345;
}
.sidebar .body .view-row .estado.red {
    background-color: #BE1E2D;
}
.datos h3 {
    margin: 0;
    color: #3E53AD;
    font-family: lato-bold;
    font-size: 18px;
    margin-bottom: 10px;
}
.datos h3 .cargo {
    font-family: lato;
}
.datos .acciones a, a.agregar {
    color: #808184;
    font-size: 12px;
    margin-right: 20px;
    cursor: pointer;
}
.datos .acciones a i.editar_legajo {
    background-image: url('../img/editar_legajo.png');
    display: inline-block;
    width: 15px;
    height: 15px;
    position: relative;
    top: 3px;
    background-repeat: no-repeat;
}
.datos .acciones a i.agregar {
    background-image: url('../img/agregar_icon.png');
    display: inline-block;
    width: 15px;
    height: 15px;
    position: relative;
    top: 3px;
    background-repeat: no-repeat;
}
.datos table.table thead tr th {
    font-weight: normal;
    color: #808184;
    border-bottom: 1px solid #ddd;
    font-size: 12px;
}
.datos table.table {
    margin-top: 15px;
}
.datos table.table tbody tr td {
    color: #404041;
    padding: 10px 8px;
    font-size: 12px;
}
.body.tabla_liquidacion .view-row:hover .data_liquidacion {
    color: #495ba5;
}
.body .datos {
    padding-left: 55px;
    margin-top: -55px;
}
.liquidacion md-pagination-wrapper {
    height: 34px;
}
.liquidacion md-tabs-canvas {
    height: 33px;
}
.liquidacion md-tabs-wrapper .md-tab {
    padding-top: 4px;
}
.body .buscador i {
    position: absolute;
    left: 8px;
    top: 8px;
    color: #808184;
    font-size: 19px;
}

.body .buscador input {
    /* width: 100%; */
    border-radius: 3px;
    box-shadow: none;
    outline: 0;
    text-indent: 26px;
    border: 1px solid #ccc;
}
.body .buscador {
    margin-bottom: 20px;
}
.liquidacion md-content .header {
    margin: 5px 0;
    margin-bottom: 0px;
}

html {
    overflow-y: hidden;
}
.main {
    overflow-y: scroll;
    height: calc(100vh - 70px);
}
.container.empresas.list.inner {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.loadingBar{
    position: fixed;
    top: 65px;
    z-index: 999;
    left: 0%;
}
md-dialog.modal_colegios {
    width: 60%;
}
.container_create-emp .md-button {
    margin: 0;
}

md-list-item.md-3-line, md-list-item.md-3-line > .md-no-style {
    height: 48px;
    min-height: 48px;
}
.btn-small-arrow {
    height: auto;
    padding: 0 5px;
}
.body.tabla_liquidacion .active {
    background: #e0e0e0;
    font-weight: 600;
}

#pager .md-button {
    width: 25%;
    /* padding: 0; */
    /* margin: 0; */
    min-width: 20px;
    max-width: 70px;
    /* border: 1px solid #e8e8e8; */
}
.liquidacion md-switch {
    padding: 0;
    margin: 0;
    height: 18px;
}
.aceptar-button {
    margin-right: 10px;
}

.row-remuneracion {
    border-left: 5px solid #1eb3be;
}
.row-no-renumerativo {
    border-left: 5px solid #e9e92b;
}
.row-deduccion {
    border-left: 5px solid #c02e29;
}

.pointer {
    cursor: pointer;
}

.totales {
    /* width: 50%; */
    float: right;
}

.totales > div {
    display: inline-block;
    margin-left: 18px;
    /* float: right; */
}

.totales > div > span:first-child {
    text-transform: uppercase;
    font-size: 14px;
    display: block;
    font-weight: bold;
}

.totales > div > span:last-child {
    font-size: 20px;
}

.blue {
    color: #3f51b5;
}

.blue:last-child {
    /* display: block; */
    /* margin-top: 20px; */
    margin-right: 5px;
}

.liquidacion-importes{
  text-align: right;
}

md-list-item.md-3-line-conceptos, md-list-item.md-3-line-conceptos > .md-no-style {
    height: 25px;
    min-height: 25px;
}

.buscador-conceptos{
    border-radius: 3px;
    box-shadow: none;
    outline: 0;
    border: 1px solid #ccc;
    display:  block;
    float: left;
    width: 100%;
    padding: 5px;
    margin-top: 15px;
}
.buscador-conceptos .table {
    margin-bottom: 0px;
}

.body-concepto div {
    padding: 4px 15px;
}

.concepto-sac {
    background-color: #eefffd;
    background-color: #e9f2ff;
}

.md-whiteframe-1dp, .md-whiteframe-z1 {
    box-shadow: none
}