<form ng-submit="save()">

    <div class="col-xs-12 col-md-12 wrap-empresas ">
        <div class="container empresas list">
            <div class="col-md-12 no-padding ">
                <div class="col-md-12 no-padding box-edit-empresa">
                    <div class="col-md-12 title-edit">
                        <h2>{{ title }} - {{ empresa.razon_social }}</h2>
                        <div class="tooltip_atras" ui-sref="liquidacion({estado: 'periodo'})">
                            <img src="img/atras_icon.png" alt="">
                            <md-tooltip md-direction="top">Volver</md-tooltip>
                        </div>
                    </div>
                    <div class="col-md-12 no-padding ">
                        <div class="col-md-12 container_create-emp">
                            <div class="line-input_emp">
                                <md-input-container class="md-block input_sia-min" flex-gt-sm>
                                    <label>Descripción</label>
                                    <input ng-model="periodo.descripcion" />
                                </md-input-container>
                                <md-input-container class="md-block input_sia-min" flex-gt-sm>
                                    <label>Año</label>
                                    <input ng-model="periodo.anio" type="number" maxlength="4" required/>
                                </md-input-container>
                                <md-input-container  ng-if="periodo.sac"
                                  class="md-block input_sia-min" flex-gt-sm>
                                    <label>Seleccioanar periodo</label>
                                    <md-select ng-disabled="periodo.sac == false" 
                                            ng-model="periodo.semestre" 
                                            ng-change="cambioSemestre(periodo.semestre)">
                                        <md-option value="1">1° Semestre (Ene-Jun)</md-option>
                                        <md-option value="2">2° Semestre (Jul-Dic)</md-option>
                                    </md-select>
                                </md-input-container>
                                <md-input-container 
                                  ng-if="periodo.sac == false"
                                  class="md-block input_sia-min" flex-gt-sm>
                                    <label>Seleccioanar mes</label>
                                    <md-select 
                                      ng-model="periodo.mes"  
                                      ng-disabled="periodo.sac"
                                      ng-change="cambioMes(periodo.mes)"
                                    >
                                        <md-option value="1">Enero</md-option>
                                        <md-option value="2">Febrero</md-option>
                                        <md-option value="3">Marzo</md-option>
                                        <md-option value="4">Abril</md-option>
                                        <md-option value="5">Mayo</md-option>
                                        <md-option value="6">Junio</md-option>
                                        <md-option value="7">Julio</md-option>
                                        <md-option value="8">Agosto</md-option>
                                        <md-option value="9">Septiembre</md-option>
                                        <md-option value="10">Octubre</md-option>
                                        <md-option value="11">Noviembre</md-option>
                                        <md-option value="12">Diciembre</md-option>
                                    </md-select>
                                </md-input-container>
                                <md-input-container class="md-block input_sia-min" flex-gt-sm>
                                    <md-checkbox ng-model='periodo.sac'>SAC</md-checkbox>
                                </md-input-container>
                            </div>
                            <div class="line-input_emp">
                                <md-input-container class="md-block input_sia-min" flex-gt-sm>
                                    <label>Fecha Inicio</label>
                                    <md-datepicker 
                                         ng-disabled="true"
                                        ng-model='periodo.fecha_inicio'
                                    ></md-datepicker>
                                </md-input-container>
                                <md-input-container class="md-block input_sia-min" flex-gt-sm>
                                    <label>Fecha Fin</label>
                                    <md-datepicker 
                                         ng-disabled="true"
                                        ng-model='periodo.fecha_fin'
                                    ></md-datepicker>
                                </md-input-container>
                            </div>
                            <div class="line-input_emp">
                                <md-input-container class="md-block input_sia-min" flex-gt-sm>
                                    <label>Cerrado: {{(periodo.cerrado) ? 'Si' : 'No'}}</label>
                                </md-input-container>
                            </div>
                            <div class="line-input_emp">
                                <md-dialog-actions layout="row">
                                    <span flex></span>
                                    <!--ng-click="guardarCategorias = !guardarCategorias"-->
                                    <md-button type="submit" class="md-primary rellono-blue">
                                        GUARDAR
                                    </md-button>
                                    <md-button class="md-primary rellono-white" ui-sref="liquidacion({estado: 'periodo'})">
                                        CANCELAR
                                    </md-button>
                                </md-dialog-actions>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</form>