<div class="container-fluid login">
    <div class="login-content">
        <h3>Confirmación de cuenta</h3>
        <h3><small>Ingrese el código enviado a su casilla de correo.</small></h3>
        <md-input-container class="md-block username" flex-gt-sm>
            <label>Código</label>
            <input ng-model="code" required>
        </md-input-container>
        <md-button class="md-raised md-primary i-sesion" ng-click="checkAccount()">Confirmar</md-button>
    </div>
</div>