<form ng-submit="login()">

  <div class="container-fluid login">

    <div class="login-content">
      <h3>Iniciar sesión</h3>
      <br>
      <md-input-container class="md-block username" flex-gt-sm>
        <label>Email</label>
        <md-icon class="username-icon">
          <span class="glyphicon glyphicon-user"></span>
        </md-icon>
        <input ng-model="username" required>
      </md-input-container>
      <md-input-container class="md-block password" flex-gt-sm>
        <label>Clave</label>
        <md-icon class="username-icon">
          <span class="glyphicon glyphicon-lock"></span>
        </md-icon>
        <input ng-model="password" required type="password">
      </md-input-container>

      <md-button  type="submit" class="md-raised md-primary i-sesion" ng-click="">Iniciar sesión</md-button>
    </div>

  </div>
</form>