<div class="col-xs-12 col-md-12 wrap-empresas">
    <div class="container empresas list">
    <div class="col-md-12 no-padding">
      <div class="col-md-12 title-seccion-container">
        <h1 class="sub-seccion-h1">Antigüedad</h1>
        <md-button ui-sref="antiguedad.crear({ empresaid:'0'})" class="pull-right md-raised agregar btn-orange">Agregar antigüedad</md-button>
      </div>
      <form class="busqueda col-md-12">
        <div class="col-md-4 no-padding">
          <i class="fa fa-search" aria-hidden="true"></i>
          <input type="text" class="form-control" placeholder="Categoría" ng-model="searchText">
        </div>
        <!-- <button type="submit" class="btn-busqueda-av" ng-click="search()">Búsqueda avanzada</button> -->
      </form>
      <div class="table-responsive col-md-12">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Años</th>
              <th>Porcentaje</th>
              <th>Categoría</th>
              <th>Observaciones</th>
              <th></th>
            </tr>
          </thead>
          <tbody ng-repeat="item in antiguedad">
            <tr>
              <td ng-bind="item.antiguedad" ui-sref="antiguedad.ver({id : item._id, empresaid : 0})"></td>
              <td ng-bind="item.porcentaje" ui-sref="antiguedad.ver({id : item._id, empresaid : 0})"></td>
              <td ng-bind="item.categoria.codigo" ui-sref="antiguedad.ver({id : item._id, empresaid : 0})"></td>
              <td ng-bind="item.observaciones" ui-sref="antiguedad.ver({id : item._id, empresaid : 0})"></td>
              <td class="text-right">
                <a class="icon_borrar-empresa" ui-sref="antiguedad.editar({id : item._id, ver: 0, search : searchText, empresaid : 0})">
                  <i class="material-icons">create</i>
                </a>
                <a href="#" class="icon_borrar-empresa">
                  <i ng-click="eliminarAntiguedad($event, item)" class="material-icons">delete</i></a>
              </td>

              <a class="icon_borrar-empresa">
                <i class="material-icons">create</i>
              </a>
              <a class="icon_borrar-empresa">
                <i class="material-icons">delete</i>
              </a>
            </tr>
          </tbody>
        </table>

        <paging
          page="currentPage"
          page-size="pageSize"
          total="total"
          show-prev-next="true"
          show-first-last="true"
          paging-action="paging(page)">>
        </paging>
      </div>
    </div>
  </div>

  