<form ng-submit="save()">

  <div class="col-xs-12 col-md-12 wrap-empresas ">
    <div class="container empresas list">
      <div class="col-md-12 no-padding ">
        <div class="col-md-12 no-padding box-edit-empresa">
          <div class="col-md-12 title-edit">
            <h2>{{ title }} <span ng-if='empresa.razon_social !== undefined'>
              {{empresa.razon_social}}
            </span></h2>
            <div class="tooltip_atras" ng-click="goBack()">
              <img src="img/atras_icon.png" alt="">
              <md-tooltip md-direction="top">Volver</md-tooltip>
            </div>
          </div>
          <div class="col-md-12 no-padding ">
            <div class="col-md-12 container_create-emp">
              <div class="line-input_emp">
                <md-input-container class="md-block input_sia-min" flex-gt-sm>
                  <label>Años</label>
                  <input ng-model="antiguedad.antiguedad"/>
                </md-input-container>
                <md-input-container class="md-block input_sia-min" flex-gt-sm>
                  <label>Porcentaje</label>
                  <input ng-model="antiguedad.porcentaje" type="number" step="0.01">
                </md-input-container>

                <md-input-container class="md-block input_sia-min" flex-gt-sm>
                  <md-autocomplete
                  md-selected-item="antiguedad.categoria"
                  md-search-text="searchText"
                  md-items="categoria in categorias | filter:searchText"
                  md-item-text="categoria.nombre"
                  md-min-length="0"
                  placeholder="Seleccionar categoría">
                  <md-item-template>
                    <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{categoria.codigo}} - {{categoria.nombre}}</span>
                  </md-item-template>
              </md-input-container>
            </div>
            <div class="line-input_emp">
                <md-input-container class="md-block input_sia-min">
                    <label>Importe</label>
                    <input ng-model="antiguedad.importe" type="number" step="0.01">
                </md-input-container>
                <md-input-container class="md-block input_sia-min">
                    <label>Observaciones</label>
                    <input ng-model="antiguedad.observaciones">
                </md-input-container>
            </div>

            <div class="line-input_emp">
              <md-dialog-actions layout="row">
                <span flex></span>
                <!--ng-click="guardarCategorias = !guardarCategorias"-->
                <md-button type="submit" class="md-primary rellono-blue">
                  GUARDAR
                </md-button>
                <md-button class="md-primary rellono-white" ng-click="goBack()">
                  CANCELAR
                </md-button>
              </md-dialog-actions>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</form>
