<div class="col-xs-12 col-md-12 wrap-empresas ">
	<div class="container empresas list">
		<div class="col-md-10 no-padding">
			<div class="col-md-12 no-padding box-edit-empresa">
				<div class="col-md-12 title-edit">
					<h2>{{antiguedad.nombre}}</h2>
					<img src="img/borrar_icon_2.png" alt="delete" ng-click="eliminarAntiguedad($event, antiguedad)">
					<img src="img/editar_icon.png" alt="" ui-sref="antiguedad.editar({id:antiguedad._id, ver: 1, search:searchText, empresaid:empresaid })">
					<div class="tooltip_atras" ng-click="goBack()">
						<img src="img/atras_icon.png" alt="">
						<md-tooltip md-direction="top">Volver</md-tooltip>
					</div>
				</div>
				<div class="col-md-12 no-padding ">
					<div class="col-md-12 container_create-emp">

						<div class="line-input_emp">
							<div class="md-block input_sia-min guardar_input">
								<label>Años</label>
								<span ng-bind="antiguedad.antiguedad"></span>
							</div>
							<div class="md-block input_sia-min guardar_input">
								<label>Porcentaje</label>
								<span ng-bind="antiguedad.porcentaje"></span>
							</div>
						</div>

						<div class="line-input_emp">
							<div class="md-block input_sia-min guardar_input">
								<label>Categoría - código</label>
								<span ng-bind="antiguedad.categoria.codigo"></span>
							</div>
							<div class="md-block input_sia-min guardar_input">
								<label>Categoría - Nombre</label>
								<span ng-bind="antiguedad.categoria.nombre"></span>
							</div>
						</div>

						<div class="line-input_emp">
							<div class="md-block input_sia-min guardar_input">
								<label>Importe</label>
								<span ng-bind="antiguedad.importe"></span>
							</div>
							<div class="md-block input_sia-min guardar_input">
								<label>Observaciones</label>
								<span ng-bind="antiguedad.observaciones"></span>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
