<md-dialog aria-label="Cambiar Colegio" class="modal_colegios modal_close">
    <md-dialog-content>
        <div class="modal_title ">
            <h2 class="">Alerta afip</h2>
            <i class="material-icons" ng-click="cancel()">close</i>
        </div>
        <div class="md-dialog-content">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Codigo de actividad</th>
                    </tr>
                </thead>
                <tbody ng-repeat="persona in personasAlert">
                    <tr>
                        <td>{{ persona.nombre }}</td>
                        <td>{{ persona.datos_administrativos.c_actividad.codigo }}</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button ng-click="guardar()">
            GUARDAR
        </md-button>
        <md-button ng-click="cancel()">
            CERRAR
        </md-button>
    </md-dialog-actions>
</md-dialog>