<md-dialog aria-label="Cambiar Importe" class="modal_colegios modal_close">
    <form ng-cloak class="editar-empresa">
        <md-dialog-content>
            <div class="modal_title ">
                <h2 class="">Selección de conceptos</h2>
                <i class="material-icons" ng-click="cancel()">close</i>
            </div>
            <div class="md-dialog-content">
                <div class="view-row no-padding" >
                    <div class="col-sm-12">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Buscar</label>
                            <input type="text" ng-model="searchText" ng-change="checkSearchText()" md-autofocus>
                        </md-input-container>
                    </div>
                    <div class="col-sm-12" ng-if="check">
                        <td>
                            <md-checkbox class="md-warn md-align-top-left" aria-label="Select All" ng-checked="isChecked()" md-indeterminate="isIndeterminate()"
                                ng-click="toggleAll()">
                        </td>
                        <td>SELECCIONAR TODAS</td>
                    </div>
                    <div class="col-sm-12" style="overflow: auto;height: 200px;">
                        <table class=" table table table-hover table-conceptos">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Conceptos</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="concepto in conceptos | filter:searchText">
                                    <td style="padding:0%;">
                                        <md-checkbox ng-checked="exists(concepto, selected)" ng-click="toggle(concepto, selected)">
                                    </td>
                                    <td style="padding:0%;">{{ concepto.codigo }} - {{ concepto.descripcion }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button ng-click="save()">
                GUARDAR
            </md-button>
            <md-button ng-click="cancel()">
                CANCELAR
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>