<md-dialog aria-label="Consulta de ganancias(sistema)" class="modal_colegios modal_close">
        <form ng-cloak class="editar-empresa">
          <md-dialog-content>
            <span id="topColegio" ng-init="loadTemplate()"></span>
            <div class="modal_title ">
              <h2 class="">Consulta de ganancias(sistema)</h2>
              <i class="material-icons" ng-click="cancel()">close</i>
            </div>
            <div class="md-dialog-content">
              <div class="col-md-12 container_create-emp no-padding">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Impuesto anual</th>
                                <th>Impuesto mensual</th>
                                <th>Alicuota</th>
                                <th>Sueldo en mano</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ganancia.impuestoAnual}} </td>
                                <td>{{ganancia.impuestoMensual}} </td>
                                <td>{{ganancia.alicuota}}</td>
                                <td>{{ganancia.sueldoEnMano}}</td>
                            </tr>
                        </tbody>
                    </table>   
                </div>
            </div>
          </md-dialog-content>
          <md-dialog-actions layout="row">
            <md-button ng-click="cancel()">
                CANCELAR
            </md-button>
          </md-dialog-actions>
        </form>
      </md-dialog>
