<md-dialog aria-label="Cambiar Importe" class="modal_colegios modal_close">
    <form ng-cloak class="editar-empresa">
        <md-dialog-content>
            <div class="modal_title ">
                <h2 class="">Importar personas</h2>
                <i class="material-icons" ng-click="cancel()">close</i>
            </div>
            <div class="md-dialog-content">
                <div style="margin-top:80px;">
                    <div class="col-md-6">
                        <md-button ng-click="descargarCSVejemplo()" class="md-raised agregar">Descargar CSV ejemplo</md-button>
                        <!-- <a href="/public/importar_padron.csv" download>Descargar SCV ejemplo</a> -->
                    </div>
                    <div class="col-md-6" style="margin-top:5px;">
                        <input name="file" type="file" value="{{nombre_archivo}}" custom-on-change="uploadFile">
                        <label for="file">{{nombre_archivo}}</label>
                    </div>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button ng-click="cancel()">
                CANCELAR
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>