<md-dialog aria-label="Cambiar Importe" class="modal_colegios modal_close">
    <form ng-cloak class="editar-empresa">
        <md-dialog-content>
            <div class="modal_title ">
                <h2 class="">Sueldos netos</h2>
                <i class="material-icons" ng-click="cancel()">close</i>
            </div>
            <div class="md-dialog-content">
                <div class="view-row no-padding">
                    <div class="col-sm-12" style="overflow: auto;height: 200px;">
                        <table class=" table table table-hover table-conceptos">
                            <thead>
                                <tr>
                                    <th>Subempresas</th>
                                    <th>L. Activos</th>
                                    <th>Cant. empleados</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="subempresa in legajos_activos.subempresa">
                                    <td>{{subempresa.nombre}}</td>
                                    <td>{{subempresa.legajos_activos}}</td>
                                    <td>{{subempresa.empleados}}</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>{{legajos_activos.total_legajos}}</td>
                                    <td>{{legajos_activos.total_empleados}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button ng-click="save()">
                GENERAR
            </md-button>
            <md-button ng-click="cancel()">
                CANCELAR
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>