<md-dialog aria-label="Cambiar Colegio" class="modal_colegios modal_close">
    <form ng-cloak class="editar-empresa">
      <md-dialog-content>
        <span id="topColegio" ng-init="loadTemplate()"></span>
        <div class="modal_title">
          <h2 class="">Cambiar de período</h2>
          <i class="material-icons" ng-click="cancel()">close</i>
        </div>
        <div class="md-dialog-content">
          <div class="col-md-12 container_create-emp no-padding">
            <div class="line-input_emp">
              <md-list-item 
              class="md-3-line" 
              ng-repeat="periodo in periodos | orderBy: 'fecha_fin'" 
              ng-click="pickPeriodo(periodo)">
                <div class="md-list-item-text" layout="column" >
                  <h4>{{ periodo.descripcion }} | {{ formatDate(periodo.fecha_inicio) }} - {{ formatDate(periodo.fecha_fin)}}</h4> 
                </div>
              </md-list-item>
            </div>         
      </md-dialog-content>
      <md-dialog-actions layout="row">
        <md-button ng-click="cancel()">
            CANCELAR
        </md-button>
      </md-dialog-actions>
    </form>
  </md-dialog>