<md-dialog aria-label="Cambiar Importe" class="modal_colegios modal_close">
    <form ng-cloak class="editar-empresa">
        <md-dialog-content>
            <div class="modal_title ">
                <h2 class="">Generar recibos</h2>
                <i class="material-icons" ng-click="cancel()">close</i>
            </div>
            <div class="md-dialog-content">
                
                <!-- <div class="col-md-12 container_create-emp no-padding">
                    <div class="line-input_emp select-text">
                        <md-select multiple ng-model='reporte.subempresaSeleccionada' placeholder='Subempresas'>
                            <md-button layout-fill value="all" ng-click="reporte.subempresaSeleccionada = subempresas">Todas</md-button>
                            <md-option ng-repeat='subempresa in subempresas' ng-value='subempresa'>{{ subempresa.descripcion }}</md-option>
                        </md-select>
                    </div>
                </div> -->

                <div class="view-row no-padding" >
                    <div class="col-sm-12">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Buscar</label>
                            <input type="text" ng-model="searchText" ng-change="checkSearchText()" md-autofocus>
                        </md-input-container>
                    </div>
                    <div class="col-sm-12" ng-if="check">
                        <td>
                            <md-checkbox class="md-warn md-align-top-left" aria-label="Select All" ng-checked="isChecked()" md-indeterminate="isIndeterminate()"
                                ng-click="toggleAll()">
                        </td>
                        <td>SELECCIONAR TODAS</td>
                    </div>
                    <div class="col-sm-12" style="overflow: auto;height: 200px;">
                        <table class=" table table table-hover table-conceptos">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Subempresas</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="subempresa in subempresas | filter:searchText">
                                    <td style="padding:0%;">
                                        <md-checkbox ng-checked="exists(subempresa, selected)" ng-click="toggle(subempresa, selected)">
                                    </td>
                                    <td style="padding:0%;">{{ subempresa.descripcion }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="md-dialog-content" ng-show="soloSubempresas">
                <div class="col-md-4 container_create-emp">
                    <md-input-container class="md-block input_sia-min">
                        <label>Lugar de pago</label>
                        <input ng-model="lugar_pago">
                    </md-input-container>
                </div>
                <div class="col-md-4 container_create-emp ">
                    <div class="line-input_emp">
                        <label>Fecha de pago</label>
                        <md-datepicker ng-model='fecha_pago'></md-datepicker>
                    </div>
                </div>
                <div class="col-md-4 container_create-emp ">
                    <div class="line-input_emp">
                        <label>Fecha de deposito</label>
                        <md-datepicker ng-model='fecha_deposito'></md-datepicker>
                    </div>
                </div>
            </div>
            <div class="md-dialog-content" ng-show="soloSubempresas" >
                <div class="col-md-12">
                    <div class="line-input_emp">
                        <md-radio-group ng-model="orden" ng-init="orden=1" class="md-primary" layout="row" style="width:100%;">
                            <md-radio-button ng-value="1">
                                Alfabético por subempresa
                            </md-radio-button>
                            <md-radio-button ng-value="2">
                                Nro. documento
                            </md-radio-button>
                            <md-radio-button ng-value="3">
                                Alfabético general
                            </md-radio-button>
                        </md-radio-group>
                    </div>
                </div>
            </div>
            <div class="md-dialog-content" ng-show="imagen" >
                <div class="col-md-12">
                    <div class="line-input_emp">
                        <br>
                        <md-checkbox md-no-ink aria-label="Checkbox No Ink" ng-model="fondo" class="md-primary">
                            Imagen de fondo
                        </md-checkbox>
                    </div>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button ng-click="save()">
                GENERAR
            </md-button>
            <md-button ng-click="cancel()">
                CANCELAR
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>