<md-dialog aria-label="Cambiar Importe" class="modal_colegios modal_close">
        <form ng-cloak class="editar-empresa">
            <md-dialog-content>
                <div class="modal_title ">
                    <h2 class="">Generar rendición DGEPG</h2>
                    <i class="material-icons" ng-click="cancel()">close</i>
                </div>
                <div class="md-dialog-content">
                    
                    <div class="view-row no-padding" >
                        <div class="col-sm-12">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Buscar</label>
                                <input type="text" ng-model="searchText" ng-change="checkSearchText()" md-autofocus>
                            </md-input-container>
                        </div>
                        <div class="col-sm-12" style="overflow: auto;height: 200px;">
                            <table class=" table table table-hover table-conceptos">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Subempresas</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="subempresa in subempresas | filter:searchText">
                                        <td style="padding:0%;">
                                            <md-checkbox ng-checked="exists(subempresa, selected)" ng-click="toggle(subempresa, selected)">
                                        </td>
                                        <td style="padding:0%;">{{ subempresa.descripcion }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </md-dialog-content>
            <md-dialog-actions layout="row">
                <md-button ng-click="save()">
                    GENERAR
                </md-button>
                <md-button ng-click="cancel()">
                    CANCELAR
                </md-button>
            </md-dialog-actions>
        </form>
    </md-dialog>