<md-dialog aria-label="Cambiar Importe" class="modal_colegios modal_close">
    <form ng-cloak class="editar-empresa">
        <md-dialog-content>
            <div class="modal_title ">
                <h2 class="">Sueldos netos</h2>
                <i class="material-icons" ng-click="cancel()">close</i>
            </div>
            <div class="md-dialog-content">
                <div class="view-row no-padding" >
                    <div class="col-sm-12">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Buscar</label>
                            <input type="text" ng-model="searchText" ng-change="checkSearchText()" md-autofocus>
                        </md-input-container>
                    </div>
                    <div class="col-sm-12" ng-if="check">
                        <td>
                            <md-checkbox class="md-warn md-align-top-left" aria-label="Select All" ng-checked="isChecked()" md-indeterminate="isIndeterminate()"
                                ng-click="toggleAll()">
                        </td>
                        <td>SELECCIONAR TODAS</td>
                    </div>
                    <div class="col-sm-12" style="overflow: auto;height: 200px;">
                        <table class=" table table table-hover table-conceptos">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Subempresas</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="subempresa in subempresas | filter:searchText">
                                    <td style="padding:0%;">
                                        <md-checkbox ng-checked="exists(subempresa, selected)" ng-click="toggle(subempresa, selected)">
                                    </td>
                                    <td style="padding:0%;">{{ subempresa.descripcion }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="md-dialog-content">
                <div class="col-md-6 container_create-emp no-padding">
                    <div class="line-input_emp">
                        <md-checkbox md-no-ink aria-label="Checkbox No Ink" ng-model="agrupaLegajos" class="md-primary">
                            Agrupar por Persona
                        </md-checkbox>
                    </div>
                </div>
                <div class="col-md-6 container_create-emp no-padding" ng-show="neto">
                    <!-- <div class="line-input_emp">
                        <md-checkbox md-no-ink aria-label="Checkbox No Ink" ng-model="conCta" class="md-primary">
                            
                        </md-checkbox>
                    </div>
                    <div class="line-input_emp">
                        <md-checkbox md-no-ink aria-label="Checkbox No Ink" ng-model="conCta" class="md-primary">
                            Solo sin cta. bancaria
                        </md-checkbox>
                    </div> -->
                    <md-radio-group ng-model="cta">

                        <md-radio-button value="conCta" class="md-primary">Solo con cta. bancaria</md-radio-button>
                        <md-radio-button value="sinCta" class="md-primary"> Solo sin cta. bancaria </md-radio-button>
                        <md-radio-button value="all" class="md-primary" >Todos</md-radio-button>
                  
                      </md-radio-group>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button ng-click="save()">
                GENERAR
            </md-button>
            <md-button ng-click="cancel()">
                CANCELAR
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>