<md-dialog aria-label="Cambiar Importe" class="modal_colegios modal_close">
    <form ng-cloak class="editar-empresa">
        <md-dialog-content>
            <div class="modal_title ">
                <h2 class="">Reporte de sueldos</h2>
                <i class="material-icons" ng-click="cancel()">close</i>
            </div>
            <div class="md-dialog-content">
                <div class="col-md-6 container_create-emp no-padding">
                    <md-radio-group ng-model="type">
                        <md-radio-button value="true" class="md-primary" ng-selected="true">Con encabezado</md-radio-button>
                        <md-radio-button value="false" class="md-primary">Sin encabezado </md-radio-button>
                    </md-radio-group>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button ng-click="save()">
                GENERAR
            </md-button>
            <md-button ng-click="cancel()">
                CANCELAR
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>