<md-dialog aria-label="Cambiar Importe" class="modal_colegios modal_close">
  <form ng-cloak class="editar-empresa">
    <md-dialog-content>
      <div class="modal_title ">
        <h2 class="">{{ titulo }}</h2>
        <i class="material-icons" ng-click="cancel()">close</i>
      </div>
      <div class="md-dialog-content">
        <div class="col-md-12 container_create-emp no-padding">
          <div class="line-input_emp">
            <md-input-container class="col-md-12 md-block" flex-gt-sm>
              <label>Descripción</label>
              <input ng-model="concepto.descripcion" md-autofocus>
            </md-input-container>
        </div>         
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button ng-click="save()">
          GUARDAR
      </md-button>
      <md-button ng-click="cancel()">
          CANCELAR
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>