<md-dialog aria-label="Cambiar Colegio" class="modal_colegios modal_close">
    <md-dialog-content>
        <div class="modal_title ">
            <h2 class="">Alerta valor</h2>
            <i class="material-icons" ng-click="cancel()">close</i>
        </div>
        <div class="md-dialog-content">
            <h3>
                Actualmente hay un valor con el código ingresado. 
                Si continuá, el sigueiente valor quedará sin efecto.
            </h3>

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Valor</th>
                        <th>Descripción</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td ng-bind="valor.codigo"></td>
                        <td ng-bind="valor.valor"></td>
                        <td ng-bind="valor.descripcion"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button ng-click="guardar()">
            GUARDAR
        </md-button>
        <md-button ng-click="cancel()">
            CERRAR
        </md-button>
    </md-dialog-actions>
</md-dialog>