<div class="col-xs-12 col-md-12 wrap-empresas ">
	<div class="container empresas list">
	<div class="col-md-12 no-padding">
		<div class="col-md-12 title-seccion-container">
			<h1 class="sub-seccion-h1">Conceptos</h1>
	 		<md-button ui-sref="conceptos.crear" class="pull-right md-raised agregar btn-orange">Crear Concepto</md-button>
		</div>
		<form class="busqueda col-md-12">
	        <div class="col-md-4 no-padding">
	        	<i class="fa fa-search" aria-hidden="true"></i>
	          <input type="text" class="form-control" placeholder="Código de concepto, descripción..." ng-model="searchText">
	        </div>
        	<button type="submit" class="btn-busqueda-av" ng-click="search()">Búsqueda avanzada</button>
		</form>
			<div class="table-responsive col-md-12">          
			  <table class="table table-hover">
			    <thead>
			      <tr>
			        <th>Código</th>
			        <th>Descripción</th>
			        <th>Fórmula</th>
			        <th>Índice</th>
			        <th>Tipo</th>
			        <th></th>
			      </tr>
			    </thead>
			    <tbody ng-repeat="item in items">
			      <tr>
			        <td ng-bind="item.codigo" ui-sref="conceptos.ver({id : item._id, search:searchText, empresaid:'0'})"></td>
			        <td ng-bind="item.descripcion" ui-sref="conceptos.ver({id : item._id, search:searchText, empresaid:'0'})"></td>
			        <td ng-bind="item.formula" ui-sref="conceptos.ver({id : item._id, search:searchText, empresaid:'0'})"></td>
			        <td ng-bind="item.indice" ui-sref="conceptos.ver({id : item._id, search:searchText, empresaid:'0'})"></td>
			        <td ng-bind="verRemuneracion(item.tipo_remuneracion)" ui-sref="concepto.ver({id : item._id, search:searchText, empresaid:'0'})"></td>
			        <td class="text-right">
								<a class="icon_borrar-empresa" ui-sref="conceptos.editar({id : item._id, ver: 0,search:searchText, empresaid:'0'})"><i class="material-icons">create</i></a>
								<a href="#" class="icon_borrar-empresa" ><i ng-click="confirmModal($event, item)" class="material-icons">delete</i></a>
			        </td>
							<a ui-sref="conceptos.editar({id: item._id, ver: 2, search:searchText, empresaid:'0'})" class="icon_borrar-empresa"><i class="material-icons">create</i></a>
			        <a class="icon_borrar-empresa" ><i class="material-icons">delete</i></a>
			      </tr>
			      <!--
			      	<tr>
			      	 	<td>Empresa Colegio 1</td>
			      	 	<td>Yerbal 985 </td>
			      	 	<td>Localidad 1</td>
			      	 	<td>5126872326</td>
			      	 	<td class="text-right"><a class="editar" href="#">editar</a> <a href="#"><img src="img/borrar_icon.png"></a></td>
			      	</tr>
			      -->
			    </tbody>
			  </table>
				
				<paging
				  	page="currentPage" 
				  	page-size="pageSize" 
				  	total="total"
				  	show-prev-next="true"
				  	show-first-last="true"
				  	paging-action="paging(page)">>
				</paging>
		  </div>
	</div>
</div>