<div class="col-xs-12 col-md-12 wrap-empresas ">
	<div class="container empresas list">
		<div class="col-md-12 no-padding">
			<div class="col-md-12 no-padding box-edit-empresa">
				<div class="col-md-12 title-edit">
					<h2>
						{{title}}
						<span ng-show="concepto.empresa !== undefided && concepto.empresa !== null"> - {{concepto.empresa.razon_social}}
						</span>
					</h2>
				</div>
				<div class="col-md-12 no-padding ">
					<div class="col-md-12 container_create-emp">
						<div class="line-input_emp">
							<md-input-container class="md-block input_sia">
								<label>Tipo remuneracion</label>
								<md-select ng-model="concepto.tipo_remuneracion">
									<md-option value="1">Remunerativo</md-option>
									<md-option value="2">No remunerativo</md-option>
									<md-option value="3">Deducciones</md-option>
								</md-select>
							</md-input-container>
							<md-input-container class="md-block input_sia-min">
								<label>Categoría</label>
								<md-select ng-model="concepto.categoria_codigo">
									<md-option ng-repeat="categoria in categorias" ng-value="categoria.codigo">
										{{categoria.codigo}} - {{categoria.nombre}}
									</md-option>
								</md-select>
							</md-input-container>
							<md-input-container class="md-block input_sia-min" flex-gt-sm>
								<label>Subcodigo</label>
								<input ng-model="concepto.codigo">
							</md-input-container>
						</div>
						<div class="line-input_emp">
							<md-input-container class="md-block input_sia" flex-gt-sm>
								<label>Descripción</label>
								<input ng-model="concepto.descripcion">
							</md-input-container>
						</div>
						<div class="line-input_emp">
							<md-input-container class="md-block input_sia" flex-gt-sm>
								<label>Fórmula</label>
								<input ng-model="concepto.formula" placeholder="{{concepto.formula}}">
							</md-input-container>
							<md-input-container class="md-block input_sia" flex-gt-sm>
								<label>Clase</label>
								<input ng-model="concepto.clase" placeholder="{{concepto.clase}}">
							</md-input-container>
						</div>
						<div class="line-input_emp">
							<md-input-container class="md-block input_sia" flex-gt-sm>
								<label>Índice</label>
								<input ng-model="concepto.indice" placeholder="{{concepto.indice}}" type="number" step="0.01">
							</md-input-container>
							<md-input-container class="md-block input_sia-min" flex-gt-sm>
								<label>Columna Haberes</label>
								<input ng-model="concepto.columnaHaberes" placeholder="{{concepto.colHaberes}}">
							</md-input-container>
							<md-input-container class="md-block input_sia-min" flex-gt-sm>
								<label>Orden Estadisticas</label>
								<input ng-model="concepto.orden" placeholder="{{concepto.orden}}">
							</md-input-container>
						</div>
						<div class="line-input_emp margin-top_check">
							<div flex-gt-sm="50" class="input_sia-min">
								<md-checkbox md-no-ink aria-label="Checkbox No Ink" ng-model="concepto.fijo" class="md-primary">
									Fijo
								</md-checkbox>
							</div>
							<div flex-gt-sm="50" class="input_sia-min">
								<md-checkbox md-no-ink aria-label="Checkbox No Ink" ng-model="concepto.ganancias" class="md-primary">
									Ganancias
								</md-checkbox>
							</div>
							<div flex-gt-sm="50" class="input_sia-min">
								<md-checkbox md-no-ink aria-label="Checkbox No Ink" ng-model="concepto.cb3" class="md-primary">
									Imp. Recibo
								</md-checkbox>
							</div>
							<div flex-gt-sm="50" class="input_sia-min">
								<md-checkbox md-no-ink aria-label="Checkbox No Ink" ng-model="concepto.sac" class="md-primary">
									SAC
								</md-checkbox>
							</div>
							<div flex-gt-sm="50" class="input_sia-min">
								<md-checkbox md-no-ink aria-label="Checkbox No Ink" ng-model="concepto.caja_complementaria" class="md-primary" ng-disabled="concepto.sac != true"
								 ng-checked="concepto.sac == concepto.caja_complementaria && concepto.sac == true">
									CC - Caja complementaria
								</md-checkbox>
							</div>
						</div>
						<div class="line-input_emp margin-top_check">
							<h5>Marcas</h5>
							<md-input-container class="md-block input_sia-min" flex-gt-sm>
								<label>Marca</label>
								<input ng-model="concepto.marcas.marca" >
							</md-input-container>
							<md-input-container class="md-block input_sia-min" flex-gt-sm>
								<label>Marca 1</label>
								<input ng-model="concepto.marcas.marca_1" >
							</md-input-container>
							<md-input-container class="md-block input_sia-min" flex-gt-sm>
								<label>Marca 2</label>
								<input ng-model="concepto.marcas.marca_2" >
							</md-input-container>
						</div>
						<div class="line-input_emp margin-top_check">
							<md-input-container class="md-block input_sia-min" flex-gt-sm>
								<label>Marca 3</label>
								<input ng-model="concepto.marcas.marca_3" >
							</md-input-container>
							<md-input-container class="md-block input_sia-min" flex-gt-sm>
								<label>Marca 4</label>
								<input ng-model="concepto.marcas.marca_4" >
							</md-input-container>
							<md-input-container class="md-block input_sia-min" flex-gt-sm>
								<label>Marca 5</label>
								<input ng-model="concepto.marcas.marca_5" >
							</md-input-container>
						</div>
						<div>
						</div>
						<div class="line-input_emp">
							<md-dialog-actions layout="row">
								<span flex></span>
								<md-button ng-click="save()" class="md-primary rellono-blue">
									GUARDAR
								</md-button>
								<md-button class="md-primary rellono-white" ng-click="goBack()">
									CANCELAR
								</md-button>
							</md-dialog-actions>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>