<div class="col-xs-12 col-md-12 wrap-empresas ">
	<div class="container empresas list">
		<div class="col-md-10 no-padding">
			<div class="col-md-12 no-padding box-edit-empresa">
				<div class="col-md-12 title-edit">
					<h2 ng-bind="concepto.descripcion"></h2>
					<img src="img/borrar_icon_2.png" alt="delete" ng-click="confirmModal(event, concepto)">
					<img src="img/editar_icon.png" alt="edit" ng-if="!esEmpresa" ui-sref="conceptos.editar({id:concepto._id, ver:1 ,search:searchText, empresaid: '0'})">
					<img src="img/editar_icon.png" alt="edit" ng-if="esEmpresa" ui-sref="conceptos.editar({id:concepto._id, ver:1 ,search:searchText, empresaid: concepto.empresa._id})">
					<div class="tooltip_atras" ng-click="goBack()">
						<img src="img/atras_icon.png" alt="">
						<md-tooltip md-direction="top">Volver</md-tooltip>
					</div>
				</div>
				<div class="col-md-12 no-padding ">
					<div class="col-md-12 container_create-emp">
						<div class="line-input_emp">
							<div class="md-block input_sia-min guardar_input">
								<label>Tipo Remuneracion</label>
								<md-select ng-model="concepto.tipo_remuneracion" disabled="true">
									<md-option value="1">Remunerativo</md-option>
									<md-option value="2">No remunerativo</md-option>
									<md-option value="3">Deducciones</md-option>
								</md-select>
							</div>
							<div class="md-block input_sia-min guardar_input">
								<label>Categoría</label>
								<span ng-bind="concepto.categoria_id"></span>
							</div>
							<div class="md-block input_sia-min guardar_input">
								<label>Sub Codigo</label>
								<span ng-bind="concepto.codigo"></span>
							</div>
						</div>
						<div class="line-input_emp">
							<div class="md-block input_sia-min guardar_input">
								<label>Fórmula</label>
								<span ng-bind="concepto.formula"></span>
							</div>
						</div>
						<div class="line-input_emp">
							<div class="md-block input_sia-min guardar_input">
								<label>Índice</label>
								<span ng-bind="concepto.indice"></span>
							</div>
							<div class="md-block input_sia-min guardar_input">
								<label>Columna Haberes</label>
								<span ng-bind="concepto.columna_haberes"></span>
							</div>
							<div class="md-block input_sia-min guardar_input">
								<label>Orden Estadisticas</label>
								<span ng-bind="concepto.orden"></span>
							</div>
						</div>
						<div class="line-input_emp">
							<div class="md-block input_sia-min guardar_input checkboxes conceptos">
								<md-checkbox md-no-ink aria-label="Checkbox No Ink" ng-model="concepto.fijo" class="md-primary" disabled="true">
								</md-checkbox>
								<span>Fijo</span>
							</div>
							<div class="md-block input_sia-min guardar_input checkboxes conceptos">
								<md-checkbox md-no-ink aria-label="Checkbox No Ink" ng-model="concepto.ganancias" class="md-primary" disabled="true">
								</md-checkbox>
								<spa>Ganancias</span>
							</div>
							<div class="md-block input_sia-min guardar_input checkboxes conceptos">
								<md-checkbox md-no-ink aria-label="Checkbox No Ink" ng-model="concepto.imp_recibo" class="md-primary" disabled="true">
								</md-checkbox>
								<span>Imp. Recibo</span>
							</div>
						</div>
						<div class="line-input_emp">
							<div class="md-block input_sia-min guardar_input checkboxes conceptos">
								<md-checkbox md-no-ink aria-label="Checkbox No Ink" ng-model="concepto.sac" class="md-primary" disabled="true">
								</md-checkbox>
								<span>SAC</span>
							</div>
							<div class="md-block input_sia-min guardar_input checkboxes conceptos">
								<md-checkbox md-no-ink aria-label="Checkbox No Ink" ng-model="concepto.caja_complementaria" class="md-primary" disabled="true">
								</md-checkbox>
								<span>Caja complementaria</span>
							</div>
						</div>
						<div class="line-input_emp">
						</div>
						<div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>