<form ng-submit="clone()">
	<div class="col-xs-12 col-md-12 wrap-empresas ">
		<div class="container empresas list">
			<div class="col-md-12 no-padding " ng-show="!guardarSubEmpresa">
				<div class="col-md-12 no-padding box-edit-empresa">
					<div class="col-md-12 title-edit">
						<h2>Clonar Sub-Empresa - {{ title }}</h2>
						<div class="tooltip_atras" ng-click="goBack()">
							<img src="img/atras_icon.png" alt="">
							<md-tooltip md-direction="top">Volver</md-tooltip>
						</div>
					</div>
					<div class="col-md-12 no-padding">
						<div class="col-md-12 container_create-emp">
							<div class="line-input_emp">
								<div class="line-input_emp">
									<md-input-container class="md-block input_sia" flex-gt-sm>
										<label>Descripción</label>
										<input ng-model="subempresa.descripcion">
									</md-input-container>
								</div>
							</div>
							<div>
								<div class="table-responsive col-md-12">
									<table class="table table-hover">
										<caption>Seleccionar Personas ersonas:</caption>
										<thead>
											<tr>
												<th>Nombre</th>
												<th>Cuil</th>
												<th>Legajo</th>
												<th>Liquidación</th>
											</tr>
										</thead>
										<tbody ng-repeat="per in personasGanancias">
											<tr>
												<td ng-bind="per.legajo.persona.nombre"></td>
												<td ng-bind="per.legajo.persona.cuil"></td>
												<td>
													
												</td>
												<td class="text-right">
													<input name="file" type="file" value="{{per.ganancias.nombre_archivo}}" custom-on-change="uploadFile" data-persona="{{gan.legajo.persona._id}}"
													 multiple>
													<label for="file">{{gan.ganancias.nombre_archivo}}</label>
												</td>
											</tr>
										</tbody>
									</table>

									<paging page="pageGanancias" page-size="pageSize" total="totalGanancias" show-prev-next="true" show-first-last="true" paging-action="paginarGanancias(page)">>
									</paging>
								</div>
							</div>
							<div>
							</div>
							<div class="line-input_emp">
								<md-dialog-actions layout="row">
									<span flex></span>
									<!-- ng-click="guardarSubEmpresa = !guardarSubEmpresa" -->
									<md-button type="submit" class="md-primary rellono-blue">
										Clonar
									</md-button>
									<md-button class="md-primary rellono-white" ng-click="goBack()">
										CANCELAR
									</md-button>
								</md-dialog-actions>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</form>