<form ng-submit="save()">
	<div class="col-xs-12 col-md-12 wrap-empresas ">
		<div class="container empresas list">
			<div class="col-md-12 no-padding " ng-show="!guardarSubEmpresa">
				<div class="col-md-12 no-padding box-edit-empresa">
					<div class="col-md-12 title-edit">
						<h2>Sub Empresas - {{ title }}</h2>
						<div class="tooltip_atras" ng-click="goBack()">
							<img src="img/atras_icon.png" alt="">
							<md-tooltip md-direction="top">Volver</md-tooltip>
						</div>
					</div>
					<div class="col-md-12 no-padding ">
						<div class="col-md-12 container_create-emp">
							<div class="line-input_emp">
								<div class="line-input_emp">
									<md-input-container class="md-block input_sia" flex-gt-sm>
										<label>Descripción</label>
										<input ng-model="subempresa.descripcion">
									</md-input-container>
									<md-input-container class="md-block input_sia-min" flex-gt-sm>
										<label>Listado</label>
										<input ng-model="subempresa.listado" type='text'>
									</md-input-container>
								</div>
							</div>
							<div class="line-input_emp">
								<md-input-container class="md-block input_sia">
									<label>Categoría</label>
									<md-select ng-model="subempresa.categoria">
										<md-option ng-repeat="categoria in categorias" ng-value="categoria" ng-selected="categoria._id == subempresa.categoria._id">
											{{categoria.codigo}} - {{categoria.nombre}}
										</md-option>
									</md-select>
								</md-input-container>
								<md-input-container class="md-block input_sia-min" flex-gt-sm>
									<label>Codigo</label>
									<input ng-model="subempresa.codigo" type='number'>
								</md-input-container>
							</div>
							<div class="line-input_emp">
								<md-input-container class="md-block input_sia" flex-gt-sm>
									<label>Nombre</label>
									<input ng-model="subempresa.nombre" />
								</md-input-container>
								<md-input-container class="md-block input_sia-min" flex-gt-sm>
									<label>Domicilio</label>
									<input ng-model="subempresa.domicilio" />
								</md-input-container>
							</div>
							<div class="line-input_emp">
								<md-input-container class="md-block input_sia" flex-gt-sm>
									<label>Características</label>
									<input ng-model="subempresa.caracteristicas" />
								</md-input-container>
								<md-input-container class="md-block input_sia-min" flex-gt-sm>
									<label>% de Subvención</label>
									<input ng-model="subempresa.subvencion" type='number' />
								</md-input-container>
							</div>
							<div class="line-input_emp margin-top_check">
								<div flex-gt-sm="50" class="input_sia-min">
									<md-checkbox md-no-ink aria-label="Checkbox No Ink" ng-model="subempresa.afip" class="md-primary">
										Afip / F931
									</md-checkbox>
								</div>
								<div flex-gt-sm="50" class="input_sia-min">
									<md-checkbox md-no-ink aria-label="Checkbox No Ink" ng-model="subempresa.banco" class="md-primary">
										Banco
									</md-checkbox>
								</div>
								<div flex-gt-sm="50" class="input_sia-min">
									<md-checkbox md-no-ink aria-label="Checkbox No Ink" ng-model="subempresa.libro_sueldo" class="md-primary">
										Libro de Sueldos
									</md-checkbox>
								</div>
							</div>
							<div>
							</div>
							<div class="line-input_emp">
								<md-dialog-actions layout="row">
									<span flex></span>
									<!-- ng-click="guardarSubEmpresa = !guardarSubEmpresa" -->
									<md-button type="submit" class="md-primary rellono-blue">
										GUARDAR
									</md-button>
									<md-button class="md-primary rellono-white" ng-click="goBack()">
										CANCELAR
									</md-button>
								</md-dialog-actions>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

</form>