<form ng-submit="save()">

	<div class="col-xs-12 col-md-12 wrap-empresas ">
		<div class="container empresas list">
			<div class="col-md-12 no-padding " ng-show="!guardarSubEmpresa">
				<div class="col-md-12 no-padding box-edit-empresa">
					<div class="col-md-12 title-edit">
						<h2>Sub Empresas</h2>
						<div class="tooltip_atras" ng-click="confirmModal($event, subempresa)">
							<img src="img/borrar_icon_2.png" alt="">
							<md-tooltip md-direction="top">Borrar</md-tooltip>
						</div>
						<div class="tooltip_atras">
							<img src="img/editar_icon.png" alt="" ui-sref="editarSubEmpresas({id:subempresa._id, empresaid:subempresa.empresa._id, ver:1})">
							<md-tooltip md-direction="top">Editar</md-tooltip>
						</div>
						<div class="tooltip_atras" ng-click="goBack()">
							<img src="img/atras_icon.png" alt="">
							<md-tooltip md-direction="top">Volver</md-tooltip>
						</div>
					</div>
					<div class="col-md-12 no-padding ">
						<div class="col-md-12 container_create-emp">
							<div class="line-input_emp">
								<div class="md-block input_sia" flex-gt-sm>
									<label>Descripción</label>
									<div ng-bind="subempresa.descripcion"></div>
								</div>
								<div class="md-block input_sia-min" flex-gt-sm>
									<label>Listado</label>
									<div ng-bind="subempresa.listado"></div>
								</div>
								<div class="md-block input_sia">
									<label>Categoría</label>
									<div>{{subempresa.categoria.codigo}} - {{subempresa.categoria.nombre}}</div>
								</div>
								<div class="md-block input_sia-min" flex-gt-sm>
									<label>Código</label>
									<div ng-bind="subempresa.codigo"></div>
								</div>
							</div>
							<div class="line-input_emp">
								<div class="md-block input_sia" flex-gt-sm>
									<label>Nombre</label>
									<div ng-bind="subempresa.nombre"></div>
								</div>
								<div class="md-block input_sia-min" flex-gt-sm>
									<label>Domicilio</label>
									<div ng-bind="subempresa.domicilio"></div>
								</div>
							</div>
							<div class="line-input_emp">
								<div class="md-block input_sia" flex-gt-sm>
									<label>% de Subvención</label>
									<div ng-bind="subempresa.subvencion"></div>
								</div>
								<div class="md-block input_sia-min" flex-gt-sm>
									<label>Características</label>
									<div ng-bind="subempresa.caracteristicas"></div>
								</div>
							</div>
							<div class="line-input_emp">
								<div class="md-block input_sia-min guardar_input checkboxes conceptos">
									<md-checkbox md-no-ink aria-label="Checkbox No Ink" ng-model="subempresa.afip" class="md-primary" disabled="true">
									</md-checkbox>
									<span>Afip / F931</span>
								</div>
								<div class="md-block input_sia-min guardar_input checkboxes conceptos">
									<md-checkbox md-no-ink aria-label="Checkbox No Ink" ng-model="subempresa.banco" class="md-primary" disabled="true">
									</md-checkbox>
									<spa>Banco</span>
								</div>
								<div class="md-block input_sia-min guardar_input checkboxes conceptos">
									<md-checkbox md-no-ink aria-label="Checkbox No Ink" ng-model="subempresa.libro_sueldo" class="md-primary" disabled="true">
									</md-checkbox>
									<span>Libro de sueldos</span>
								</div>
							</div>
							<div>
							</div>
							<div class="line-input_emp">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</form>