<form ng-submit="save()">

  <div class="col-xs-12 col-md-12 wrap-empresas ">
    <div class="container empresas list">
      <div class="col-md-12 no-padding ">
        <div class="col-md-12 no-padding box-edit-empresa">
          <div class="col-md-12 title-edit">
            <h2>{{ title }}</h2>
            <div class="tooltip_atras" ng-click="goBack()">
              <img src="img/atras_icon.png" alt="">
              <md-tooltip md-direction="top">Volver</md-tooltip>
            </div>
          </div>
          <div class="col-md-12 no-padding ">
            <div class="col-md-12 container_create-emp">
              <div class="line-input_emp">
                <md-input-container class="md-block input_sia" flex-gt-sm>
                  <label>Nombre y apellido</label>
                  <input type="text" ng-model="usuario.nombre" required>
                </md-input-container>
              </div>
              <div class="line-input_emp">
                <md-input-container class="md-block input_sia" flex-gt-sm>
                  <label>Email</label>
                  <input type="email" ng-model="usuario.email" required>
                </md-input-container>
              </div>
              <div class="line-input_emp">
                <md-input-container class="md-block input_sia" flex-gt-sm>
                  <label>Contraseña</label>
                  <input type="password" ng-model="usuario.password" required>
                </md-input-container>
              </div>
              <div class="line-input_emp">
                <md-select ng-model="usuario.tipo" placeholder="Tipo de usuario">
                  <md-option value="liquidador">Liquidador</md-option>
                  <md-option value="admin">Administrador</md-option>
                </md-select>
              </div>
              <div class="view-row no-padding">
                <h3>Permisos de empresas</h3>
                <div class="col-sm-12">
                  <md-input-container class="md-block" flex-gt-sm>
                    <label>Buscar</label>
                    <input type="text" ng-model="searchText" ng-change="resetPageConceptos()" md-autofocus>
                  </md-input-container>
                </div>
                <div class="col-sm-6">
                  <table class=" table table-hover table-conceptos">
                    <thead>
                      <tr>
                        <th>Empresas</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="empresa in empresas | filter:searchText | startFrom:paginaConceptos * pageSize | limitTo:4" ng-click="asignarEmpresa(empresa)">
                        <td>{{ empresa.razon_social }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="col-sm-6">
                  <table class=" table table-hover table-conceptos">
                    <thead>
                      <tr>
                        <th>Empresas asignadas</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="empresa in usuario.permiso_empresas | limitTo:10">
                        <td>{{ empresa.razon_social }}</td>
                        <td ng-click="eliminarEmpresa(empresa)">
                          <i class="fa fa-times" aria-hidden="true"></i>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="line-input_emp">
                <md-dialog-actions layout="row">
                  <span flex></span>
                  <!--ng-click="guardarCategorias = !guardarCategorias"-->
                  <md-button type="submit" class="md-primary rellono-blue">
                    GUARDAR
                  </md-button>
                  <md-button class="md-primary rellono-white" ng-click="goBack()">
                    CANCELAR
                  </md-button>
                </md-dialog-actions>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

</form>