<div class="col-xs-12 col-md-12 wrap-empresas">
        <div class="container empresas list">
        <div class="col-md-12 no-padding">
          <div class="col-md-12 title-seccion-container">
            <h1 class="sub-seccion-h1">Usuarios</h1>
            <md-button ui-sref="usuarios.crear" class="pull-right md-raised agregar btn-orange">Agregar usuario</md-button>
          </div>
          <form class="busqueda col-md-12">
            <div class="col-md-4 no-padding">
              <i class="fa fa-search" aria-hidden="true"></i>
              <input type="text" class="form-control" placeholder="Nombre" 
              ng-model="searchText" ng-change="search()">
            </div>
          </form>
          <div class="table-responsive col-md-12">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Email</th>
                  <th></th>
                </tr>
              </thead>
              <tbody ng-repeat="item in usuarios">
                <tr>
                  <td ng-bind="item.nombre" ui-sref="usuarios.ver({id : item._id})"></td>
                  <td ng-bind="item.email" ui-sref="usuarios.ver({id : item._id})"></td>
                  <td class="text-right">
                    <a class="icon_borrar-empresa" ui-sref="usuarios.editar({id : item._id, ver: 0, search : searchText})"><i class="material-icons">create</i></a>
                    <a href="#" class="icon_borrar-empresa" ><i ng-click="eliminarUsuario($event, item)" class="material-icons">delete</i></a>
                  </td>
                  <a class="icon_borrar-empresa">
                    <i class="material-icons">create</i>
                  </a>
                  <a class="icon_borrar-empresa">
                    <i class="material-icons">delete</i>
                  </a>
                </tr>
              </tbody>
            </table>
    
            <paging
              page="currentPage"
              page-size="pageSize"
              total="total"
              show-prev-next="true"
              show-first-last="true"
              paging-action="paging(page)">>
            </paging>
          </div>
        </div>
      </div>
    