<form ng-submit="save()">

    <div class="col-xs-12 col-md-12 wrap-empresas ">
        <div class="container empresas list">
            <div class="col-md-12 no-padding " ng-show="!guardarSubEmpresa">
                <div class="col-md-12 no-padding box-edit-empresa">
                    <div class="col-md-12 title-edit">
                        <h2>USUARIO</h2>
                        <div class="tooltip_atras" ng-click="confirmModal($event, usuario)">
                            <img src="img/borrar_icon_2.png" alt="">
                            <md-tooltip md-direction="top">Borrar</md-tooltip>
                        </div>
                        <div class="tooltip_atras">
                            <img src="img/editar_icon.png" alt="" ui-sref="usuarios.editar({id:usuario._id, ver:1, search:'' })">
                            <md-tooltip md-direction="top">Editar</md-tooltip>
                        </div>
                        <div class="tooltip_atras" ng-click="goBack()">
                            <img src="img/atras_icon.png" alt="">
                            <md-tooltip md-direction="top">Volver</md-tooltip>
                        </div>
                    </div>
                    <div class="col-md-12 no-padding ">
                        <div class="col-md-4 container_create-emp">
                            <div class="line-input_emp">
                                <div class="md-block input_sia-min guardar_input" flex-gt-sm>
                                    <label>Nombre</label>
                                    <div ng-bind="usuario.nombre"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 container_create-emp">
                            <div class="line-input_emp">
                                <div class="md-block input_sia-min guardar_input" flex-gt-sm>
                                    <label>Email</label>
                                    <div ng-bind="usuario.email"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 container_create-emp">
                            <div class="line-input_emp">
                                <div class="md-block input_sia-min guardar_input" flex-gt-sm>
                                    <label>Tipo de usuario</label>
                                    <div ng-bind="usuario.tipo"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 no-padding ">
                        <div class="col-md-12 container_create-emp">
                            <div class="line-input_emp">
                                <div class="md-block input_sia-min guardar_input" flex-gt-sm>
                                    <label>Empresas asociadas</label>
                                    <div  ng-repeat="empresa in usuario.permiso_empresas">
                                        <div ng-bind="empresa.razon_social"></div>---
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>