<md-dialog aria-label="Cambiar Importe" class="modal_colegios modal_close">
  <form ng-cloak class="editar-empresa">
    <md-dialog-content>
      <div class="modal_title ">
        <h2 class="">Cargar ganancias</h2>
        <i class="material-icons" ng-click="cancel()">close</i>
      </div>
      <div class="md-dialog-content">
        <div class="col-md-12 container_create-emp no-padding">
          <div class="line-input_emp">
            <md-input-container class="col-xs-4 md-block" flex-gt-sm>
              <label>Periodo</label>
              <md-select ng-model='dato.periodo_mes'>
                <md-option value="1">1</md-option>
                <md-option value="2">2</md-option>
                <md-option value="3">3</md-option>
                <md-option value="4">4</md-option>
                <md-option value="5">5</md-option>
                <md-option value="6">6</md-option>
                <md-option value="7">7</md-option>
                <md-option value="8">8</md-option>
                <md-option value="9">9</md-option>
                <md-option value="10">10</md-option>
                <md-option value="11">11</md-option>
                <md-option value="12">12</md-option>
              </md-select>
            </md-input-container>
            <md-input-container class="col-xs-4 md-block" flex-gt-sm>
              <md-checkbox md-no-ink aria-label="Checkbox No Ink" ng-model="dato.conyugue" class="md-primary">
                Conyuge
              </md-checkbox>
            </md-input-container>
            <md-input-container class="col-xs-4" flex-gt-sm>
              <label>Hijos</label>
              <input type="number" ng-model="dato.hijos" maxlength="2">
            </md-input-container>
          </div>
          <div class="line-input_emp">
            <md-input-container class="col-xs-4 md-block" flex-gt-sm>
              <label>O. Cargos </label>
              <input ng-model="dato.o_cargos" type="number" step="0.01">
            </md-input-container>
            <md-input-container class="col-xs-4 md-block" flex-gt-sm>
              <label>Prepaga</label>
              <input ng-model="dato.prepaga" type="number" step="0.01">
            </md-input-container>
            <md-input-container class="col-xs-4 md-block" flex-gt-sm>
              <label>Seguro de vida</label>
              <input ng-model="dato.seguro_vida" type="number" step="0.01">
            </md-input-container>
          </div>
          <div class="line-input_emp">
            <md-input-container class="col-xs-4 md-block" flex-gt-sm>
              <label>Hipoteca</label>
              <input ng-model="dato.hipoteca" type="number" step="0.01">
            </md-input-container>
            <md-input-container class="col-xs-4 md-block" flex-gt-sm>
              <label>Donación</label>
              <input ng-model="dato.donacion" type="number" step="0.01">
            </md-input-container>
            <md-input-container class="col-xs-4 md-block" flex-gt-sm>
              <label>Servicio Domestico</label>
              <input ng-model="dato.servicio_domestico" type="number" step="0.01">
            </md-input-container>
          </div>
          <div class="line-input_emp">
            <md-input-container class="col-xs-4 md-block" flex-gt-sm>
              <label>Gastos Medicós</label>
              <input ng-model="dato.gastos_medicos" type="number" step="0.01">
            </md-input-container>
            <md-input-container class="col-xs-4 md-block" flex-gt-sm>
              <label>Sepelio</label>
              <input ng-model="dato.sepelio" type="number" step="0.01">
            </md-input-container>
            <md-input-container class="col-xs-4 md-block" flex-gt-sm>
              <label>Desc. Sac</label>
              <input ng-model="dato.desc_sac" type="number" step="0.01">
            </md-input-container>
          </div>
          <div class="line-input_emp">
            <md-input-container class="col-xs-3 md-block" flex-gt-sm>
              <label>Alquiler</label>
              <input ng-model="dato.alquiler" type="number" step="0.01">
            </md-input-container>
            <md-input-container class="col-xs-3 md-block" flex-gt-sm>
              <label>Material Didactico</label>
              <input ng-model="dato.material_didactico" type="number" step="0.01">
            </md-input-container>
            <md-input-container class="col-xs-3 md-block" flex-gt-sm>
              <label>Horas Extra</label>
              <input ng-model="dato.horas_extra" type="number" step="0.01">
            </md-input-container>
            <md-input-container class="col-xs-3 md-block" flex-gt-sm>
              <label>Pago a CTA.</label>
              <input ng-model="dato.pago_cta" type="number" step="0.01">
            </md-input-container>
          </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button ng-click="guardar()">
        GUARDAR
      </md-button>
      <md-button ng-click="cancel()">
        CANCELAR
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>