<form ng-submit="save()">
	<div class="col-xs-12 col-md-12 wrap-empresas ">
		<div class="container empresas list">
			<div class="col-md-12 no-padding " ng-show="!guardarSubEmpresa">
				<div class="col-md-12 no-padding box-edit-empresa">
					<div class="col-md-12 title-edit">
						<h2>Datos Ganancias - {{ persona.nombre }} - {{anio}}</h2>
						<div class="tooltip_atras" ng-click="goBack()">
							<img src="img/atras_icon.png" alt="">
							<md-tooltip md-direction="top">Volver</md-tooltip>
						</div>
					</div>
					<div class="col-md-12 no-padding ">
						<div class="col-md-12 container_create-emp">
							<section class="col-sm-12">
								<div class="col-xs-12">
									<md-button ng-click="agregarDeducciones()">
										Agregar
									</md-button>									
								</div>
								<div class="col-sm-12">
									<div class="table-responsive col-xs-12">
										<table class="table table-hover">
											<thead>
												<tr>
													<th>Periodo</th>
													<th>Conyugue</th>
													<th>Hijos</th>
													<th>O. Cargos</th>
													<th>Prep</th>
													<th>S. Vida</th>
													<th>Hipoteca</th>
													<th>Donación</th>
													<th>S. Domest.</th>
													<th>G. Med.</th>
													<th>Sepelio</th>
													<th>Des. Sac.</th>
													<th>Alquiler</th>
													<th>M. Didac.</th>
													<th>H. Extras</th>
													<th>Pag. A CTA.</th>
													<th></th>
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="gan in ganancias.datos_ganancias">
													<td>{{gan.periodo_mes}}</td>
													<td>{{(gan.conyugue) ? 'Si' : 'No' }}</td>
													<td>{{gan.hijos}}</td>
													<td>{{gan.o_cargos}}</td>
													<td>{{gan.prepaga}}</td>
													<td>{{gan.seguro_vida}}</td>
													<td>{{gan.hipoteca}}</td>
													<td>{{gan.donacion}}</td>
													<td>{{gan.servicio_domestico}}</td>
													<td>{{gan.gastos_medicos}}</td>
													<td>{{gan.sepelio}}</td>
													<td>{{gan.desc_sac}}</td>
													<td>{{gan.alquiler}}</td>
													<td>{{gan.material_didactico}}</td>
													<td>{{gan.horas_extra}}</td>
													<td>{{gan.pago_cta}}</td> 
													<td>
														<a class="icon_borrar-empresa" ng-click="editarDatosGanancias(gan)">
																<i class="material-icons">create</i>
														</a>
														<a class="icon_borrar-empresa" ng-click="eliminarDatosGanancias(gan)">
																<i class="material-icons">delete</i>
														</a>
													</td>
												</tr>
											</tbody>
											<tfoot>
													<td>Totales:</td>
													<td></td>
													<td></td>
													<td>{{totalGan.o_cargos}}</td>
													<td>{{totalGan.prepaga}}</td>
													<td>{{totalGan.seguro_vida}}</td>
													<td>{{totalGan.hipoteca}}</td>
													<td>{{totalGan.donacion}}</td>
													<td>{{totalGan.servicio_domestico}}</td>
													<td>{{totalGan.gastos_medicos}}</td>
													<td>{{totalGan.sepelio}}</td>
													<td>{{totalGan.desc_sac}}</td>
													<td>{{totalGan.alquiler}}</td>
													<td>{{totalGan.material_didactico}}</td>
													<td>{{totalGan.horas_extra}}</td>
													<td>{{totalGan.pago_cta}}</td> 
													<td></td>
											</tfoot>
										</table>
									</div>
								</div>
							</section>
							<section class="col-xs-12">
								<h4>Otros Sueldos</h4>
								<md-button ng-click="agregarOtrosSueldos()">Agregar </md-button>
								<table class="table table-hover">
										<caption>Personas:</caption>
										<thead>
											<tr>
												<th>Periodo</th>
												<th>CUIT</th>
												<th>Razón Social</th>
												<th>Domicilio</th>
												<th>Importe</th>
												<th></th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="os in ganancias.otros_sueldos">
												<td>{{os.periodo_mes}}</td>
												<td>{{os.cuit}}</td>
												<td>{{os.razon_social}}</td>
												<td>{{os.domicilio}}</td>
												<td>{{os.neto}}</td>
												<td>
													<a class="icon_borrar-empresa" ng-click="editarOtrosSueldos(os)">
															<i class="material-icons">create</i>
													</a>
													<a class="icon_borrar-empresa" ng-click="eliminarOtrosSueldos(os)">
															<i class="material-icons">delete</i>
													</a>
												</td>
											</tr>
										</tbody>
										<tfoot>
												<th>Totales: </th>
												<th></th>
												<th></th>
												<th></th>
												<th>{{totalOS.neto}}</th>
												<th></th>
										</tfoot>
									</table>
							</section>
						</div>
					</div>
				</div>
			</div>
</form>