<div class="col-xs-12 col-md-12 wrap-liquidacions">
        <div class="container empresas list">
                <div class="col-md-12 no-padding">
                    <div class="col-md-12 title-seccion-container">
                        <h1 class="sub-seccion-h1">Ganancias</h1>
                         <md-button ui-sref="crearSubEmpresas" class="pull-right md-raised agregar btn-orange">Crear Sub Empresa</md-button>
                    </div>
                    <form class="busqueda col-md-12">
                        <div class="col-md-4 no-padding">
                            <i class="fa fa-search" aria-hidden="true"></i>
                          <input type="text" class="form-control" placeholder="Persona" ng-model="searchText">
                        </div>
                        <button 
                          type="submit" 
                          class="btn-busqueda-av" 
                          ng-click="search()">
                          Búsqueda avanzada
                        </button>
                    </form>
                      <div class="table-responsive col-md-12">          
                        <table class="table table-hover">
                          <caption>Personas:</caption>
                          <thead>
                            <tr>
                              <th>Nombre</th>
                              <th>Cuil</th>
                              <th></th>
                            </tr>
                          </thead>
                          <tbody ng-repeat="item in items">
                            <tr>
                              <td ng-bind="item.nombre" ></td>
                              <td ng-bind="item.cuil" ></td>
                              <td class="text-right">
                                  <input  
                                    name="file" 
                                    type="file"                                  
                                    custom-on-change="uploadFile"
                                    data-persona="{{item._id}}"
                                    multiple
                                  >
                                <!-- <md-button ng-click='subirXML(item)'> Subir XML</md-button> -->
                              </td>
                            </tr>
                            <!--
                                <tr>
                                      <td>Empresa Colegio 1</td>
                                      <td>Yerbal 985 </td>
                                      <td>Localidad 1</td>
                                      <td>5126872326</td>
                                      <td class="text-right"><a class="editar" href="#">editar</a> <a href="#"><img src="img/borrar_icon.png"></a></td>
                                </tr>
                            -->
                          </tbody>
                        </table>
                          
                          <paging
                                page="currentPage" 
                                page-size="pageSize" 
                                total="total"
                                show-prev-next="true"
                                show-first-last="true"
                                paging-action="paging(page)">>
                          </paging>
                    </div>
                </div>
</div>