<md-dialog aria-label="Cambiar Importe" class="modal_colegios modal_close">
  <form ng-cloak class="editar-empresa">
    <md-dialog-content>
      <div class="modal_title ">
        <h2 class="">Otros Sueldos</h2>
        <i class="material-icons" ng-click="cancel()">close</i>
      </div>
      <div class="md-dialog-content">
        <div class="col-md-12 container_create-emp no-padding">
          <div class="line-input_emp">
            <md-input-container class="col-xs-4 md-block" flex-gt-sm>
              <label>Periodo</label>
              <md-select ng-model='dato.periodo_mes'>
                <md-option value="1">1</md-option>
                <md-option value="2">2</md-option>
                <md-option value="3">3</md-option>
                <md-option value="4">4</md-option>
                <md-option value="5">5</md-option>
                <md-option value="6">6</md-option>
                <md-option value="7">7</md-option>
                <md-option value="8">8</md-option>
                <md-option value="9">9</md-option>
                <md-option value="10">10</md-option>
                <md-option value="11">11</md-option>
                <md-option value="12">12</md-option>
              </md-select>
            </md-input-container>
            <md-input-container class="col-xs-4" flex-gt-sm>
              <label>CUIT</label>
              <input type="text" ng-model="dato.cuit">
            </md-input-container>
            <md-input-container class="col-xs-4 md-block" flex-gt-sm>
              <label>Razon Social</label>
              <input ng-model="dato.razon_social" type="text">
            </md-input-container>
          </div>
          <div class="line-input_emp">
            <md-input-container class="col-xs-6 md-block" flex-gt-sm>
              <label>Domicilio</label>
              <input ng-model="dato.domicilio" type="text">
            </md-input-container>
            <md-input-container class="col-xs-6 md-block" flex-gt-sm>
              <label>Neto</label>
              <input ng-model="dato.neto" type="number" step="0.01">
            </md-input-container>
          </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button ng-click="guardar()">
        GUARDAR
      </md-button>
      <md-button ng-click="cancel()">
        CANCELAR
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>