<!DOCTYPE html>
<html>

<head>
    <title>Reporte de Bajas</title>
</head>
<style>
    .reporte {
        margin-top: 20px;
        margin-bottom: 10px;
        margin-right: 50px;
        margin-left: 50px;
        font-family: 'Arial';
        font-size: 9px;
        border: 1px solid #ccc!important;
        height: 900px;
    }

    h1 {
        text-align: center;
    }

    .column {
        float: left;
        width: 47%;
        padding: 10px;
        background-color: #bbb;
        height: 80px;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
        text-align: center;
    }

    .data {
        padding-left: 30px;
        padding-top: 60px;
    }

    .info {
        text-align: right;
        font-family: 'Arial';
        font-size: 9px;
        padding-right: 20px;
    }
</style>

<body>
    <div class="info">
        FECHA: {{fecha_hoy}}</br>
        HORA: {{hora}}
    </div>
    <div class="reporte">
        <h1>LISTADO CAJA COMPLEMENTARIA</h1>

        <div class="row">
            <div class="column">
                <p>
                    <strong>EMPRESA </strong> {{empresa}}</p>
                <p>
                    <strong>DOMICILIO </strong> {{domicilio}}</p>
                <p>
                    <strong>CUIT </strong> {{cuit}}</p>
            </div>
            <div class="column">
                <P>
                    <strong>FECHA </strong> {{periodo}}</P>
                <p>
                    <strong>LOCALIDAD </strong> {{localidad}}</p>
            </div>
        </div>

        <div class="data">
            <p>SE APORTA SOBRE .............. {{ccTotal}}</p>
            <p>4.50% ES ............................. {{ccRetencion}}</p>
            <p>TOTAL EMPLEADOS .............. {{empleados}}</p>
        </div>
    </div>
</body>

</html>