<form ng-submit="save()">

	<div class="col-xs-12 col-md-12 wrap-empresas ">
		<div class="container empresas list">
			<div class="col-md-12 no-padding" ng-show="guardarValor">
				<div class="col-md-12 no-padding box-edit-empresa">
					<div class="col-md-12 title-edit">
						<h2>Valor</h2>
						<img src="img/borrar_icon_2.png" alt="" ng-click="showAdvanced($event)">
						<img src="img/editar_icon.png" alt="" ng-click="guardarValor = !guardarValor">
						<div class="tooltip_atras" ui-sref="valor.listado">
							<img src="img/atras_icon.png" alt="">
							<md-tooltip md-direction="top">Volver</md-tooltip>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-12 no-padding " ng-show="!guardarValor">
				<div class="col-md-12 no-padding box-edit-empresa">
					<div class="col-md-12 title-edit">
						<h2>Valor</h2>
						<div class="tooltip_atras" ui-sref="valor.listado">
							<img src="img/atras_icon.png" alt="">
							<md-tooltip md-direction="top">Volver</md-tooltip>
						</div>
					</div>
					<div class="col-md-12 no-padding ">
						<div class="col-md-12 container_create-emp">
							<div class="line-input_emp">
								<md-input-container class="md-block input_sia-min" flex-gt-sm>
									<label>Valor</label>
									<input ng-model="valor.valor" required type="number">
								</md-input-container>
								<md-input-container class="md-block input_sia-min" flex-gt-sm>
									<label>Codigo</label>
									<input ng-model="valor.codigo" required type="number">
								</md-input-container>
							</div>
							<div class="line-input_emp">
								<md-input-container class="md-block input_sia" flex-gt-sm>
									<label>Descripción</label>
									<input ng-model="valor.descripcion" required>
								</md-input-container>
							</div>
							<div class="line-input_emp">
								<md-datepicker class="input_sia-min" ng-model="valor.fecha_inicio" md-placeholder="Fecha Inicio"></md-datepicker>
								<md-datepicker class="input_sia-min" ng-model="valor.fecha_fin" md-placeholder="Fecha Fin"></md-datepicker>
							</div>
							<div>
							</div>
							<div class="line-input_emp">
								<md-dialog-actions layout="row">
									<span flex></span>
									<!-- ng-click="guardarValor = !guardarValor" -->
									<md-button type="submit" class="md-primary rellono-blue">
										GUARDAR
									</md-button>
									<md-button class="md-primary rellono-white" ui-sref="valor.listado">
										CANCELAR
									</md-button>
								</md-dialog-actions>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

</form>