<form ng-submit="save()">

	<div class="col-xs-12 col-md-12 wrap-empresas ">
		<div class="container empresas list">
			<div class="col-md-12 no-padding " ng-show="!guardarValor">
				<div class="col-md-12 no-padding box-edit-empresa">
					<div class="col-md-12 title-edit">
						<h2>Editar valor</h2>
					</div>

					<div class="col-md-12 no-padding ">
						<div class="col-md-12 container_create-emp">
							<div class="line-input_emp">
								<md-input-container class="md-block input_sia-min" flex-gt-sm>
									<label>Valor</label>
									<input ng-model="valor.valor" required type="number" step="0.00001">
								</md-input-container>
								<md-input-container class="md-block input_sia-min" flex-gt-sm>
									<label>Código</label>
									<input ng-model="valor.codigo" required type="number">
								</md-input-container>
							</div>
							<div class="line-input_emp">
								<md-input-container class="md-block input_sia" flex-gt-sm>
									<label>Descripción</label>
									<input ng-model="valor.descripcion">
								</md-input-container>
							</div>
						</div>
						<div>
						</div>
						<div class="line-input_emp">
							<md-dialog-actions layout="row">
								<span flex></span>
								<!-- ng-click="guardarValor = !guardarValor" -->
								<md-button type="submit" class="md-primary rellono-blue" ng-click="checkCode()">
									GUARDAR
								</md-button>
								<md-button class="md-primary rellono-white" ng-click="cancelar()">
									CANCELAR
								</md-button>
							</md-dialog-actions>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</form>