<div class="col-xs-12 col-md-12 wrap-empresas ">
	<div class="container empresas list">
	<div class="col-md-12 no-padding">
		<div class="col-md-12 title-seccion-container">
			<h1 class="sub-seccion-h1">Valores</h1>
	 		<md-button ui-sref="valor.crear" class="pull-right md-raised agregar btn-orange">Crear Valor</md-button>
		</div>
		<form class="busqueda col-md-12">
		    <div class="col-md-4 no-padding">
		    	<i class="fa fa-search" aria-hidden="true"></i>
		      <input type="text" class="form-control" placeholder="Valor, descripción, fecha, etc" ng-model="searchText">
		    </div>
			<button type="submit" class="btn-busqueda-av" ng-click="search()">Búsqueda avanzada</button>
		</form>
			<div class="table-responsive col-md-12">          
			  <table class="table table-hover">
			    <thead>
			      <tr>
			        <th>Código</th>
			        <th>Valor</th>
			        <th>Descripción</th>
			        <th>Fecha inicio</th>
			        <th>Fecha fin</th>
			        <th></th>
			      </tr>
			    </thead>
			    <tbody ng-repeat="item in items">
			      <tr>
			        <td ng-bind="item.codigo" ui-sref="valor.ver({id:item._id})"></td>
			        <td ng-bind="item.valor" ui-sref="valor.ver({id:item._id})"></td>
			        <td ng-bind="item.descripcion" ui-sref="valor.ver({id:item._id})"></td>
			        <td ui-sref="valor.ver({id:item._id})">{{item.fecha_inicio | date: 'dd/MM/yyyy'}}</td>
			        <td ui-sref="valor.ver({id:item._id})">{{item.fecha_fin | date: 'dd/MM/yyyy'}}</td>
			        <td class="text-right">
								<a class="icon_borrar-empresa" ui-sref="valor.edit({id:item._id})"><i class="material-icons">create</i></a>
								<a href="#" class="icon_borrar-empresa" ng-click="confirmModal($event, item)"><i class="material-icons">delete</i></a>
			        </td>
							<a ui-sref="editarValor" class="icon_borrar-empresa"><i class="material-icons">create</i></a>
			        <a class="icon_borrar-empresa" ><i class="material-icons">delete</i></a>
			      </tr>
			    </tbody>
			  </table>
				
				<paging
				  	page="currentPage" 
				  	page-size="pageSize" 
				  	total="total"
				  	show-prev-next="true"
				  	show-first-last="true"
				  	paging-action="paging(page)">>
				</paging>
		  </div>
	</div>
</div>