<div class="col-xs-12 col-md-12 wrap-empresas ">
	<div class="container empresas list">
		<div class="col-md-10 no-padding">
			<div class="col-md-12 no-padding box-edit-empresa">
				<div class="col-md-12 title-edit">
					<h2 ng-bind="item.descripcion">Valor</h2>
					<div class="tooltip_atras" ng-click="confirmModal($event, item)">
						<img src="img/borrar_icon_2.png" alt="">
						<md-tooltip md-direction="top">Borrar</md-tooltip>
					</div>
					<div class="tooltip_atras" ui-sref="valor.edit({id:item._id, ver:1, search: searchText})">
						<img src="img/editar_icon.png" alt="">
						<md-tooltip md-direction="top">Editar</md-tooltip>
					</div>
					<div class="tooltip_atras" ui-sref="valor.listado({search: searchText})">
						<img src="img/atras_icon.png" alt="crear-valor.tpl.html">
						<md-tooltip md-direction="top">Volver</md-tooltip>
					</div>
				</div>
				<div class="col-md-12 no-padding ">
					<div class="col-md-12 container_create-emp">
						<div class="line-input_emp">
							<div class="md-block input_sia-min guardar_input">
								<label>Valor</label>
								<span ng-bind="item.valor"></span>
							</div>
							<div class="md-block input_sia-min guardar_input">
								<label>Codigo</label>
								<span ng-bind="item.codigo"></span>
							</div>
						</div>
						<div class="line-input_emp">
							<div class="md-block input_sia-min guardar_input">
								<label>descripcion</label>
								<span ng-bind="item.descripcion"></span>
							</div>
						</div>
						<div class="line-input_emp">
							<div class="md-block input_sia-min guardar_input">
								<label>Fecha Inicio</label>
								<span>{{item.fecha_inicio | date: 'dd/MM/yyyy'}}</span>
							</div>
							<div class="md-block input_sia-min guardar_input">
								<label>Fecha Fin</label>
								<span>{{item.fecha_fin | date: 'dd/MM/yyyy'}}</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>