<!DOCTYPE html>
<html>

<head>
    <title>Memos</title>
</head>
<style>
    body {
        margin-top: 20px;
        margin-bottom: 10px;
        margin-right: 50px;
        margin-left: 50px;
        font-family: 'Arial';
        font-size: 9px;
    }
</style>

<body>
    <h1>NOVEDADES: Campo Memos</h1>
    <h2>FECHA: {{fecha_actual}}</h2>
    <br>
    <br>
    {{#memos}}
    <div>
        <h3>{{nombre}} - Nro. Legajo : {{legajo}}</h3>
        <h4>{{memo}}</h4>
        ---------------------------------------------------------------------------
    </div>
    {{/memos}}

</body>

</html>