<md-dialog aria-label="Crear Empresa" class="modal_bancos modal_close">
  <form ng-cloak class="editar-empresa">
    <md-dialog-content>
      <div class="modal_title ">
        <h2 class="">ELIMINAR</h2>
        <i class="material-icons" ng-click="cancel()">close</i>
      </div>
      <div class="md-dialog-content">
        <div class="col-md-12 container_create-emp no-padding">
          <div class="line-input_emp">
            <p>¿Está seguro que desea eliminar esta empresa?</p>
          </div>          
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button ng-click="answer(true)" class="md-primary">
        ACEPTAR
      </md-button>
      <md-button ng-click="cancel()">
       CANCELAR
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>