<md-dialog aria-label="Crear Empresa" class="modal_bancos">
  <form ng-cloak class="editar-empresa" ng-submit="save()">
    <md-dialog-content>
      <div class="modal_title">
        <h2 class="">Crear Banco</h2>
        <img src="img/close_icon.png" alt="" ng-click="cancel()" >
      </div>
      <div class="md-dialog-content">
        <div class="col-md-12 container_create-emp no-padding">
                <div class="line-input_emp">
                  <md-input-container class="md-block input_sia-min">
                    <label>Banco</label>
                    <md-select required ng-model="banco.nombre">
                      <md-option ng-repeat="banco in selectBancos" value="{{banco.nombre}}">{{banco.nombre}}</md-option>
                    </md-select>
                  </md-input-container>
                </div>
                <div class="line-input_emp">
                  <md-input-container class="md-block input_sia" flex-gt-sm>
                    <label>Tipo</label>
                    <input ng-model="banco.tipo">
                  </md-input-container>
                </div>
                <div class="line-input_emp">
                  <md-input-container class="md-block input_sia" flex-gt-sm>
                    <label>Grupo</label>
                    <input ng-model="banco.grupo">
                  </md-input-container>
                  <md-input-container class="md-block input_sia" flex-gt-sm>
                    <label>Sucursal</label>
                    <input ng-model="banco.sucursal">
                  </md-input-container>
                </div>
                <div class="line-input_emp">
                  <md-input-container class="md-block input_sia" flex-gt-sm>
                    <label>Cuenta</label>
                    <input ng-model="banco.cuenta">
                  </md-input-container>
                  <md-input-container class="md-block input_sia" flex-gt-sm>
                    <label>Folio</label>
                    <input ng-model="banco.folio">
                  </md-input-container>
                </div>
                <div class="line-input_emp">
                  <md-input-container class="md-block input_sia" flex-gt-sm>
                    <label>Concepto</label>
                    <input ng-model="banco.concepto">
                  </md-input-container>
                </div>
                <md-dialog-actions layout="row">
                  <md-button type='submit' class="md-primary">
                    GUARDAR
                  </md-button>
                  <md-button ng-click="cancel()">
                    CANCELAR
                  </md-button>
                </md-dialog-actions>
    </md-dialog-content>
  </form>
</md-dialog>