<div class="col-xs-12 col-md-12 wrap-empresas ">
	<div class="container empresas list">
		<div class="col-md-12 no-padding">
			<div class="col-md-12 no-padding box-edit-empresa">
				<div class="col-md-12 title-edit">
					<h2>Editar Empresa</h2>
					<!--
					<div class="tooltip_atras" ng-click="cancelar()">
						<img src="img/atras_icon.png" alt="">
						<md-tooltip md-direction="top">Volver</md-tooltip>
            		</div>
            		-->
				</div>
				<div class="col-md-12 no-padding ">
			        <div class="col-md-12 container_create-emp">
			          <div class="line-input_emp">
			            <md-input-container class="md-block input_sia-min" flex-gt-sm>
			              <label>Razon Social</label>
			              <input ng-model="empresa.razon_social">
			            </md-input-container>
			          </div>
			          <div class="line-input_emp">
			            <md-input-container class="md-block input_sia-min" flex-gt-sm>
			              <label>Cuit</label>
			              <input ng-model="empresa.cuit">
			            </md-input-container>
			            <md-input-container class="md-block input_sia-min" flex-gt-sm>
			              <label>Tipo</label>
			              <input ng-model="empresa.tipo" >
			            </md-input-container>
			            <md-input-container class="md-block input_sia-min" flex-gt-sm>
			              <label>Actividad</label>
			              <input ng-model="empresa.actividad">
			            </md-input-container>
			          </div>
			          <div class="line-input_emp">
			            <md-input-container class="md-block input_sia-min" flex-gt-sm>
			              <label>Domicilio</label>
			              <input ng-model="empresa.direccion">
			            </md-input-container>
			            <md-input-container class="md-block input_sia-min" flex-gt-sm>
			              <label>CP</label>
			              <input ng-model="empresa.codigo_postal">
			            </md-input-container>

									<md-input-container class="md-block input_sia-min">
										<label>Provincia</label>
										<md-select ng-model="empresa.provincia">
											<md-option ng-repeat="provincia in provincias" ng-value="provincia.nombre">{{provincia.nombre}}</md-option>
										</md-select>
					   		  </md-input-container>

			            <md-input-container class="md-block input_sia-min" flex-gt-sm>
			              <label>Localidad</label>
			              <input ng-model="empresa.localidad">
			            </md-input-container>
			          </div>
			          <div class="line-input_emp">
			            <md-input-container class="md-block input_sia-min" flex-gt-sm>
			              <label>Email</label>
			              <input type="email" ng-model="empresa.email">
			            </md-input-container>
			            <md-input-container class="md-block input_sia-min" flex-gt-sm>
			              <label>Telefono</label>
			              <input ng-model="empresa.telefono">
			            </md-input-container>
									<md-input-container class="md-block input_sia-min" flex-gt-sm>
			              <label>Registro</label>
			              <input ng-model="empresa.registro">
			            </md-input-container>
			           </div>
			          <div class="line-input_emp">
			            <div flex-gt-sm="50" class="input_sia-min">
			              <md-checkbox md-no-ink aria-label="Checkbox No Ink" ng-model="empresa.asignacion_familiar" class="md-primary">
			                ART con ASIG. FAM
			              </md-checkbox>
			            </div>
			            <div flex-gt-sm="50" class="input_sia-min">
			              <md-checkbox md-no-ink aria-label="Checkbox No Ink" ng-model="empresa.no_remunerativo_familiar" class="md-primary">
			                NO_REM con ASIG.FAM
			              </md-checkbox>
			            </div>
			          </div>
			          <div class="line-input_emp">
			            <div flex-gt-sm="50" class="input_sia-min">
			              <md-checkbox md-no-ink aria-label="Checkbox No Ink" ng-model="empresa.quincenal" class="md-primary">
			                Liquida quincenalmente
			              </md-checkbox>
			            </div>
			          </div>
								<div class="line-input_emp">
									<md-radio-group ng-model="empresa.recibos">
										<md-radio-button ng-model="empresa.recibos" value="azules" class="md-primary">Recibos Azules</md-radio-button>
										<md-radio-button ng-model="empresa.recibos" value="blancos" class="md-primary">Recibos Blancos</md-radio-button>
									</md-radio-group>
								</div>
			          <div class="bancos-sector">
										<h2>Bancos</h2>
										<div class="line-input_emp">
											<a href="" class="banco-add" ng-click="crearBanco()">
												<i class="material-icons">add_circle</i> AGREGAR BANCO</a>
										</div>
									</div>
									<div class="line-input_emp tabla_bancos">
										<table class="table table-hover">
											<tbody>
												<tr>
													<td>{{empresa.bancos.nombre}}</td>
													<td>{{empresa.bancos.sucursal}}</td>
												</tr>
											</tbody>
										</table>
									</div>
									<div class="line-input_emp">
										<h4>
											Datos de Listado</br></br>
											<md-button ng-click="traerDatos()" class="md-raised agregar btn-orange">Traer datos</md-button>
										</h4>
										<md-input-container class="md-block input_sia-min" flex-gt-sm>
											<label>Razón Social</label>
											<input ng-model="empresa.datos_listado.razon_social">
										</md-input-container>
										<md-input-container class="md-block input_sia-min" flex-gt-sm>
											<label>Domicilio</label>
											<input ng-model="empresa.datos_listado.domicilio">
										</md-input-container>
										<md-input-container class="md-block input_sia-min">
											<label>Teléfono/s</label>
											<input ng-model="empresa.datos_listado.telefonos">
										</md-input-container>
										<md-input-container class="md-block input_sia-min">
											<label>Localidad</label>
											<input ng-model="empresa.datos_listado.localidad">
										</md-input-container>
										<md-input-container class="md-block input_sia-min">
											<label>Código Postal</label>
											<input ng-model="empresa.datos_listado.codigo_postal">
										</md-input-container>
									</div>
									<div class="line-input_emp">
										<md-input-container class="md-block input_sia-min" flex-gt-sm>
											<label>C.U.I.T.</label>
											<input ng-model="empresa.datos_listado.cuit">
										</md-input-container>
										<md-input-container class="md-block input_sia-min" flex-gt-sm>
											<label>Ingresos brutos</label>
											<input ng-model="empresa.datos_listado.ingresos_brutos">
										</md-input-container>
									</div>
									<div class="line-input_emp">
										<md-input-container class="md-block input_sia-min">
											<label>Nro. Registro</label>
											<input ng-model="empresa.datos_listado.registro">
										</md-input-container>
										<md-input-container class="md-block input_sia-min">
											<label>Región</label>
											<input ng-model="empresa.datos_listado.region">
										</md-input-container>
										<md-input-container class="md-block input_sia-min">
											<label>Distrito</label>
											<input ng-model="empresa.datos_listado.distrito">
										</md-input-container>
									</div>
  			          <div class="line-input_emp">
					    <md-dialog-actions layout="row">
					      <span flex></span>
					      <md-button ng-click="guardar()" class="md-primary rellono-blue">
					        GUARDAR
					      </md-button>
					      <md-button class="md-primary rellono-white" ui-sref="empresas.listado">
					       CANCELAR
					      </md-button>
					    </md-dialog-actions>
  			          </div>
				</div>
			</div>
		</div>
	</div>
</div>
