<md-dialog aria-label="Crear Empresa" class="modal_bancos">
  <form ng-cloak class="editar-empresa">
    <md-dialog-content>
      <div class="modal_title">
        <h2 ng-bind="banco.bancos[0].nombre" class=""></h2>
        <img src="img/close_icon.png" alt="" ng-click="answer('not useful')" >
      </div>
      <div class="md-dialog-content">
        <div class="col-md-12 container_create-emp no-padding">
          <div class="line-input_emp">
            <div class="md-block input_sia-min guardar_input">
              <label>Empresa</label>
              <span ng-bind="banco.empresa">Colegio Santa Teresita</span>
            </div>
          </div>
          <div class="line-input_emp">
            <div class="md-block input_sia-min guardar_input">
              <label>Sucursal</label>
              <span ng-bind="banco.sucursal">Almagro III</span>
            </div>
          </div>
          <div class="line-input_emp">
            <div class="md-block input_sia-min guardar_input">
              <label>Cuenta</label>
              <span ng-bind="banco.cuenta">1254652323</span>
            </div>
            <div class="md-block input_sia-min guardar_input">
              <label>Folio</label>
              <span ng-bind="banco.folio">12546</span>
            </div>
          </div>
          <div class="line-input_emp">
            <div class="md-block input_sia-min guardar_input">
              <label>Concepto</label>
              <span ng-bind="banco.concepto">Sueldos</span>
            </div>
          </div>
    </md-dialog-content>
  </form>
</md-dialog>