<div class="col-xs-12 col-md-12 wrap-empresas ">
	<div class="container empresas list">
		<div class="col-md-12 no-padding">
			<div class="col-md-12 title-seccion-container">
				<h1 class="sub-seccion-h1">Empresas</h1>
				<md-button ui-sref="empresas.crear" class="pull-right md-raised agregar btn-orange">
					Crear Empresa</md-button>
			</div>
			<form class="busqueda col-md-12">
				<div class="col-md-4 no-padding">
					<i class="fa fa-search" aria-hidden="true"></i>
					<input type="text" class="form-control" placeholder="Nombre de empresa, cuit, dirección, etc." ng-model="searchText">
				</div>
			</form>
			<div class="table-responsive col-md-12">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Empresas</th>
							<th>Localidad</th>
							<th></th>
						</tr>
					</thead>
					<tbody ng-repeat="item in empresas">
						<tr>
							<td ng-bind="item.razon_social" ui-sref="empresas.ver({id:item._id})"></td>
							<td ng-bind="item.localidad" ui-sref="empresas.ver({id:item._id})"></td>
							<td class="text-right">
								<a class="icon_borrar-empresa" ui-sref="empresas.editar({id:item._id, ver: 0, search: searchText})"><i class="material-icons">create</i></a>
								<a href="#" class="icon_borrar-empresa"><i ng-click="borrarEmpresa($event, item)" class="material-icons">delete</i></a>
							</td>
						</tr>
					</tbody>
				</table>

				<paging page="currentPage" page-size="pageSize" total="total" show-prev-next="true" show-first-last="true"
				 paging-action="paging(page)">
				</paging>
			</div>
		</div>
	</div>