<div class="col-xs-12 col-md-12 wrap-empresas ">
	<div class="container empresas list">
		<div class="col-md-10 no-padding">
			<div class="col-md-12 no-padding box-edit-empresa">
				<div class="col-md-12 title-edit">
					<h2 ng-bind="item.razon_social"></h2>
					<div class="tooltip_atras">
						<img src="img/borrar_icon_2.png" alt="" ng-click="confirmModal(item)">
						<md-tooltip md-direction="top">Borrar</md-tooltip>
					</div>
					<div class="tooltip_atras" ui-sref="empresas.editar({id:item._id, ver:1, search: searchText})">
						<img src="img/editar_icon.png" alt="">
						<md-tooltip md-direction="top">Editar</md-tooltip>
					</div>
					<div class="tooltip_atras" ui-sref="empresas.listado({search: searchText})">
						<img src="img/atras_icon.png" alt="">
						<md-tooltip md-direction="top">Volver</md-tooltip>
					</div>
				</div>
				<div class="col-md-12 no-padding ">
					<div class="col-md-12 container_create-emp">
						<div class="line-input_emp">
							<div class="md-block input_sia-min guardar_input">
								<label>Cuit</label>
								<span ng-bind="item.cuit"></span>
							</div>
						</div>
						<div class="line-input_emp">
							<div class="md-block input_sia-min guardar_input">
								<label>Domicilio</label>
								<span ng-bind="item.direccion">Av San Martin 1563</span>
							</div>
							<div class="md-block input_sia-min guardar_input">
								<label>CP</label>
								<span ng-bind="item.codigo_postal">1405</span>
							</div>
							<div class="md-block input_sia-min guardar_input">
								<label>Provincia</label>
								<span ng-bind="item.provincia">Buenos Aires</span>
							</div>
							<div class="md-block input_sia-min guardar_input">
								<label>Localidad</label>
								<span ng-bind="item.localidad">Capital Federal</span>
							</div>
						</div>
						<div class="line-input_emp">
							<div class="md-block input_sia-min guardar_input">
								<label>Telefono</label>
								<span ng-bind="item.telefono">01529 458 521</span>
							</div>
							<div class="md-block input_sia-min guardar_input">
								<label>Email</label>
								<span ng-bind="item.email">Colegiost@mailcolegio.com</span>
							</div>
						</div>
						<div class="line-input_emp">
							<div class="md-block input_sia-min guardar_input">
								<label>Tipo</label>
								<span ng-bind="item.tipo">Tipo 1</span>
							</div>
							<div class="md-block input_sia-min guardar_input">
								<label>Actividad</label>
								<span ng-bind="item.cuit">Educacion</span>
							</div>
							<div class="md-block input_sia-min guardar_input">
								<label>Registro</label>
								<span ng-bind="item.registro">Educacion</span>
							</div>
						</div>
						<div class="line-input_emp">
							<div class="md-block input_sia-min guardar_input checkboxes">
								<md-checkbox md-no-ink aria-label="Checkbox No Ink" ng-model="item.asignacion_familiar" class="md-primary" ng-disabled="true">
									ART con ASIG. FAM
								</md-checkbox>
							</div>
							<div class="md-block input_sia-min guardar_input checkboxes">
								<md-checkbox md-no-ink aria-label="Checkbox No Ink" ng-model="item.no_remunerativo_familiar" class="md-primary" ng-disabled="true">
									NO_REM con ASIG.FAM
								</md-checkbox>
							</div>
						</div>
						<div class="line-input_emp">
							<div class="md-block input_sia-min guardar_input checkboxes">
								<md-checkbox md-no-ink aria-label="Checkbox No Ink" ng-model="item.quincenal" class="md-primary" ng-disabled="true">
									Liquida quincenalmente
								</md-checkbox>
							</div>
						</div>
						<div class="line-input_emp">
							<div ng-if="item.recibos == 'azules'">
								Recibos: Azules
							</div>
							<div ng-if="item.recibos == 'blancos'">
								Recibos: Blancos
							</div>
						</div>
						<div class="bancos-sector">
							<h2>Bancos</h2>
						</div>
						<div class="line-input_emp tabla_bancos">
							<table class="table table-hover">
								<tbody ng-repeat="banco in item.banco_detalles">
									<tr ng-click="showAdvanced($event, itm)">
										<td ng-bind="banco.bancos[0].nombre"></td>
										<td ng-bind="banco.cuenta"></td>
										<td>
										</td>
									</tr>
								</tbody>
							</table>
							<div ng-show="show">
								No hay cuentas relacionadas
							</div>
							<div class="bancos-sector">
								<h2>Datos de Listado</h2>
							</div>
							<div class="line-input_emp">
								<div class="md-block input_sia-min guardar_input">
									<label>Razón Social</label>
									<span ng-bind="item.datos_listado.razon_social"></span>
								</div>
								<div class="md-block input_sia-min guardar_input">
									<label>Domicilio</label>
									<span ng-bind="item.datos_listado.domicilio"></span>
								</div>
								<div class="md-block input_sia-min guardar_input">
									<label>Teléfono/s</label>
									<span ng-bind="item.datos_listado.telefonos"></span>
								</div>
								<div class="md-block input_sia-min guardar_input">
									<label>Localidad</label>
									<span ng-bind="item.datos_listado.localidad"></span>
								</div>
								<div class="md-block input_sia-min guardar_input">
									<label>Código postal</label>
									<span ng-bind="item.datos_listado.codigo_postal"></span>
								</div>
								<div class="md-block input_sia-min guardar_input">
									<label>C.U.I.T.</label>
									<span ng-bind="item.datos_listado.cuit"></span>
								</div>
								<div class="md-block input_sia-min guardar_input">
									<label>Ingresos Brutos</label>
									<span ng-bind="item.datos_listado.ingresos_brutos"></span>
								</div>
								<div class="md-block input_sia-min guardar_input">
									<label>Nro. Registro</label>
									<span ng-bind="item.datos_listado.registro"></span>
								</div>
								<div class="md-block input_sia-min guardar_input">
									<label>Región</label>
									<span ng-bind="item.datos_listado.region"></span>
								</div>
								<div class="md-block input_sia-min guardar_input">
									<label>Distrito</label>
									<span ng-bind="item.datos_listado.distrito"></span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>