<div class="col-xs-12 col-md-12 wrap-empresas ">
	<div class="container empresas list">
		<div class="col-md-12 no-padding">
			<div class="col-md-12 no-padding box-edit-empresa">
				<div class="col-md-12 title-edit">
					<h2>
						{{title}}
						<span ng-show="concepto.empresa !== undefided && concepto.empresa !== null"> - {{concepto.empresa.razon_social}}
						</span>
					</h2>
				</div>
				<div class="col-md-12 no-padding ">
					<div class="col-md-12 container_create-emp">
						<div class="line-input_emp margin-top_check">
							<md-input-container class="md-block input_sia-min" flex-gt-sm>
								<label>Campo 1</label>
								<input ng-model="variable.campo_1" >
							</md-input-container>
							<md-input-container class="md-block input_sia-min" flex-gt-sm>
								<label>Campo 2</label>
								<input ng-model="variable.campo_2" >
							</md-input-container>
							<md-input-container class="md-block input_sia-min" flex-gt-sm>
								<label>Campo 3</label>
								<input ng-model="variable.campo_3" >
							</md-input-container>
							<md-input-container class="md-block input_sia-min" flex-gt-sm>
								<label>Campo 4</label>
								<input ng-model="variable.campo_4" >
							</md-input-container>
							<md-input-container class="md-block input_sia-min" flex-gt-sm>
								<label>Campo 5</label>
								<input ng-model="variable.campo_5" >
							</md-input-container>
							<md-input-container class="md-block input_sia-min" flex-gt-sm>
								<label>Valor resultante</label>
								<input ng-model="variable.valor" type="number" step="0.01">
							</md-input-container>
						</div>
						<div>
						</div>
						<div class="line-input_emp">
							<md-dialog-actions layout="row">
								<span flex></span>
								<md-button ng-click="save()" class="md-primary rellono-blue">
									GUARDAR
								</md-button>
								<md-button class="md-primary rellono-white" ng-click="cancelar()">
									CANCELAR
								</md-button>
							</md-dialog-actions>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>