<md-dialog aria-label="Cambiar Colegio" class="modal_colegios modal_close">
    <form ng-cloak class="editar-empresa">
        <md-dialog-content>
            <span id="topColegio" ng-init="loadTemplate()"></span>
            <div class="modal_title">
                <h2 class="">Adherentes</h2>
                <i class="material-icons" ng-click="cancel()">close</i>
            </div>
            <div class="md-dialog-content">
                <div class="line-input_emp col-md-12" ng-repeat="adherente in adherentes">
                    <md-input-container class="md-block input_sia-min">
                        <label>Nombre</label>
                        <input ng-model="adherente.nombre">
                    </md-input-container>
                    <md-input-container class="md-block input_sia-min">
                        <label>Documento</label>
                        <input ng-model="adherente.doc">
                    </md-input-container>
                    <md-input-container class="md-block input_sia-min">
                        <label>Provincia</label>
                        <md-select ng-model="adherente.tipo">
                            <md-option ng-value="hijo">HIJO</md-option>
                            <md-option ng-value="hija">HIJA</md-option>
                            <md-option ng-value="esposo/a">ESPOSO/A</md-option>
                            <md-option ng-value="madre">MADRE</md-option>
                            <md-option ng-value="padre">PADRE</md-option>
                        </md-select>
                    </md-input-container>

                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button ng-click="save()">
                GUARDAR
            </md-button>
            <md-button ng-click="cancel()">
                CANCELAR
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>