<form ng-submit="save()">

    <div class="col-xs-12 col-md-12 wrap-empresas ">
        <div class="container empresas list">
            <div class="col-md-12 no-padding ">
                <div class="col-md-12 no-padding box-edit-empresa">
                    <div class="col-md-12 title-edit">
                        <h2>{{ title }} - {{ empresa.razon_social }}</h2>
                        <div class="tooltip_atras" ng-click="goBack()">
                            <img src="img/atras_icon.png" alt="">
                            <md-tooltip md-direction="top">Volver</md-tooltip>
                        </div>
                    </div>
                    <div class="col-md-12 no-padding ">
                        <div class="col-md-12 container_create-emp">
                            <div class="line-input_emp">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Apellido y Nombre</label>
                                    <input ng-model="persona.nombre" />
                                </md-input-container>
                            </div>
                            <div class="line-input_emp">
                                <md-input-container class="md-block input_sia-min" flex-gt-sm>
                                    <label>Cuil</label>
                                    <input ng-model="persona.cuil" ng-change="ingresarDni(persona.cuil)" />
                                </md-input-container>
                                <md-input-container class="md-block input_sia-min" flex-gt-sm>
                                    <label>DNI</label>
                                    <input ng-model="persona.dni" type="number" disabled>
                                </md-input-container>

                                <md-input-container class="md-block input_sia-min" flex-gt-sm>
                                    <label>Tipo de documento</label>
                                    <md-select ng-model="persona.tipo_documento">
                                        <md-option ng-value="'dni'">D.N.I</md-option>
                                        <md-option ng-value="'le'">L.E.</md-option>
                                        <md-option ng-value="'lc'">L.C.</md-option>
                                        <md-option ng-value="'pasaporte'">PASAPORTE</md-option>
                                    </md-select>
                                </md-input-container>

                                <md-input-container class="md-block input_sia-min" flex-gt-sm>
                                    <label>Fecha de nacimiento</label>
                                    <md-datepicker ng-model='persona.fecha_nacimiento'></md-datepicker>
                                </md-input-container>
                            </div>
                            <div class="line-input_emp">
                                <md-input-container class="md-block input_sia-min" flex-gt-sm>
                                    <label>Sexo</label>
                                    <md-select ng-model="persona.sexo">
                                        <md-option ng-value="'F'">Femenino</md-option>
                                        <md-option ng-value="'M'">Masculino</md-option>
                                    </md-select>
                                </md-input-container>
                                <md-input-container class="md-block input_sia-min" flex-gt-sm>
                                    <label>Nacionalidad</label>
                                    <input ng-model="persona.nacionalidad">
                                </md-input-container>
                                <md-input-container class="md-block input_sia-min" flex-gt-sm>
                                    <md-checkbox ng-model='persona.conyugue'>Conyugue</md-checkbox>
                                </md-input-container>
                                <md-input-container class="md-block input_sia-min" flex-gt-sm>
                                    <label>Cantidad de hijos</label>
                                    <input type="number" ng-model="persona.cantidad_hijos">
                                </md-input-container>
                            </div>
                            <div class="line-input_emp">
                                <h3>Domicilio</h3>
                                <md-input-container class="md-block input_sia-min">
                                    <label>Calle</label>
                                    <input ng-model="persona.domicilio.calle">
                                </md-input-container>
                                <md-input-container class="md-block input_sia-min">
                                    <label>Numero</label>
                                    <input ng-model="persona.domicilio.numero" type="number">
                                </md-input-container>
                                <md-input-container class="md-block input_sia-min">
                                    <label>Codigo Postal</label>
                                    <input ng-model="persona.domicilio.codigo_postal">
                                </md-input-container>
                                <md-input-container class="md-block input_sia-min">
                                    <label>Piso</label>
                                    <input ng-model="persona.domicilio.piso" type="number">
                                </md-input-container>
                                <md-input-container class="md-block input_sia-min">
                                    <label>Departamento</label>
                                    <input ng-model="persona.domicilio.depto">
                                </md-input-container>
                                <md-input-container class="md-block input_sia-min">
                                    <label>Localidad</label>
                                    <input ng-model="persona.domicilio.localidad">
                                </md-input-container>
                                <md-input-container class="md-block input_sia-min">
                                    <label>Provincia</label>
                                    <md-select ng-model="persona.domicilio.provincia">
                                        <md-option ng-repeat="provincia in provincias" ng-value="provincia.nombre">{{provincia.nombre}}</md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                            <div class="line-input_emp" flex-gt-sm>
                                <h3>Datos administrativos</h3>
                                <div class="col-md-6">
                                    <label>
                                        <small>Banco</small>
                                    </label>
                                    <md-select ng-model="persona.datos_administrativos.banco">
                                        <md-option ng-repeat="banco in bancos" ng-value="banco" ng-selected="persona.datos_administrativos.banco._id == banco._id">{{banco.nombre}}</md-option>
                                    </md-select>
                                </div>
                                <div class="col-md-6">
                                    <md-input-container class="md-block input_sia-min" flex-gt-sm>
                                        <md-checkbox ng-model='persona.datos_administrativos.agente_retencion'>
                                            Agente de retención
                                        </md-checkbox>
                                    </md-input-container>
                                </div>
                            </div>
                            <div class="line-input_emp col-md-12">
                                <md-input-container class="md-block input_sia-min">
                                    <label>Nro. Cta.</label>
                                    <input ng-model="persona.datos_administrativos.numero_cuenta">
                                </md-input-container>
                                <md-input-container class="md-block input_sia-min">
                                    <label>C.B.U.</label>
                                    <input ng-model="persona.datos_administrativos.cbu">
                                </md-input-container>
                                <md-input-container class="md-block input_sia-min">
                                    <label>Sucursal</label>
                                    <input ng-model="persona.datos_administrativos.sucursal">
                                </md-input-container>
                                <md-input-container class="md-block input_sia-min">
                                    <label>T. Cuenta</label>
                                    <input ng-model="persona.datos_administrativos.tipo_cuenta">
                                </md-input-container>
                            </div>
                            <div class="line-input_emp">
                                <md-input-container class="md-block input_sia-min" flex-gt-sm>
                                    <label>Alta</label>
                                    <md-datepicker ng-model='persona.datos_administrativos.fecha_alta'></md-datepicker>
                                </md-input-container>

                                <md-input-container class="md-block input_sia-min">
                                    <label>Adherentes</label>
                                    <input ng-model="persona.datos_administrativos.adherentes.cantidad" type="number">
                                    <md-button class="md-primary rellono-blue" ng-click="adherentesModal();" ng-show="persona.datos_administrativos.adherentes.cantidad > 0">Registrar</md-button>
                                </md-input-container>

                                <md-input-container class="md-block input_sia-min" flex-gt-sm>
                                    <md-checkbox ng-model='persona.datos_administrativos.cc'>C.C.</md-checkbox>
                                </md-input-container>
                                <md-input-container class="md-block input_sia-min" flex-gt-sm>
                                    <md-checkbox ng-model='persona.datos_administrativos.sv'>S.V.</md-checkbox>
                                </md-input-container>
                            </div>
                            <div class="line-input_emp">
                                <md-input-container class="col-md-6" flex-gt-sm>
                                    <label>Obra social</label>
                                    <md-autocomplete md-selected-item="persona.datos_administrativos.obra_social" md-search-text="searchOS" md-items="obra_social in obras_sociales | filterBy: ['codigo', 'descripcion'] : searchOS"
                                        md-item-text="obra_social.codigo +' - '+ obra_social.nombre" md-min-length="1" placeholder="Seleccionar categoría">
                                        <md-item-template>
                                            <span>{{obra_social.codigo}} - {{obra_social.nombre}}</span>
                                        </md-item-template>
                                    </md-autocomplete>
                                </md-input-container>
                                <md-input-container class="col-md-6" flex-gt-sm>
                                    <label>C. Actividad</label>
                                    <md-autocomplete md-selected-item="persona.datos_administrativos.c_actividad" md-search-text="searchActividad" md-items="actividad in c_actividades | filterBy: ['codigo', 'descripcion'] : searchActividad "
                                        md-item-text="actividad.codigo +' - '+ actividad.descripcion" md-min-length="0">
                                        <md-item-template>
                                            <span>{{actividad.codigo}} - {{actividad.descripcion}}</span>
                                        </md-item-template>
                                    </md-autocomplete>
                                </md-input-container>
                            </div>
                            <div class="line-input_emp">
                                <md-input-container class="col-md-6" flex-gt-sm>
                                    <label>Modalidad</label>
                                    <md-autocomplete md-selected-item="persona.datos_administrativos.modalidad" md-search-text="searchModalidad" md-items="modalidad in modalidades | filterBy: ['codigo', 'descripcion'] : searchModalidad" 
                                        md-item-text="modalidad.codigo +' - '+ modalidad.descripcion" md-min-length="0">
                                        <md-item-template>
                                            <span>{{modalidad.codigo}} - {{modalidad.descripcion}}</span>
                                        </md-item-template>
                                    </md-autocomplete>
                                </md-input-container>
                                <md-input-container class="col-md-6" flex-gt-sm>
                                    <label>Condición</label>
                                    <md-autocomplete md-selected-item="persona.datos_administrativos.condicion" md-search-text="searchCondicion" md-items="condicion in condiciones | filterBy: ['codigo', 'descripcion'] : searchCondicion"
                                        md-item-text="condicion.codigo +' - '+ condicion.descripcion" md-min-length="0">
                                        <md-item-template>
                                            <span>{{condicion.codigo}} - {{condicion.descripcion}}</span>
                                        </md-item-template>
                                    </md-autocomplete>
                                </md-input-container>
                            </div>
                            <div class="line-input_emp">
                                <md-input-container class="col-md-6" flex-gt-sm>
                                    <label>C. Zona</label>
                                    <md-autocomplete md-selected-item="persona.datos_administrativos.zona" md-search-text="searchZona" md-items="zona in zonas | filterBy: ['codigo', 'descripcion'] : searchZona"
                                        md-item-text="zona.codigo +' - '+ zona.descripcion" md-min-length="0">
                                        <md-item-template>
                                            <span>{{zona.codigo}} - {{zona.descripcion}}</span>
                                        </md-item-template>
                                    </md-autocomplete>
                                </md-input-container>
                                <md-input-container class="col-md-6" flex-gt-sm>
                                    <label>Opción Jubilatoria</label>
                                    <md-select ng-model="persona.datos_administrativos.opc_jubilatoria">
                                        <md-option value="REPARTO">REPARTO</md-option>
                                        <md-option value="CAPITAL">CAPITAL</md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                            <div class="line-input_emp col-md-12">
                                <md-input-container class="md-block input_sia-min" flex-gt-sm>
                                    <label>Situación</label>
                                    <!-- <md-option ng-repeat="situacion in situaciones" ng-selected="persona.datos_administrativos.situacion._id == situacion._id"
                                            ng-value="situacion">{{situacion.descripcion}}</md-option> -->
                                    <md-autocomplete md-selected-item="persona.datos_administrativos.situacion" md-search-text="searchSituacion" md-items="situacion in situaciones | filterBy: ['codigo', 'descripcion'] : searchSituacion"
                                        md-item-text="situacion.descripcion" md-min-length="0">
                                        <md-item-template>
                                            <span>{{situacion.codigo}} - {{situacion.descripcion}}</span>
                                        </md-item-template>
                                    </md-autocomplete>
                                </md-input-container>
                                <md-input-container class="md-block input_sia-min" flex-gt-sm>
                                    <label>Inicio</label>
                                    <input ng-model="persona.datos_administrativos.inicio">
                                </md-input-container>
                            </div>
                            <div class="line-input_emp">
                                <md-dialog-actions layout="row">
                                    <span flex></span>
                                    <!--ng-click="guardarCategorias = !guardarCategorias"-->
                                    <md-button type="submit" class="md-primary rellono-blue">
                                        GUARDAR
                                    </md-button>
                                    <md-button class="md-primary rellono-white" ng-click="goBack()">
                                        CANCELAR
                                    </md-button>
                                </md-dialog-actions>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</form>