<div class="col-xs-12 col-md-12 wrap-empresas">
    <div class="container empresas list">
    <div class="col-md-12 no-padding">
      <div class="col-md-12 title-seccion-container">
        <h1 class="sub-seccion-h1">Padrón</h1>
        <md-button ui-sref="padron.crear" class="pull-right md-raised agregar btn-orange">Ingresar Persona</md-button>
      </div>
      <form class="busqueda col-md-12">
        <div class="col-md-4 no-padding">
          <i class="fa fa-search" aria-hidden="true"></i>
          <input type="text" class="form-control" placeholder="Nombre de empresa, cuit, dirección, etc" ng-model="searchText">
        </div>
        <button type="submit" class="btn-busqueda-av" ng-click="search()">Búsqueda avanzada</button>
      </form>
      <div class="table-responsive col-md-12">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>CUIL</th>
              <th>Sexo</th>
              <th></th>
            </tr>
          </thead>
          <tbody ng-repeat="item in items">
            <tr>
              <td ng-bind="item.nombre" ui-sref="padron.ver({id : item._id, empresa : item.empresa._id})"></td>
              <td ng-bind="item.cuil" ui-sref="padron.ver({id : item._id, empresa : item.empresa._id})"></td>
              <td ng-bind="item.sexo" ui-sref="padron.ver({id : item._id, empresa : item.empresa._id})"></td>
              <td class="text-right">
                <a class="icon_borrar-empresa" ui-sref="padron.editar({id : item._id, ver: 0,, empresa : item.empresa._id})"><i class="material-icons">create</i></a>
                <a href="#" class="icon_borrar-empresa" ><i ng-click="confirmModal($event, item)" class="material-icons">delete</i></a>
              </td>

              <a class="icon_borrar-empresa">
                <i class="material-icons">create</i>
              </a>
              <a class="icon_borrar-empresa">
                <i class="material-icons">delete</i>
              </a>
            </tr>
          </tbody>
        </table>

        <paging 
          page="currentPage" 
          page-size="pageSize" 
          total="total" 
          show-prev-next="true" 
          show-first-last="true" 
          paging-action="paging(page)">>
        </paging>
      </div>
    </div>
  </div>