<div class="col-xs-12 col-md-12 wrap-empresas ">
	<div class="container empresas list">
		<div class="col-md-10 no-padding">
			<div class="col-md-12 no-padding box-edit-empresa">
				<div class="col-md-12 title-edit">
					<h2>{{empresa.razon_social}} - {{persona.nombre}}</h2>
					<img src="img/borrar_icon_2.png" alt="delete" ng-click="confirmModal(event, persona)">
					<a ui-sref="padron.editar({id:persona._id, ver:1, empresa : persona.empresa._id})">
						<img src="img/editar_icon.png" 
								ui-sref="padron.editar({id:persona._id, ver:1, empresa : persona.empresa._id})">
					</a>
					<div class="tooltip_atras" ui-sref="liquidacion({estado: 'personas'})">
						<img src="img/atras_icon.png" alt="">
						<md-tooltip md-direction="top">Volver</md-tooltip>
					</div>
				</div>
				<div class="col-md-12 no-padding ">
					<div class="col-md-12 container_create-emp">
						<div class="line-input_emp">
							<div class="md-block input_sia-min guardar_input">
								<label>Cuil</label>
								<span>{{ persona.cuil }}</span>
							</div>
							<div class="md-block input_sia-min guardar_input">
								<label>DNI</label>
								<span>{{ persona.dni }}</span>
							</div>
							<div class="md-block input_sia-min guardar_input">
									<label>Tipo de documento</label>
									<span>{{ persona.tipo_documento | uppercase }}</span>
								</div>
							<div class="md-block input_sia-min guardar_input">
								<label>Fecha de nacimiento</label>
								<span>{{ persona.fecha_nacimiento | date:'dd/MM/yyyy' }}</span>
							</div>
						</div>
						<div class="line-input_emp">
							<div class="md-block input_sia-min guardar_input">
								<label>Sexo</label>
								<span>{{ persona.sexo }}</span>
							</div>
							<div class="md-block input_sia-min guardar_input">
								<label>Nacionalidad</label>
								<span>{{ persona.nacionalidad }}</span>
							</div>
							<div class="md-block input_sia-min guardar_input">
								<label>Conyugue</label>
								<span>{{ (persona.conyugue) ? 'Si' : 'No' }}</span>
							</div>
							<div class="md-block input_sia-min guardar_input">
								<label>Cantidad de hijos</label>
								<span>{{ persona.cantidad_hijos }}</span>
							</div>
						</div>
						<div class="line-input_emp">
							<h3>Domicilio</h3>
							<div class="md-block input_sia-min guardar_input">
								<label>Calle</label>
								<span>{{ persona.domicilio.calle }}</span>
							</div>
							<div class="md-block input_sia-min guardar_input">
								<label>Numero</label>
								<span>{{ persona.domicilio.numero }}</span>
							</div>
							<div class="md-block input_sia-min guardar_input">
								<label>Codigo Postal</label>
								<span>{{ persona.domicilio.codigo_postal }}</span>
							</div>
							<div class="md-block input_sia-min guardar_input">
								<label>Piso - Departamento</label>
								<span>{{ persona.domicilio.piso }} - {{ persona.domicilio.depto }}</span>
							</div>
							<div class="md-block input_sia-min guardar_input">
								<label>Localidad</label>
								<span ng-bind="persona.domicilio.localidad"></span>
							</div>
							<div class="md-block input_sia-min guardar_input">
								<label>Provincia</label>
								<span ng-bind="persona.domicilio.provincia"></span>
							</div>
						</div>
						<div class="line-input_emp">
							<h3>Datos admistrativos</h3>
							<div class="md-block input_sia-min guardar_input">
								<label>Banco</label>
								<span ng-bind="persona.datos_administrativos.banco.nombre"></span>
							</div>
							<div class="md-block input_sia-min guardar_input checkboxes conceptos">
								<md-checkbox md-no-ink aria-label="Checkbox No Ink" ng-model="persona.datos_administrativos.agente_retencion" class="md-primary" disabled="true">
								</md-checkbox>
								<span>Agente de retención</span>
							</div>
						</div>
						<div class="line-input_emp">
							<div class="md-block input_sia-min guardar_input">
								<label>Nro. Cta</label>
								<span ng-bind="persona.datos_administrativos.numero_cuenta"></span>
							</div>
							<div class="md-block input_sia-min guardar_input">
								<label>C.B.U.</label>
								<span ng-bind="persona.datos_administrativos.cbu"></span>
							</div>
							<div class="md-block input_sia-min guardar_input">
								<label>Sucursal</label>
								<span ng-bind="persona.datos_administrativos.sucursal"></span>
							</div>
							<div class="md-block input_sia-min guardar_input">
								<label>T. Cuenta</label>
								<span ng-bind="persona.datos_administrativos.tipo_cuenta"></span>
							</div>
						</div>
						<div class="line-input_emp">
							<div class="md-block input_sia-min guardar_input">
								<label>Fecha de alta</label>
								<span>{{persona.datos_administrativos.fecha_alta | date:'dd/MM/yyyy'}}</span>
							</div>
							<div class="md-block input_sia-min guardar_input">
								<label>Adherentes</label>
								<span ng-bind="persona.datos_administrativos.adherentes.cantidad"></span>
							</div>
							<div class="md-block input_sia-min guardar_input">
								<label>C.C.</label>
								<md-checkbox md-no-ink aria-label="Checkbox No Ink" ng-model="persona.datos_administrativos.cc" class="md-primary"
								 disabled="true">
								</md-checkbox>
							</div>
							<div class="md-block input_sia-min guardar_input">
								<label>S.V.</label>
								<md-checkbox md-no-ink aria-label="Checkbox No Ink" ng-model="persona.datos_administrativos.sv" class="md-primary"
								 disabled="true">
								</md-checkbox>
							</div>
						</div>
						<div class="line-input_emp">
							<div class="md-block input_sia-min guardar_input">
								<label>Obra social</label>
								<span>{{persona.datos_administrativos.obra_social.codigo}} - {{persona.datos_administrativos.obra_social.nombre}}</span>
							</div>
							<div class="md-block input_sia-min guardar_input">
								<label>C. Actividad</label>
								<span>{{persona.datos_administrativos.c_actividad.codigo}} - {{persona.datos_administrativos.c_actividad.descripcion}}</span>
							</div>
							<div class="md-block input_sia-min guardar_input">
								<label>Modalidad</label>
								<span>{{persona.datos_administrativos.modalidad.codigo}} - {{persona.datos_administrativos.modalidad.descripcion}}</span>
							</div>
							<div class="md-block input_sia-min guardar_input">
								<label>Condición</label>
								<span>{{persona.datos_administrativos.condicion.codigo}} - {{persona.datos_administrativos.condicion.descripcion}}</span>
							</div>
						</div>
						<div class="line-input_emp">
							<div class="md-block input_sia-min guardar_input">
								<label>Zona</label>
								<span>{{persona.datos_administrativos.zona.codigo}} - {{persona.datos_administrativos.zona.descripcion}}</span>
							</div>
							<div class="md-block input_sia-min guardar_input">
								<label>Opción Jubilatoria</label>
								<span ng-bind="persona.datos_administrativos.opc_jubilatoria"></span>
							</div>
							<div class="md-block input_sia-min guardar_input">
								<label>Situación</label>
								<span ng-bind="persona.datos_administrativos.situacion.descripcion"></span>
							</div>
							<div class="md-block input_sia-min guardar_input">
								<label>Inicio</label>
								<span ng-bind="persona.datos_administrativos.inicio"></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
