<div class="col-xs-12 col-md-12 wrap-empresas ">
	<div class="container empresas list">
	<div class="col-md-12 no-padding">
		<div class="col-md-12 title-seccion-container">
			<h1 class="sub-seccion-h1">Cargos</h1>
	 		<md-button ui-sref="cargo.crear" class="pull-right md-raised agregar btn-orange">Crear Cargo</md-button>
		</div>
		<form class="busqueda col-md-12">
	        <div class="col-md-4 no-padding">
	        	<i class="fa fa-search" aria-hidden="true"></i>
	          <input type="text" class="form-control" placeholder="Descripción del cargo" ng-model="searchText">
	        </div>
		</form>
			<div class="table-responsive col-md-12">          
			  <table class="table table-hover">
			    <thead>
			      <tr>
			        <th>Descripción</th>
			        <th>Cargo</th>
			        <th>Nomenclatura</th>
			        <th>Índice</th>
			        <th></th>
			      </tr>
			    </thead>
			    <tbody ng-repeat="item in cargos">
			      <tr>
			        <td ng-bind="item.nombre" ui-sref="cargo.ver({id:item._id, search: searchText})"></td>
			        <td ng-bind="item.cargo" ui-sref="cargo.ver({id:item._id, search: searchText})"></td>
			        <td ng-bind="item.nomenclatura" ui-sref="cargo.ver({id:item._id, search: searchText})"></td>
			        <td ng-bind="item.indice" ui-sref="cargo.ver({id:item._id, search: searchText})"></td>
			        <td class="text-right">
								<a class="icon_borrar-empresa" ui-sref="cargo.edit({id:item._id, search: searchText})"><i class="material-icons">create</i></a>
								<a href="#" class="icon_borrar-empresa" ng-click="confirmModal($event, item)"><i  class="material-icons">delete</i></a>
			        </td>
							<a ui-sref="editarConcepto" class="icon_borrar-empresa"><i class="material-icons">create</i></a>
			        <a class="icon_borrar-empresa" ><i class="material-icons">delete</i></a>
			      </tr>
			    </tbody>
			  </table>
				
				<paging
				  	page="currentPage" 
				  	page-size="pageSize" 
				  	total="total"
				  	show-prev-next="true"
				  	show-first-last="true"
				  	paging-action="paging(page)">>
				</paging>
		  </div>
	</div>
</div>