<form ng-submit="save()">
	
<div class="col-xs-12 col-md-12 wrap-empresas ">
	<div class="container empresas list">
		<div class="col-md-12 no-padding" ng-show="guardarCargo">
			<div class="col-md-12 no-padding box-edit-empresa">
				<div class="col-md-12 title-edit">
					<h2>Cargo</h2>
					<img src="img/borrar_icon_2.png" alt="" ng-click="showAdvanced($event)">
					<img src="img/editar_icon.png" alt="" ng-click="guardarCargo = !guardarCargo">
					<div class="tooltip_atras" ui-sref="cargo.listado">
						<img src="img/atras_icon.png" alt="">
						<md-tooltip md-direction="top">Volver</md-tooltip>
            		</div>
				</div>
				<div class="col-md-12 no-padding ">
			        <div class="col-md-12 container_create-emp">
			          <div class="line-input_emp">
			            <div class="md-block input_sia-min guardar_input">
			              <label>Descripción</label>
			              <span>{{cargo.nombre}}</span>
			            </div>
			            <div class="md-block input_sia-min guardar_input">
			              <label>Cargo</label>
			              <span>{{cargo.cargo}}</span>
			            </div>
			          </div>
			          <div class="line-input_emp">
			            <div class="md-block input_sia-min guardar_input">
			              <label>Nomenclatura</label>
			              <span>{{cargo.nomenclatura}}</span>
			            </div>
			            <div class="md-block input_sia-min guardar_input" type="number" step="0.01">
			              <label>ïndice</label>
			              <span>{{cargo.indice}}</span>
			            </div>
			          </div>
  			          <div class="line-input_emp">  
					    <md-dialog-actions layout="row">
					      <span flex></span>
					      <md-button class="md-primary rellono-blue">
					        GUARDAR
					      </md-button>
					      <md-button class="md-primary rellono-white" ui-sref="cargo.listado">
					       CANCELAR
					      </md-button>
					    </md-dialog-actions>
					   </div>
			          <div>
			          </div>

				</div>
			</div>
		</div>
		</div>
		<div class="col-md-12 no-padding " ng-show="!guardarCargo">
			<div class="col-md-12 no-padding box-edit-empresa">
				<div class="col-md-12 title-edit">
					<h2>Cargo</h2>
					<div class="tooltip_atras" ui-sref="cargo.listado">
						<img src="img/atras_icon.png" alt="">
						<md-tooltip md-direction="top">Volver</md-tooltip>
            		</div>
				</div>
				<div class="col-md-12 no-padding ">
			        <div class="col-md-12 container_create-emp">
			          <div class="line-input_emp">
			            <md-input-container class="md-block input_sia" flex-gt-sm>
			              <label>Descripción</label>
			              <input ng-model="cargo.nombre" required>
			            </md-input-container>
					  </div>
			          <div class="line-input_emp">
			            <md-input-container class="md-block input_sia" flex-gt-sm>
			              <label>Cargo</label>
			              <input ng-model="cargo.cargo" type='number' step="0.01" required>
			            </md-input-container>
					  </div>
			          <div class="line-input_emp">
			            <md-input-container class="md-block input_sia-min" flex-gt-sm>
			              <label>Nomenclatura</label>
			              <input ng-model="cargo.nomenclatura" required>
			            </md-input-container>
			            <md-input-container class="md-block input_sia-min" flex-gt-sm>
			              <label>Índice</label>
			              <input ng-model="cargo.indice" type='number' step="0.01" required>
			            </md-input-container>
					     <md-input-container class="md-block input_sia">
					        <label>Categorías</label>
					        <md-select ng-model="cargo.categoria_codigo">
					          <md-option ng-repeat="categoria in categorias.items" ng-value="categoria.codigo">{{categoria.codigo}} - {{ categoria.nombre }}</md-option>
					        </md-select>
					     </md-input-container>
			          </div>
			        <div>
		        </div>
  			          <div class="line-input_emp">  
					    <md-dialog-actions layout="row">
					      <span flex></span>
					      <!--ng-click="guardarCargo = !guardarCargo"-->
					      <md-button type="submit" class="md-primary rellono-blue">
					        GUARDAR
					      </md-button>
					      <md-button class="md-primary rellono-white" ui-sref="cargo.listado">
					       	CANCELAR
					      </md-button>
					    </md-dialog-actions>
  			          </div>
				</div>
			</div>
		</div>
	</div>
</div>
</form>