<form ng-submit="save()">
	<div class="col-xs-12 col-md-12 wrap-empresas ">
		<div class="container empresas list">
			<div class="col-md-12 no-padding " ng-show="!guardarCargo">
				<div class="col-md-12 no-padding box-edit-empresa">
					<div class="col-md-12 title-edit">
						<h2>Editar cargo</h2>
					</div>
					<div class="col-md-12 no-padding ">
						<div class="col-md-12 container_create-emp">
							<div class="line-input_emp">
								<md-input-container class="md-block input_sia" flex-gt-sm>
									<label>Descripción</label>
									<input ng-model="cargo.nombre" required>
								</md-input-container>
							</div>
							<div class="line-input_emp">
								<md-input-container class="md-block input_sia" flex-gt-sm>
									<label>Cargo</label>
									<input ng-model="cargo.cargo" type="number" step="0.01" required>
								</md-input-container>
							</div>
							<div class="line-input_emp">
								<md-input-container class="md-block input_sia-min" flex-gt-sm>
									<label>Nomenclatura</label>
									<input ng-model="cargo.nomenclatura" required>
								</md-input-container>
								<md-input-container class="md-block input_sia-min" flex-gt-sm>
									<label>Índice</label>
									<input ng-model="cargo.indice" type='number'step="0.01">
								</md-input-container>
								<md-input-container class="md-block input_sia">
									<label>Categoría</label>
									<md-select ng-model="cargo.categoria_codigo" ng-change="cambioCategoria(cargo.categoria_codigo)">
										<md-option ng-repeat="categoria in categorias.items" ng-value="categoria.codigo">{{categoria.codigo}} - {{ categoria.nombre }}</md-option>
									</md-select>
								</md-input-container>
							</div>
							<div class="line-input_emp">
								<h4>Conceptos Predifinidos</h4>
								<section>
									<div ng-repeat="_concepto  in cargo.conceptos_template track by $index">
										{{ _concepto.codigo }} - {{ _concepto.descripcion }}
										<span ng-click='eliminarConcepto($index)' style="float:right">Eliminar</span>
									</div>
									<md-button ng-click="verConceptos = true" ng-show="!verConceptos" style="margin: 10px 0;"> Ver conceptos</md-button>
									<md-button ng-click="verConceptos = false" ng-show="verConceptos" style="margin: 10px 0;"> Cerrar conceptos</md-button>
								</section>
								<md-input-container class="md-block input_sia">
										<div ng-if="verConceptos" class="buscador-conceptos">
										<div class="body table table-hover">
											<div class="col-md-12 view-row no-padding">
												<md-input-container class="md-block" flex-gt-sm>
													<div class="col-sm-10">
														<label>Buscar</label>
														<input type="text" ng-model="searchTextConcepto" ng-change="resetPageConceptos()" md-autofocus>
													</div>									
													<section class="conceptos-cargos">
														<div class="header">
															<div class="col-xs-3">Codigo</div>
															<div class="col-xs-9">Descripción</div>
														</div>
														<div
															class="body-concepto"
															ng-repeat="concepto in conceptos | filter:searchTextConcepto | startFrom:paginaConceptos * pageSize | limitTo:pageSize" 
																ng-click="conceptoSeleccionado(concepto)">
																<div class="col-xs-3">{{ concepto.codigo }}</div>
																<div class="col-xs-9">{{ concepto.descripcion }}</div>
														</div>
													</section>
							
												<center>
													<md-button ng-disabled="paginaConceptos == 0" ng-click="paginaConceptos = paginaConceptos-1">
														<i class="fa fa-angle-double-left" aria-hidden="true"></i>
													</md-button>
													<span class="page-number">
														{{paginaConceptos+1}}
													</span>
													<md-button 
														ng-click="paginaConceptos = paginaConceptos + 1">
														<i class="fa fa-angle-double-right" aria-hidden="true"></i>
													</md-button></br>
												</center>									
											</div>
									</md-input-container>
								</div>
							</div>
							</div>
							<div class="line-input_emp">
								<md-dialog-actions layout="row">
									<span flex></span>
									<!--ng-click="guardarCargo = !guardarCargo"-->
									<md-button type="submit" class="md-primary rellono-blue">
										GUARDAR
									</md-button>
									<md-button class="md-primary rellono-white" ng-click="cancelar()">
										CANCELAR
									</md-button>
								</md-dialog-actions>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>