<div class="col-xs-12 col-md-12 wrap-empresas ">
	<div class="container empresas list">
		<div class="col-md-10 no-padding">
			<div class="col-md-12 no-padding box-edit-empresa">
				<div class="col-md-12 title-edit">
					<h2 ng-bind="cargo.nombre"></h2>
					<div class="tooltip_atras" ng-click="confirmModal(event, cargo)">
						<img src="img/borrar_icon_2.png" alt="">
						<md-tooltip md-direction="top">Borrar</md-tooltip>
					</div>
					<div class="tooltip_atras" ui-sref="cargo.edit({ id:cargo._id, search:searchText})">
						<img src="img/editar_icon.png" alt="">
						<md-tooltip md-direction="top">Editar</md-tooltip>
					</div>
					<div class="tooltip_atras" ui-sref="cargo.listado({search:searchText})">
						<img src="img/atras_icon.png" alt="">
						<md-tooltip md-direction="top">Volver</md-tooltip>
					</div>
				</div>
				<div class="col-md-12 no-padding ">
					<div class="col-md-12 container_create-emp">
						<div class="line-input_emp">
							<div class="md-block input_sia-min guardar_input">
								<label>Cargo</label>
								<span ng-bind="cargo.cargo"></span>
							</div>
						</div>
						<div class="line-input_emp">
							<div class="md-block input_sia-min guardar_input">
								<label>Nomenclatura</label>
								<span ng-bind="cargo.nomenclatura"></span>
							</div>
							<div class="md-block input_sia-min guardar_input">
								<label>Índice</label>
								<span ng-bind="cargo.indice"></span>
							</div>
							<div class="md-block input_sia-min guardar_input">
								<label>Categoría</label>
								<span ng-bind="cargo.categoria_codigo"></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>