<!DOCTYPE html>
<html>

<head>
	<title>Tabla</title>
</head>
<style>
	body {
		padding-top: 100px;
		padding-right: 30px;
		padding-left: 100px;
		padding-bottom: 80px;
		font-family: 'Arial';
		font-size: 8px;
	}
</style>

<body>
	{{#show}}
	<table>
		{{/show}} {{^show}}
		<table style="visibility: hidden;">
			{{/show}}
			<tr>
				<th>
					PLANILLA DE HABERES LEY Nro. 20744 (t.o) Art. 52
				</th>
			</tr>
			<tr>
				<td>
					Empresa: {{empresa.nombre}}</br>
					Domicilio: {{empresa.domicilio}}</br>
					Actividad: {{empresa.actividad}}
				</td>
				<td>
					Cuit: {{empresa.cuit}}</br>
					Nro de inscrip reg: {{registro}}</br>
					Mes:
				</td>
			</tr>
		</table>

		{{#legajos}} 
		
		{{^adherente}}

		<table class="header_tabla" cellspacing="0">
			<tr>
				<th>N° Leg.</th>
				<th>Nombre</th>
				<th>DNI</th>
				<th>Cuil</th>
				<th>F.A. Inst.</th>
				<th>Cargo</th>
			</tr>
			<tr>
				<td>{{numero}}}</td>
				<td>{{nombre}}</td>
				<td>{{dni}}</td>
				<td>{{cuil}}</td>
				<td>{{fecha_alta_instituto}}</td>
				<td>{{cargo}}</td>
			</tr>
		</table>

		<table class="header_tabla" cellspacing="0">
			<tr>
				<th>F. Alta</th>
				<th>F. Baja</th>
				<th>Domicilio</th>
				<th>E. Civil</th>
			</tr>
			<tr>
				<td>{{fecha_alta}}</td>
				<td></td>
				<td>{{domicilio}}</td>
				<td></td>
			</tr>
		</table>

		{{#leyenda}}
		<div style="height: 150px;">
			{{texto}}
		</div>
		<table>
			<tr>
			</tr>
		</table>
		{{/leyenda}}

		{{^leyenda}}
		<div style="height: 150px;">
			<table style="width: 45%; float: left;">
				<tr>
					<th>Conceptos</th>
					<th>Cantidad</th>
					<th>Valor</th>
				</tr>
				{{#conceptos_remunerativos}}
				<tr>
					<td>{{descripcion}}</td>
					<td>{{cantidad}}</td>
					<td>{{valor}}</td>
				</tr>
				{{/conceptos_remunerativos}}
			</table>
			<table style="width: 45%;">
				<tr>
					<th>Conceptos</th>
					<th>Cantidad</th>
					<th>Valor</th>
				</tr>
				{{#conceptos_deducciones}}
				<tr>
					<td>{{descripcion}}</td>
					<td>{{cantidad}}</td>
					<td>{{valor}}</td>
				</tr>
				{{/conceptos_deducciones}}
			</table>
		</div>
		
		<table>
			<tr>
				<th>Neto: {{neto}}</th>
				<th>Total Remunerativo: {{remunerativo}}</th>
				<th>Total Deducciones: {{deducciones}}</th>
			</tr>
		</table>
		{{/leyenda}}

		{{/adherente}} 
		
		
		{{#adherente}}
		<table class="header_tabla" cellspacing="0">
			<tr>
				<th>N° Leg.</th>
				<th>Nombre</th>
				<th>DNI</th>
				<th>Cuil</th>
				<th>Personas bla blas</th>
			</tr>
			<tr>
				<td>{{numero}}}</td>
				<td>{{nombre}}</td>
				<td>{{dni}}</td>
				<td>{{cuil}}</td>
			</tr>
		</table>

		<div style="height: 150px;">
				<table style="width: 45%; float: left;">
						{{#adherentes}}
						<tr>
							<td>{{nombre_adherente}}</td>
							<td>{{tipo_adherente}}</td>
							<td>{{dni_adherente}}</td>
						</tr>
						{{/adherentes}}
				</table>
			</div>
		{{/adherente}} 
		
		
		{{/legajos}}

		<br>
		<div style="page-break-after:always;"></div>
</body>

</html>