<!DOCTYPE html>
<html>

<head>
    <title>Reporte de Bajas</title>
</head>
<style>
    body {
        margin-top: 20px;
        margin-bottom: 10px;
        margin-right: 50px;
        margin-left: 50px;
        font-family: 'Arial';
        font-size: 9px;
    }
</style>

<body>
    <h1>NOVEDADES: Reporte de cambios de antiguedad</h1>
    <h2>FECHA: {{fecha_actual}}</h2>
    <br>
    <br>
    <table style="text-align: center; font-size: 11px;">
        <tr>
            <th>Nombre</th>
            <th>Antiguedad</th>
            <th>Porcentaje</th>
        </tr>
        {{#cambios}}
        <tr>
            <td>{{nombre}}</td>
            <td style="width: 100px">{{antiguedad}}</td>
            <td style="width: 100px">{{porcentaje}}%</td>
        </tr>
        {{/cambios}}
    </table>

</body>

</html>