<!DOCTYPE html>
<html>

<head>
    <title>Reporte de Bajas</title>
</head>
<style>
    body {
        margin-top: 20px;
        margin-bottom: 10px;
        margin-right: 50px;
        margin-left: 50px;
        font-family: 'Arial';
        font-size: 9px;
    }
</style>

<body>
    <h1>NOVEDADES: Reporte de Bajas</h1>
    <h2>FECHA: {{fecha_actual}}</h2>
    <br>
    <br>
    {{#bajas}}
    <div>
        <h3>{{nombre}} - Fecha de baja : {{fecha}}</h3>
        ---------------------------------------------------------------------------
    </div>
    {{/bajas}}

</body>

</html>