<md-content class="md-padding">
    <!-- Conceptos -->
    <div class="col-xs-12 col-md-12 wrap-empresas ">
        <div class="container empresas list inner">
            <div class="col-md-12 no-padding">
                <div class="col-md-12 title-seccion-container">
                    <h1 class="sub-seccion-h1">Conceptos</h1>
                    <md-button ui-sref="conceptos.crear-empresa({empresaid: empresaId})" class="pull-right md-raised agregar btn-orange">
                        Crear Concepto
                    </md-button>
                </div>
                <form class="busqueda col-md-12">
                    <div class="col-md-4 no-padding">
                        <i class="fa fa-search" aria-hidden="true"></i>
                        <input type="text" class="form-control" placeholder="descripcion de concepto" ng-model="conceptoFilter">
                    </div>
                </form>
                <div class="table-responsive col-md-12">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Código</th>
                                <th>Descripción</th>
                                <th>Fórmula</th>
                                <th>Índice</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody ng-repeat="item in conceptos | filter: conceptoFilter | startFrom:conceptoPager.currentPage*conceptoPager.pageSize | limitTo:conceptoPager.pageSize">
                            <tr>
                                <td ui-sref="conceptos.ver({id: item._id, search:searchText, empresaid: empresaId})">{{item.codigo}}</td>
                                <td ui-sref="conceptos.ver({id: item._id, search:searchText, empresaid: empresaId})">{{item.descripcion}}</td>
                                <td ui-sref="conceptos.ver({id: item._id, search:searchText, empresaid: empresaId})">{{item.formula}}</td>
                                <td ui-sref="conceptos.ver({id: item._id, search:searchText, empresaid: empresaId})">{{item.indice}}</td>
                                <td class="text-right">
                                    <a class="icon_borrar-empresa" ui-sref="conceptos.editar({id: item._id, ver: 2, search:searchText, empresaid:empresaId})">
                                        <i class="material-icons">create</i>
                                    </a>
                                    <a class="icon_borrar-empresa">
                                        <i ng-click="conceptoEliminar($event, item)" class="material-icons">delete</i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <center id="pager">
                    <md-button ng-disabled="conceptoPager.currentPage == 0" ng-click="conceptoPager.currentPage=conceptoPager.currentPage-1">
                        <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                    </md-button>
                    <span class="page-number">
                        {{conceptoPager.currentPage+1}}/{{conceptoPager.numberOfPages()}}
                    </span>
                    <md-button ng-disabled="conceptoPager.currentPage >= conceptosFiltered().length/pageSize - 1" ng-click="conceptoPager.currentPage=conceptoPager.currentPage+1">
                        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                    </md-button>
                </center>
            </div>
        </div>
</md-content>
