<md-content class="md-padding">
    <div class="col-xs-12 col-md-12 wrap-empresas ">
        <div class="container empresas list inner">
            <div class="col-md-12 no-padding">
                <div class="col-md-12 title-seccion-container">
                    <h1 class="sub-seccion-h1">Ganancias</h1>
                </div>
                <form class="busqueda col-md-12">
                    <div class="col-md-4 no-padding">
                        <i class="fa fa-search" aria-hidden="true"></i>
                        <input type="text" class="form-control" laceholder="Nombre de persona" ng-model="gananciasFilter">
                    </div>
                </form>
                <div class="table-responsive col-md-12">
                    <table class="table table-hover">
                        <caption>Personas:</caption>
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Cuil</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody ng-repeat="gan in personasGanancias">
                            <tr>
                                <td ng-bind="gan.legajo.persona.nombre"></td>
                                <td ng-bind="gan.legajo.persona.cuil"></td>
                                <td>
                                    <a ui-sref="datos-ganancias({empresaid: gan.legajo.subempresa.empresa._id, 
                                                personaid: gan.legajo.persona.persona_id,
                                                anio: gan.periodo.anio})">
                                        Datos Ganancias {{gan.legajo.persona.persona_id}}
                                    </a>
                                </td> 
                                <td class="text-right">
                                    <input name="file" type="file" value="{{gan.ganancias.nombre_archivo}}" custom-on-change="uploadFile" data-persona="{{gan.legajo.persona._id}}"
                                        multiple>
                                    <label for="file">{{gan.ganancias.nombre_archivo}}</label>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <paging page="pageGanancias" page-size="pageSize" total="totalGanancias" show-prev-next="true" show-first-last="true" paging-action="paginarGanancias(page)">>
                    </paging>
                </div>
                <md-button ng-click='procesarGanancias()'>
                    Procesar Ganancias
                </md-button>
            </div>
        </div>
</md-content>