<md-content class="legajos md-padding">
  <div class="col-md-12 no-padding header">
    <md-input-container style="margin-right: 10px; min-width:150px">
      <label>Sub Empresa</label>
      <md-select ng-model="subempresasFilter" ng-change="findLegajos()">
        <md-option selected ng-value="false">TODAS</md-option>
        <md-option ng-repeat="subempresa in subempresas" ng-value="subempresa._id">
          {{ subempresa.descripcion }}
        </md-option>
      </md-select>
    </md-input-container>
    <md-input-container style="margin-right: 10px;min-width:150px">
      <label>Estado de Legajo</label>
      <md-select multiple ng-model="estadoLegajo" ng-change="findLegajos()">
        <md-option selected value="normal">Normal</md-option>
        <md-option value="licencia">Licencia</md-option>
        <md-option value="baja">Baja</md-option>
      </md-select>
    </md-input-container>
    <a class="pull-right agregar" ui-sref="crearLegajo({id: colegio._id, periodoid:periodo._id})">
      Agregar Legajo
    </a>
  </div>

  <div class="col-md-12 no-padding body">
    <div class="col-md-12 no-padding">
      <div class="buscador no-padding search-min" ng-class="{'col-md-2' : collapse, 'col-md-10' : !collapse}">
        <i class="fa fa-search" aria-hidden="true"></i>
        <input type="text" class="form-control" placeholder="Buscar nombre" ng-change="resetPage()" ng-click="collapseFuc()" ng-model="searchLegajo">
      </div>
    </div>

    <div class="sidebar no-padding" ng-class="{'col-md-2' : collapse, 'col-md-10' : !collapse}">
      <div class="head">
        <div class="col-md-1 no-padding">
          <span>Legajo</span>
        </div>
        <div class="col-md-3 no-padding">
          <span>Nombre</span>
        </div>
        <div class="col-md-2 no-padding">
          <span>Sub Empresa</span>
        </div>
        <div class="col-md-2 no-padding">
          <span>Cargo</span>
        </div>
        <div class="col-md-1 no-padding">
          <span>Caracter</span>
        </div>
        <div class="col-md-1 no-padding">
          <span>Horas</span>
        </div>
        <div class="col-md-1 no-padding">
          <span>Antigüedad</span>
        </div>
        <div class="col-md-1 no-padding">

        </div>
      </div>
      <div class="body tabla_liquidacion">
        <!-- <div>ng-repeat="lega in getLegajosFiltered() | startFrom: currentPage * pageSize | limitTo:pageSize"</div> -->
        <div ng-class="[{true:lega.estado}[true], {true: 'active'} [lega.id == legajoDetalle.id]]" 
          class="col-md-12 view-row no-padding "
          ng-click="changeCollapse(lega, 1)" 
          ng-class="{'color-active' : collapse, '' : !collapse}" 
          ng-repeat="lega in getLegajosFiltered(searchLegajo) | startFrom:currentPage * pageSize | limitTo:pageSize"
        >
        <!-- ng-repeat="item in legajos | filter: { persona_empresa: { personas: { nombre: searchText} } }  | filter: { subempresaId: subempresasFilter }"> -->
        <md-tooltip md-direction="top" style="margin-left:2px;" ng-show="collapse">
            {{lega.persona.nombre}} | {{lega.persona.cuil}} | {{lega.cargo.nombre}}
        </md-tooltip>
        <div class="col-md-1 no-padding">
          <p class="data_liquidacion">{{lega.numero_legajo || lega.numero_sistema}}</p>
        </div>
        <div class="col-md-3 no-padding">
          <p class="data_liquidacion">{{lega.persona.nombre}}</p>
        </div>
        <div class="col-md-2 no-padding">
          <p class="data_liquidacion">{{lega.subempresa.descripcion}}</p>
        </div>
        <div class="col-md-2 no-padding">
          <p class="data_liquidacion">{{lega.cargo.nomenclatura}}</p>
        </div>
        <div class="col-md-1 no-padding">
            <p class="data_liquidacion">{{lega.caracter}}</p>
          </div>
        <div class="col-md-1 no-padding">
          <p class="data_liquidacion">{{lega.horas}}</p>
        </div>
        <div class="col-md-1 no-padding">
          <p class="data_liquidacion">
            {{lega.antiguedad.anios}} años, {{lega.antiguedad.meses}} meses
          </p>
        </div>
        <div class="col-md-1 no-padding">
          <a class="icon_borrar-empresa" ui-sref='editarLegajo({id:lega._id, periodoid:periodo._id, liquidacion:0})'>
            <i class="material-icons">create</i>
          </a>
          <a class="icon_borrar-empresa" ng-click="eliminarLegajo(lega)">
            <i class="material-icons">delete</i>
          </a>
        </div>
      </div>
      <center >
        
        <md-button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
          <i class="fa fa-angle-double-left" aria-hidden="true"></i>
        </md-button>

        <span class="page-number">
          {{ currentPage+1}}/{{numberOfPages(searchLegajo)}}
        </span>

        <md-button ng-disabled="currentPage >= getLegajosFiltered(searchLegajo).length/pageSize - 1" ng-click="currentPage=currentPage+1">
          <i class="fa fa-angle-double-right" aria-hidden="true"></i>
        </md-button>
      </center>
    </div>

    <div class="col-xs-12">
      <md-button ng-if="periodo.sac" ng-click="calcularSAC(periodo)">
        Calcular SAC
      </md-button>
      <md-button ng-disabled="periodo.estado == 'cerrado'" ng-click="cerrarPeriodo(periodo, colegio)">
        Cerrar periodo
      </md-button>
      <md-button ng-click="exportarMemos(periodo, colegio)">
        Exportar memos
      </md-button>
      <md-button ng-click="gananciasTodosCalculo()" ng-hide="periodo.sac">
        calcular Ganancias
      </md-button>
      <md-button ng-click="legajosActivos()">
        Legajos activos
      </md-button>
    </div>
  </div>

  <div class="datos hidden-datos" ng-class="{'col-md-2' : !collapse, 'col-md-10' : collapse}" >

    <div class="col-md-9">
      <h3>{{legajoDetalle.persona.nombre}} ({{legajoDetalle.numero_legajo}}) |
        <span class="cargo">
          {{legajoDetalle.subempresa.descripcion}} - {{legajoDetalle.cargo.nomenclatura}} {{legajoDetalle.horas}}hs
          | {{legajoDetalle.antiguedad.anios}} años, {{legajoDetalle.antiguedad.meses}} meses
        </span>
      </h3>
    </div>
    <div class="col-md-3">
      <h3>
        <button ng-click="closeLiquidacion()" ng-show="collapse" class="btn btn-small-arrow pull-right">
          <i class="fa fa-arrow-left " aria-hidden="true"></i>
        </button>
      </h3>
    </div>

    <div class="col-md-12 no-padding acciones">
      <a ui-sref="editarLegajo({id:legajoDetalle._id, periodoid:periodo._id, liquidacion:legajoDetalle._id})">
        <i class="editar_legajo"></i>Editar Legajo
      </a>
      <a ng-click="agregarConcepto(legajoDetalle._id)" ng-show="legajoDetalle.estado != 'baja'">
        <i class="agregar"></i>Conceptos
      </a>
      <a ng-click="memo(datosLiquidacion)">
        <span class="glyphicon glyphicon-envelope"></span> Memo
      </a>

        <md-input-container style="margin-top:0px; margin-left:0px">
          <label>Otros legajos</label>
          <md-select ng-model="legajoPersona" ng-change="changeLegajo(legajoPersona)">
            <md-option ng-repeat="ol in otrosLegajos" ng-value="ol">
              {{ol.legajo.numero}} - {{ol.legajo.cargo.nombre}} - {{ol.legajo.subempresa.descripcion}}
            </md-option>
          </md-select>
        </md-input-container>
    </div>
    
    <div ng-if="verConceptos" class="buscador-conceptos" ng-keypress="cerrarConceptosEsc($event)" >
        <shortcut></shortcut>
      <div class="body table table-hover">
        <div class="col-md-12 view-row no-padding" ng-class="[{true:lega.estado}[true], {true: 'active'}[lega.id == legajoDetalle.id]]">
          <md-input-container class="md-block" flex-gt-sm>
            <div class="col-sm-10">
              <label>Buscar</label>
              <input type="text" ng-model="searchTextConcepto" ng-change="resetPageConceptos()" md-autofocus>
            </div>
            <div class="col-sm-2">
              <md-button ng-click="agregarConcepto(legajoDetalle._id)">
                <i class="fa fa-times" aria-hidden="true"></i>
              </md-button>
            </div>
          </md-input-container>

          <table class="table table-hover table-conceptos">
            <thead>
              <tr>
                <th>Código</th>
                <th>Descripción</th>
              </tr>
            </thead>
            <tbody>
              <tr 
              ng-repeat="concepto in conceptos | filter:searchTextConcepto | startFrom:paginaConceptos * pageSize | limitTo:pageSize" 
                ng-click="conceptoSeleccionado(concepto,datosLiquidacion)">
                <td>{{ concepto.codigo }}</td>
                <td>{{ concepto.descripcion }}</td>
              </tr>
            </tbody>
          </table>

          <center>
            <md-button ng-disabled="paginaConceptos == 0" ng-click="paginaConceptos = paginaConceptos-1">
              <i class="fa fa-angle-double-left" aria-hidden="true"></i>
            </md-button>
            <span class="page-number">
              {{paginaConceptos+1}}/{{numberOfPagesConceptos(searchTextConcepto)}}
            </span>
            <md-button 
              ng-disabled="paginaConceptos >= numberOfPagesConceptos(searchTextConcepto)" 
              ng-click="paginaConceptos = paginaConceptos + 1">
              <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            </md-button></br>
          </center>
          
        </div>
      </div>
    </div>

    <div class="col-md-12 no-padding" ng-show="legajoDetalle.estado != 'baja'">
      <div class="table-responsive">

        <table class="table table-hover">
          <thead>
            <tr>
              <th>Código</th>
              <th>Descripción</th>
              <th>Remunerativo</th>
              <th>No remunerativo</th>
              <th>Deducciones</th>
              <th>Fijo</th>
              <th>Activo</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="liq in liquidacion | orderBy: ['tipo_remuneracion', 'codigo']" ng-class='pintarRow(liq.tipo_remuneracion, liq.sac)'>
              <td>{{liq.codigo}} </td>
              <td>{{liq.descripcion}} </td>
              <td class="liquidacion-importes">{{liq.renumerativo}}</td>
              <td class="liquidacion-importes">{{liq.no_renumerativo}}</td>
              <td class="liquidacion-importes">{{liq.deduccion}}</td>
              <!--  <td>{{liq.deducciones}}</td>  -->
              <td>
                <md-switch class="md-primary" ng-model="liq.fijo" ng-true-value="true" ng-false-value="false" ng-change="cambiarSwitch(liq)"
                aria-label="Fijo">
              </md-switch>
            </td>
            <td>
              <md-switch class="md-primary" 
                ng-model="liq.activo"
                ng-true-value="true" 
                ng-false-value="false" 
                ng-change="cambiarSwitch(liq, true)" 
                aria-label="Activo">
              </md-switch>
            </td>
            <td>
              <a class="editar_legajo pointer" ng-click="mesesFijo(liq)">
                <i class="fa fa-calendar" aria-hidden="true"></i>
              </a>
            </td>
            <td>
              <a class="editar_legajo pointer" ng-click="editLiquidacion(liq)">
                <img src="img/editar_icon.png">
              </a>
            </td>
            <td>
              <a ng-click="deleteLiquidacion(liq)" class="pointer">
                <img src="img/borrar_icon.png">
              </a>
            </td>
          </tr>
        </tbody>
      </table>

      <div class='totales liquidacion-importes'>
        <div class="">
          <span>Remunerativo</span>
          <span>{{ numberToMoney(totales.remunerativo) }} </span>
        </div>
        <div class="">
          <span>No remunerativo</span>
          <span>{{ numberToMoney(totales.no_remunerativo) }}</span>
        </div>
        <div class="">
          <span>Deducciones</span>
          <span>{{ numberToMoney(totales.deducciones) }}</span>
        </div>
        <div class="">
          <span>Bruto</span>
          <span>{{ numberToMoney(totales.bruto) }}</span>
        </div>
        <div class="">
          <span>Neto</span>
          <span>{{ numberToMoney(totales.neto) }}</span>
        </div>
        <br><br>
        <div class="blue">
          <span>Total Legajos Bruto</span>
          <span>{{ numberToMoney(totales.total_bruto) }}</span>
        </div>
        <div class="blue">
          <span>Total Legajos Neto</span>
          <span>{{ numberToMoney(totales.total_neto) }}</span>
        </div>
      </div>
      
      <div class="col-xs-12">
        <md-button 
          ng-show="datosLiquidacion.legajo.persona.datos_administrativos.agente_retencion"
          ng-disabled="periodo.estado == 'cerrado'" 
          ng-click="ganancias(datosLiquidacion, totales)"
          ng-hide="periodo.sac"
        >
          Ganancias
        </md-button>
      </div>
    </div>
  </div>
</md-content>