    <md-content class="md-padding">							
        <div class="col-xs-12 col-md-12 wrap-empresas ">
            <div class="container empresas list inner">
                <div class="col-md-12 no-padding">
                    <div class="col-md-12 title-seccion-container">
                        <h1 class="sub-seccion-h1">Periodos</h1>
                        <md-button ui-sref="periodos.crear({empresaid:colegio._id})" class="pull-right md-raised agregar btn-orange">Crear Periodo</md-button>
                    </div>
                    <form class="busqueda col-md-12">
                        <div class="col-md-4 no-padding">
                            <i class="fa fa-search" aria-hidden="true"></i>
                            <input type="text" class="form-control" placeholder="Nombre de Periodo" ng-model="periodosFilter">
                        </div>
                    </form>
                    <div class="table-responsive col-md-12">
                        <table class="table table-hover">
                            <caption>Periodos:</caption>
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Fecha Inicio</th>
                                    <th>Fecha Fin</th>
                                    <th>Cerrado</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody ng-repeat="per in periodosEmpresa | orderBy: 'fecha_fin'">
                                <tr>
                                    <td ui-sref="periodos.ver({id:per._id})">{{per.descripcion}}</td>
                                    <td ui-sref="periodos.ver({id:per._id})">{{per.fecha_inicio | date:'dd/MM/yyyy' : 'UTC'}}</td>
                                    <td ui-sref="periodos.ver({id:per._id})">{{per.fecha_fin | date:'dd/MM/yyyy' : 'UTC'}}</td>
                                    <td ui-sref="periodos.ver({id:per._id})">{{(per.cerrado) ?  'Si' : 'No'}}</td>
                                    <td class="text-right">
                                        <a class="icon_borrar-empresa" ui-sref="periodos.editar({id:per._id, ver: 0})">
                                            <i class="material-icons">create</i>
                                        </a>
                                        <a class="icon_borrar-empresa" ng-click="periodoEliminar($event, per)">
                                            <i class="material-icons">delete</i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <paging page="pageGanancias" page-size="pageSize" total="totalGanancias" show-prev-next="true" show-first-last="true" paging-action="paginarGanancias(page)">>
                        </paging>
                    </div>
                </div>
            </div>
    </md-content>
