<div class="col-xs-12 col-md-12 wrap-empresas">
    <div class="container empresas list">
    <div class="col-md-12 no-padding">
      <div class="col-md-12 title-seccion-container">
        <h1 class="sub-seccion-h1">Padrón</h1>
        <md-button ui-sref="padron.crear({empresaid:colegio._id, periodoid: periodo._id})" class="pull-right md-raised agregar btn-orange">Ingresar Persona</md-button>
        <md-button ng-click="modalImportar()" class="pull-right md-raised agregar btn-orange">Importar CSV</md-button>
      </div>
      <form class="busqueda col-md-10">
        <div class="col-md-6 no-padding">
          <i class="fa fa-search" aria-hidden="true"></i>
          <input type="text" class="form-control" 
            placeholder="Nombre de persona o cuit" 
            ng-model="searchTextPersonas" 
            ng-change="getSearchPersonas(searchTextPersonas)"
          >
        </div>
      </form>
      
      <div class="table-responsive col-md-12">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>CUIL</th>
              <th>Sexo</th>
              <th></th>
            </tr>
          </thead>
          <tbody ng-repeat="item in personas">
            <tr>
              <td ng-bind="item.nombre" ui-sref="padron.ver({id : item._id, empresa : colegio._id})"></td>
              <td ng-bind="item.cuil" ui-sref="padron.ver({id : item._id, empresa : colegio._id})"></td>
              <td ng-bind="item.sexo" ui-sref="padron.ver({id : item._id, empresa : colegio._id})"></td>
              <td class="text-right">
                <a class="icon_borrar-empresa" ui-sref="padron.editar({id : item._id, ver: 0, empresa : colegio._id})"><i class="material-icons">create</i></a>
                <a href="#" class="icon_borrar-empresa" ><i ng-click="eliminarPersona($event, item)" class="material-icons">delete</i></a>
              </td>

              <a class="icon_borrar-empresa">
                <i class="material-icons">create</i>
              </a>
              <a class="icon_borrar-empresa">
                <i class="material-icons">delete</i>
              </a>
            </tr>
          </tbody>
        </table>
        <center id="paginador">
          <md-button ng-disabled="paginaPadron <= 1" ng-click="cambiarPagina(-1)">
              <i class="fa fa-angle-double-left" aria-hidden="true"></i>
          </md-button>
          <span class="page-number">
              {{paginaPadron }}/{{ paginasPadron(totalPardon) }}
          </span>
          <md-button ng-disabled="paginaPadron >= paginasPadron(totalPardon)" ng-click="cambiarPagina(1)">
              <i class="fa fa-angle-double-right" aria-hidden="true"></i>
          </md-button>
        </center>
      </div>
    </div>
  </div>
