<md-content class="md-padding">
  <div class="col-xs-12 col-md-12 wrap-empresas ">
    <div class="container empresas list inner">
      <div class="col-md-12 no-padding">

        <div class="col-md-12 title-seccion-container">
          <h1 class="sub-seccion-h1">Reportes</h1>
          <md-button ng-click="tablaSubsidios()" class="md-raised agregar btn-orange">Configuración tabla subsidios</md-button>
        </div>

        <div class="col-md-12">
          <div ng-click="asientosContables()">
            <h4>
              <i class="fa fa-download" aria-hidden="true"></i> - Asientos contables </h4>
          </div>
        </div>
        <div class="col-md-12">
          <div ng-click="reporteModal('netos')">
            <h4>
              <i class="fa fa-download" aria-hidden="true"></i> - Sueldos netos</h4>
          </div>
        </div>
        <div class="col-md-12">
          <div ng-click="reporteModal('brutos')">
            <h4>
              <i class="fa fa-download" aria-hidden="true"></i> - Sueldos Brutos</h4>
          </div>
        </div>
        <div class="col-md-12">
          <div ng-click="reporteConceprosNoRemu()">
            <h4>
              <i class="fa fa-download" aria-hidden="true"></i> - Conceptos no remunerativos
            </h4>
          </div>
        </div>
        <div class="col-md-12">
          <div ng-click="reporteDeBajas()">
            <h4>
              <i class="fa fa-download" aria-hidden="true"></i> - Reporte de bajas
            </h4>
          </div>
        </div>
        <div class="col-md-12">
          <div ng-click="reporteCambioAntiguedad()">
            <h4>
              <i class="fa fa-download" aria-hidden="true"></i> - Reporte de cambio de antiguedad
            </h4>
          </div>
        </div>
        <div class="col-md-12">
          <div ng-click="padronSubempresa()">
            <h4>
              <i class="fa fa-download" aria-hidden="true"></i> - Padron por subempresa
            </h4>
          </div>
        </div>
        <div class="col-md-12">
          <div ng-click="reporteSueldos()">
            <h4>
              <i class="fa fa-download" aria-hidden="true"></i> - Reporte de sueldos
            </h4>
          </div>
          <div ng-click="listadoPersonal()">
            <h4>
              <i class="fa fa-download" aria-hidden="true"></i> - Listado de personal
            </h4>
          </div>
        </div>
        <div class="col-md-12 title-seccion-container">
          <h1 class="sub-seccion-h1">Listados</h1>
        </div>
        <div class="col-md-12">
          <div ng-click="seleccionSubEmpresa('personasCuil')">
            <h4>
              <i class="fa fa-download" aria-hidden="true"></i> - Listado de persona y cuiles
            </h4>
          </div>
          <div ng-click="seleccionSubEmpresa('suplentes')">
            <h4>
              <i class="fa fa-download" aria-hidden="true"></i> - Listado de suplentes
            </h4>
          </div>
          <div ng-click="seleccionSubEmpresa('novedades')">
            <h4>
              <i class="fa fa-download" aria-hidden="true"></i> - Listado de novedades
            </h4>
          </div>
          <div ng-click="seleccionConceptos('conceptos')">
            <h4>
              <i class="fa fa-download" aria-hidden="true"></i> - Listado de conceptos
            </h4>
          </div>
          <div ng-click="seleccionConceptos('forzados')">
            <h4>
              <i class="fa fa-download" aria-hidden="true"></i> - Listado de conceptos forzados
            </h4>
          </div>
          <div ng-click="seleccionSubEmpresa('estadistica_persona')">
            <h4>
              <i class="fa fa-download" aria-hidden="true"></i> - Listado de estadística de conceptos por persona
            </h4>
          </div>
          <div ng-click="seleccionSubEmpresa('estadistica_subempresa')">
            <h4>
              <i class="fa fa-download" aria-hidden="true"></i> - Listado de estadística de conceptos por subempresa
            </h4>
          </div>

          </br>
          <div ng-click="seleccionSubEmpresa('caja_complementaria')">
            <h4>
              <i class="fa fa-download" aria-hidden="true"></i> - Caja complementaria
            </h4>
          </div>
          <div ng-click="seleccionSubEmpresa('resumen_caja_complementaria')">
            <h4>
              <i class="fa fa-download" aria-hidden="true"></i> - Resumen de Caja complementaria
            </h4>
          </div>
          <div ng-click="configCajaComplementaria()">
            <h5>
              Configuración caja complementaria
            </h5>
          </div>

        </div>

        <div class="col-md-12 title-seccion-container">
          <h1 class="sub-seccion-h1">Recibos</h1>
        </div>

        <div class="col-md-12">
          <!-- <div ng-click="vertical()"> -->
          <div ng-click="reciboBlancoModal()">
            <h4>
              <i class="fa fa-download" aria-hidden="true"></i> - Recibos Blancos</h4>
          </div>
        </div>
        <div class="col-md-12">
          <!-- <div ng-click="vertical()"> -->
          <div ng-click="reciboModal('a4.horizontal')">
            <h4>
              <i class="fa fa-download" aria-hidden="true"></i> - Recibos A4 horizontal (Piscuí)</h4>
          </div>
        </div>

        <div class="col-md-12">
          <div ng-click="reciboOficioModal()">
            <h4>
              <i class="fa fa-download" aria-hidden="true"></i> - Recibos Oficio</h4>
          </div>
        </div>

        <div class="col-md-12">
          <div ng-click="reciboModal('a4.azul')">
            <h4>
              <i class="fa fa-download" aria-hidden="true"></i> - Recibos Azules</h4>
          </div>
        </div>

        <div class="col-md-12">
          <div ng-click="afipCargasSociales()">
            <h4>
              <i class="fa fa-download" aria-hidden="true"></i> - AFIP cargas sociales</h4>
          </div>
        </div>

        <div class="col-md-12">
          <div ng-click="modalDGEGP()">
            <h4>
              <i class="fa fa-download" aria-hidden="true"></i> - Rendición a DGEGP </h4>
          </div>
        </div>

        <!-- <div class="col-md-12">
          <div ng-click="obrasSociales()">
            <h4><i class="fa fa-download" aria-hidden="true"></i> - Obras sociales</h4> 
          </div>
        </div>-->
      </div>
    </div>
</md-content>