<md-content class="md-padding">
    <div class="col-xs-12 col-md-12 wrap-empresas ">
        <div class="container empresas list inner">
            <div class="col-md-12 no-padding">
                <div class="col-md-12 title-seccion-container">
                    <h1 class="sub-seccion-h1">Sub Empresas</h1>
                    <md-button ui-sref="crearSubEmpresas({empresaid:colegio._id, periodoid: periodo._id})" class="pull-right md-raised agregar btn-orange">Crear Sub Empresa</md-button>
                </div>
                <form class="busqueda col-md-12">
                    <div class="col-md-4 no-padding">
                        <i class="fa fa-search" aria-hidden="true"></i>
                        <input type="text" class="form-control" placeholder="Nombre de empresa, cuit, dirección, etc" ng-model="subempresaFilter">
                    </div>
                </form>
                <div class="table-responsive col-md-12">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Descripción</th>
                                <th>Código</th>
                            </tr>
                        </thead>
                        <tbody ng-repeat="item in subempresas | filter: { descripcion: subempresaFilter }">
                            <tr>
                                <td ui-sref="verSubEmpresas({id:item._id, empresaid:colegio._id, periodoid: periodo._id})">{{ item.descripcion }}</td>
                                <td ui-sref="verSubEmpresas({id:item._id, empresaid:colegio._id, periodoid: periodo._id})">{{ item.codigo }}</td>
                                <td class="text-right">
                                    <a class="icon_borrar-empresa" ui-sref="clonarSubempresa({subempresaid:item._id, periodoid:colegio._id, ver:0, periodoid: periodo._id})">
                                        Clonar
                                    </a>
                                    <a class="icon_borrar-empresa" ui-sref="editarSubEmpresas({id:item._id, empresaid:colegio._id, ver:0, periodoid: periodo._id})">
                                        <i class="material-icons">create</i>
                                    </a>
                                    <a class="icon_borrar-empresa" ng-click="subempresaEliminar($event, item)">
                                        <i class="material-icons">delete</i>
                                    </a>
                                </td>
                                <a class="icon_borrar-empresa">
                                    <i class="material-icons">clone</i>
                                </a>
                                <a class="icon_borrar-empresa">
                                    <i class="material-icons">create</i>
                                </a>
                                <a class="icon_borrar-empresa">
                                    <i class="material-icons">delete</i>
                                </a>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

</md-content>