<md-content class="md-padding">
    <!-- Conceptos -->
    <div class="col-xs-12 col-md-12 wrap-empresas ">
        <div class="container empresas list inner">
            <div class="col-md-12 no-padding">
                <div class="col-md-12 title-seccion-container">
                    <h1 class="sub-seccion-h1">Variables</h1>
                    <md-button ui-sref="crear({empresaid:colegio._id, periodoid: periodo._id})" class="pull-right md-raised agregar btn-orange">
                    <!-- <md-button ui-sref="crearSubEmpresas({empresaid:colegio._id, periodoid: periodo._id})" class="pull-right md-raised agregar btn-orange"> -->
                        Crear variable
                    </md-button>
                </div>
                <form class="busqueda col-md-12">
                    <div class="col-md-4 no-padding">
                        <i class="fa fa-search" aria-hidden="true"></i>
                        <input type="text" class="form-control" placeholder="" ng-model="variableFilter">
                    </div>
                </form>
                <div class="table-responsive col-md-12">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Campo 1</th>
                                <th>Campo 2</th>
                                <th>Campo 3</th>
                                <th>Campo 4</th>
                                <th>Campo 5</th>
                                <th></th>
                                <th>Valor</th>
                            </tr>
                        </thead>
                        <tbody ng-repeat="item in variables | filter: variableFilter | startFrom:variablePager.currentPage*variablePager.pageSize | limitTo:variablePager.pageSize">
                            <tr>
                                <td>{{item.campo_1}}</td>
                                <td>{{item.campo_2}}</td>
                                <td>{{item.campo_3}}</td>
                                <td>{{item.campo_4}}</td>
                                <td>{{item.campo_5}}</td>
                                <td><strong>=</strong></td>
                                <td>{{item.valor}}</td>
                                <td class="text-right">
                                    <a class="icon_borrar-empresa" ui-sref="editar({id: item._id})">
                                        <i class="material-icons">create</i>
                                    </a>
                                    <a class="icon_borrar-empresa">
                                        <i ng-click="variableEliminar($event, item)" class="material-icons">delete</i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <center id="pager">
                    <md-button ng-disabled="variablePager.currentPage == 0" ng-click="variablePager.currentPage=variablePager.currentPage-1">
                        <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                    </md-button>
                    <span class="page-number">
                        {{variablePager.currentPage+1}}/{{variablePager.numberOfPages()}}
                    </span>
                    <md-button ng-disabled="variablePager.currentPage >= variablesFiltered().length/pageSize - 1" ng-click="variablePager.currentPage=variablePager.currentPage+1">
                        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                    </md-button>
                </center>
            </div>
        </div>
</md-content>
