<div class="col-xs-12 col-md-12 wrap-empresas ">
	<div class="container empresas list">
	<div class="col-md-12 no-padding">
		<div class="col-md-12 title-seccion-container">
			<h1 class="sub-seccion-h1">Categorías</h1>
	 		<md-button ui-sref="categorias.crear" class="pull-right md-raised agregar btn-orange">Crear Categoría</md-button>
		</div>
		<form class="busqueda col-md-12">
	        <div class="col-md-4 no-padding">
	        	<i class="fa fa-search" aria-hidden="true"></i>
	          <input type="text" class="form-control" placeholder="Nombre de categoría" ng-model="searchText">
	        </div>
        	<button type="submit" class="btn-busqueda-av" ng-click="search()">Búsqueda avanzada</button>
		</form>
			<div class="table-responsive col-md-12">          
			  <table class="table table-hover">
			    <thead>
			      <tr>
			        <th>Nombre</th>
			        <th>Codigo</th>
			        <th></th>
			      </tr>
			    </thead>
			    <tbody ng-repeat="item in items">
			      <tr >
			        <td ng-bind="item.nombre" ui-sref="categorias.ver({id:item._id, search: searchText})"></td>
			        <td ng-bind="item.codigo" ui-sref="categorias.ver({id:item._id, search: searchText})"></td>
			        <td class="text-right">
								<a class="icon_borrar-empresa" ui-sref="categorias.edit({id : item._id, ver:0, search: searchText})"><i class="material-icons">create</i></a>
								<a href="#" class="icon_borrar-empresa" ng-click="confirmModal($event, item)"><i  class="material-icons">delete</i></a>
			        </td>

					<a ui-sref="editarConcepto" class="icon_borrar-empresa"><i class="material-icons">create</i></a>
			        <a class="icon_borrar-empresa" ><i class="material-icons">delete</i></a>
			      </tr>
			      <!--
			      	<tr>
			      	 	<td>Empresa Colegio 1</td>
			      	 	<td>Yerbal 985 </td>
			      	 	<td>Localidad 1</td>
			      	 	<td>5126872326</td>
			      	 	<td class="text-right"><a class="editar" href="#">editar</a> <a href="#"><img src="img/borrar_icon.png"></a></td>
			      	</tr>
			      -->
			    </tbody>
			  </table>
				
				<paging
				  	page="currentPage" 
				  	page-size="pageSize" 
				  	total="total"
				  	show-prev-next="true"
				  	show-first-last="true"
				  	paging-action="paging(page)">>
				</paging>
		  </div>
	</div>
</div>