<form ng-submit="save()" name="editForm">

<div class="col-xs-12 col-md-12 wrap-empresas ">
	<div class="container empresas list">
		<div class="col-md-12 no-padding" ng-show="guardarCategorias">
			<div class="col-md-12 no-padding box-edit-empresa">
				<div class="col-md-12 title-edit">
					<h2>Categoría</h2>
					<img src="img/borrar_icon_2.png" alt="" ng-click="showAdvanced($event)">
					<img src="img/editar_icon.png" alt="" ng-click="guardarCategorias = !guardarCategorias">
					<!--
					<div class="tooltip_atras" ui-sref="categorias.listado">
						<img src="img/atras_icon.png" alt="">
						<md-tooltip md-direction="top">Volver</md-tooltip>
            		</div>
					-->	
				</div>
				<div class="col-md-12 no-padding ">
			        <div class="col-md-12 container_create-emp">
			          <div class="line-input_emp">
			            <div class="md-block input_sia-min guardar_input">
			              <label>Nombre</label>
			              <span>{{categoria.nombre}}</span>
			            </div>
			          </div>
			          <div class="line-input_emp">
			            <div class="md-block input_sia-min guardar_input">
			              <label>Codigo</label>
			              <span>{{categoria.codigo}}</span>
			            </div>
			          </div>
  			          <div class="line-input_emp">  
					    <md-dialog-actions layout="row">
					      <span flex></span>
					      <md-button class="md-primary rellono-blue">
					        GUARDAR
					      </md-button>
					      <md-button class="md-primary rellono-white">
					       CANCELAR
					      </md-button>
					    </md-dialog-actions>
					   </div>
			          <div>
			          </div>

				</div>
			</div>
		</div>
		</div>
		<div class="col-md-12 no-padding " ng-show="!guardarCategorias">
			<div class="col-md-12 no-padding box-edit-empresa">
				<div class="col-md-12 title-edit">
					<h2>Editar categoría</h2>
					<!--
					<div class="tooltip_atras" ng-click="cancelar()">
						<img src="img/atras_icon.png" alt="">
						<md-tooltip md-direction="top">Volver</md-tooltip>
            		</div>
					-->
				</div>
				<div class="col-md-12 no-padding ">
			        <div class="col-md-12 container_create-emp">
			          <div class="line-input_emp">
			            <md-input-container class="md-block input_sia" flex-gt-sm>
			              <label>Nombre</label>
			              <input required ng-model="categoria.nombre">
			            </md-input-container>
					  </div>
			          <div class="line-input_emp">
			            <md-input-container class="md-block input_sia-min" flex-gt-sm>
			              <label>Codigo</label>
			              <input  name="codigo" required ng-model="categoria.codigo" md-maxlength="3" maxlength="3">
			              <div ng-messages="editForm.codigo.$error" ng-show="editForm.codigo.$error">
    						  <div ng-message="md-maxlength">El formulario solo te guarda 3 primeras letras del codigo</div>
    					  </div>
			            </md-input-container>
			          </div>
			        <div>
		        </div>
  			          <div class="line-input_emp">  
					    <md-dialog-actions layout="row">
					      <span flex></span>
					       <!--ng-click="guardarCategorias = !guardarCategorias"-->
					      <md-button type="submit" class="md-primary rellono-blue">
					        GUARDAR
					      </md-button>
					      <md-button class="md-primary rellono-white" ng-click="cancelar()">
					       	CANCELAR
					      </md-button>
					    </md-dialog-actions>
  			          </div>
				</div>
			</div>
		</div>
	</div>
</div>

</form>